{% extends "workshops:navigation_fixed.html" %}

{% load navigation %}

{% block right-dropdown %}
  {% navbar_element_permed "New event" "event_add" "workshops.add_event" %}
  {% navbar_element_permed "New organization" "organization_add" "workshops.add_organization" %}
  {% navbar_element_permed "New person" "person_add" "workshops.add_person" %}
  {% navbar_element_permed "New task" "task_add" "workshops.add_task" %}
  <li class="divider"></li>
  {% navbar_element_permed "Bulk import conference" "bulk_import_select" "workshops.is_superuser" %}
{% endblock right-dropdown %}
