{% extends "base_nav_sidebar.html" %}


{% block content %}
  {% if perms.fiscal.add_consortium %}
  <p><a href="{% url 'consortium-create' %}" class="btn btn-success">New consortium</a></p>
  {% else %}
  <p><a href="#" class="btn btn-success disabled">New consortium</a></p>
  {% endif %}

  {% if object_list %}
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Organisations</th>
      </tr>
      {% for object in object_list %}
      <tr>
        <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
        <td>{{ object.description }}</td>
        <td>
            {% if object.organisations.all %}
                <ul>
                {% for organisation in object.organisations.all %}
                <li><a href="{{ organisation.get_absolute_url }}">{{ organisation }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                &mdash;
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No consortiums.</p>
  {% endif %}
{% endblock %}
