{% extends "base_nav_sidebar.html" %}
{% load pagination %}

{% block content %}
  {% if perms.fiscal.add_partnership %}
  <p><a href="{% url 'partnership-create' %}" class="btn btn-success">New partnership</a></p>
  {% else %}
  <p><a href="#" class="btn btn-success disabled">New partnership</a></p>
  {% endif %}

  {% if object_list %}
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Organisation / Consortium</th>
        <th>Tier</th>
        <th>Credits (used / allowed)</th>
        <th>Dates</th>
      </tr>
      {% for object in object_list %}
      <tr>
        <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
        <td>
          {% if object.partner_consortium %}
            <a href="{{ object.partner_consortium.get_absolute_url }}">{{ object.partner_consortium }}</a> (consortium)
          {% elif object.partner_organisation %}
            <a href="{{ object.partner_organisation.get_absolute_url }}">{{ object.partner_organisation }}</a>
          {% else %}
            &mdash;
          {% endif %}
        </td>
        <td>{{ object.tier }}</td>
        {% if not object.account %}
        <td>
          No account
        </td>
        {% elif object.credits_used > object.credits %}
        <td class="bg-warning">
          {{ object.credits_used }} / {{ object.credits }} <i class="fas fa-exclamation-circle" data-toggle="tooltip" title="Credits used exceed allowed"></i>
        </td>
        {% else %}
        <td>
          {{ object.credits_used }} / {{ object.credits }}
        </td>
        {% endif %}
        </td>
        <td>{{ object.agreement_start|date:"Y-m-d" }} &mdash; {{ object.agreement_end|date:"Y-m-d" }}</td>
      </tr>
      {% endfor %}
    </table>
    {% pagination object_list %}
  {% else %}
    <p>No partnerships.</p>
  {% endif %}
{% endblock %}
