{% extends "base_nav_fixed.html" %}

{% load crispy_forms_tags %}
{% load selectable_tags %}

{% block content %}
<form role="form" class="form-horizontal" method="post" novalidate>
  <div class="panel-group" id="accordion" role="tablist">
  {% csrf_token %}
  {{ form.management_form }}
  {% for subform in form %}
    <div class="panel panel-default {% if subform.errors %}panel-danger{% else %}panel-primary{% endif %}">
      <div class="panel-heading accordion-toggle collapsed" role="tab">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#accordian-{{ forloop.counter }}">
            {% block panel-heading %}
            {% endblock panel-heading %}
          </a>
        </h3>
      </div>
      <div id="accordian-{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
          {% crispy subform %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="form-actions">
    <input type="submit" name="submit" value="Proceed" class="btn btn-primary" id="submit-save">
  </div>
</form>
{% endblock %}
