{% extends "base_nav.html" %}
{% load links dates communityroles %}


{% block content %}

<div class="edit-object">
  {% if perms.communityroles.change_communityrole %}
  <a href="{% url 'communityrole_edit' role.pk %}" class="btn btn-primary">Edit</a>
  {% else %}
  <a href="" class="btn btn-primary disabled">Edit</a>
  {% endif %}
</div>

<table class="table table-striped">
  <tr>
    <th>Person</th>
    <td><a href="{{ role.person.get_absolute_url }}">{{ role.person }}</a></td>
  </tr>
  <tr>
    <th>Role</th>
    <td>{{ role.config }}</td>
  </tr>
  <tr>
    <th>Dates</th>
    <td>
      {% if role.start %}
      {% community_role_human_dates role %}
      {% else %}
      &mdash;
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Award</th>
    <td>
      {{ role.award|default_if_none:"&mdash;" }}
    </td>
  </tr>
  <tr>
    <th>Inactive?</th>
    <td>{{ role.inactivation|default_if_none:"&mdash;" }}</td>
  </tr>
  <tr>
    <th>Membership</th>
    <td>
      {% if role.membership %}
      <a href="{{ role.membership.get_absolute_url }}">{{ role.membership }}</a>
      {% else %}
      &mdash;
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>URL</th>
    <td>{{ role.url|default:"&mdash;"|urlize_newtab }}</td>
  </tr>
  <tr>
    <th>Related object</th>
    <td>
      {% if role.config.generic_relation_content_type and role.generic_relation %}
      {{ role.generic_relation|title }}
      {% else %}
      &mdash;
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Custom keys</th>
    <td>
      {% if role.custom_keys %}
        <dl>
        {% for label, value in role.custom_keys %}
          <dt>{{ label }}:</dt>
          <dd>{{ value|default:"&mdash;" }}</dd>
        {% endfor %}
        </dl>
      {% else %}
      &mdash;
      {% endif %}
    </td>
  </tr>
</table>

<div class="clearfix">
  {% if perms.communityroles.change_communityrole %}
  <p class="edit-object float-start"><a href="{% url 'communityrole_edit' role.pk %}" class="btn btn-primary">Edit</a></p>
  {% else %}
  <p class="edit-object float-start"><a href="" class="btn btn-primary disabled">Edit</a></p>
  {% endif %}
  <div class="delete-object float-end">
    {% if perms.communityroles.delete_communityrole %}
      <form action="{% url 'communityrole_delete' role.pk %}?next={{ role.person.get_absolute_url }}" onsubmit='return confirm("Are you sure you wish to remove role \"{{ role.config }}\" from user \"{{ role.person }}\"?")' method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    {% else %}
    <button class="btn btn-danger disabled">Delete</button>
    {% endif %}
  </div>
</div>

{% endblock content %}
