repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: poetry run ruff format
        require_serial: true
        language: system
        types: [python]

      - id: ruff-linter
        name: Ruff Linter
        entry: poetry run ruff check --fix
        require_serial: true
        language: system
        types: [python]

      - id: mypy
        name: Python Typing (mypy) strict
        entry: poetry run mypy --follow-imports=silent
        require_serial: true
        language: system
        types: [python]
