repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format
        require_serial: true
        language: system
        types: [python]

      - id: ruff-linter
        name: Ruff Linter
        entry: uv run ruff check --fix
        require_serial: true
        language: system
        types: [python]

      - id: mypy
        name: Python Typing (mypy) strict
        entry: uv run mypy
        require_serial: true
        language: system
        types: [python]
