[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
argon2-cffi = "~=21.3.0"
django-anymail = "~=8.4"
django-contrib-comments = "~=2.2.0"
django-countries = "~=7.6.1"
django-crispy-forms = "~=1.13.0"
django-debug-toolbar = "~=4.3"
django-environ = "~=0.9.0"
django-extensions = "~=3.2.3"
django-filter = "~=22.1"
django-markdownx = "~=3.0.1"
django-recaptcha = "~=3.0.0"
django-reversion = "~=4.0.0"
django-reversion-compare = "~=0.15"
django-redis = "~=5.0.0"
django-rq = "~=2.10.2"
django-select2 = "~=7.10.0"
djangorestframework = "~=3.15"
djangorestframework-csv = "~=2.1.1"
drf-nested-routers = "~=0.93.4"
django-formset-js-improved = "~=0.5.0.2"
psycopg2 = "~=2.9.5"
pygithub = "~=1.55"
pyyaml = "~=6.0"
redis = "~=4.5.4"
requests = "~=2.31.0"
rq = "~=1.16.1"
rq-scheduler = "~=0.13.0"
social-auth-core = "~=4.1.0"
social-auth-app-django = "~=5.0.0"
gunicorn = "~=22.0.0"
whitenoise = "~=6.6"
django-better-admin-arrayfield = "==1.4.2"
django-test-migrations = "~=1.3.0"
typing-extensions = "*"
django-flags = "~=5.0.13"
pydantic = "~=2.5.2"
django-rest-knox = "~=4.2.0"

[dev-packages]
django-webtest = "~=1.9.8"
faker = "~=9.3.1"
fakeredis = "~=2.14.1"
mkdocs = "~=1.4.2"
mkdocs-material = "~=8.5.11"
requests-mock = "~=1.9.3"
tblib = "~=1.7.0"
flake8 = "*"
mypy = "*"
black = "*"
pre-commit = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
typing-extensions = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
