Django==2.2.13
PyYAML==5.1
requests==2.22.0
requests-mock==1.7.0
django-crispy-forms==1.7.2
# replaces django-autocomplete-light
django-select2==7.2.0
django-countries==5.3.2
django-filter==2.2.0
django-reversion==2.0.13
django-reversion-compare==0.8.4
diff-match-patch==20121119
djangorestframework==3.11.0
djangorestframework-csv==2.1.0
djangorestframework-yaml==1.0.3
drf-nested-routers==0.91
django-recaptcha==1.4.0
Faker==0.9.1
django-compressor==2.3
PyGithub==1.43.2
social-auth-core==3.3.3
social-auth-app-django==3.1.0
django-webtest==1.9.3
django-debug-toolbar==1.10.1
django-extensions==2.2.5
django-anymail==7.0
django-environ==0.4.5
argon2-cffi==19.2.0
django-contrib-comments==1.9.0
django-markdownx==3.0.1
Markdown==3.2.1
mkdocs==1.1.2
Pillow==7.1.0
redis==3.4.1
django-redis==4.11.0
rq==1.2.2
django-rq==2.3.0
rq-scheduler==0.9.1
click==7.0
croniter==0.3.30
# faking Redis server
fakeredis==1.2.1
lupa==1.9
cryptography==2.9
