Django>=1.9,<1.10
PyYAML
requests>=2.0
requests-mock>=0.7,<0.8
django-crispy-forms>=1.6,<1.7
git+https://github.com/mlavin/django-selectable.git@45b0dc8c4e6351afc9986b7edf2e45c3416cd66e#egg=django-selectable
django-countries>=3.4,<3.5
django-filter>=0.12,<0.13
django-reversion>=1.10,<1.11
diff-match-patch>=20121119
djangorestframework>=3.3.0,<3.4.0
djangorestframework-yaml>=1.0.0,<1.1.0
djangorestframework-csv>=1.4.0,<1.5.0
django-recaptcha>=1.0.0,<1.1.0
fake-factory>=0.5.3,<0.6
drf-nested-routers>=0.11.1,<0.12
django_compressor>=2.0,<2.1
pygithub>=1.26,<=1.27
python-social-auth>=0.2.19,<0.3
Requests-OAuthlib>=0.6.1,<0.7
django-app-namespace-template-loader>=0.4
django-webtest==1.8.0
django-debug-toolbar==1.5
django-extensions>=1.7,<1.8
dj-database-url>=0.4,<0.5
whitenoise>=3.3,<3.4
