/* Styles for Amy */

.warning {
    background-color: #F04040;
}

/* used in bulk-add confirmation page */
table td.editable span {
    display: block;
}

table .additional-links {
    width: 70px;
}

/* move country flag in tables a few pixels up */
.country-flag {
    width: 16px;
    height: 11px;
    margin-top: -4px;
}

/* Padding below the event edit form */
form[role="form"] {
    margin-bottom: 50px;
}

/* Padding around horizontal list of skills in find_instructor form */
.form-inline > * {
   margin:10px 5px;
}

/* make space on the right of combobox element for a "dropdown button" */
input.autocomboboxwidget {
    /*width: 90%;*/
    display: inline-block;
    margin-right: -38px !important;
}

.footer-hr {
    margin-top: 100px;
}
.footer {
    color: #767676;
    text-align: center;
    padding: 30px 0;
}

.edit-object {
    margin: 0px 0px 10px;
}

/* event, site and person notes are displayed in <pre> */
pre {
    white-space: pre-wrap;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
    border-right: 1px solid #EEE;
}

.main {
    padding: 0 40px;
}

/* navbar fixed to the top takes some space */
body {
    padding-top: 60px;
}
