body, .dropdown-menu, .btn, .form-control {
    font-size: 0.875rem;
}
.btn-sm, .btn-group-sm > .btn {
    font-size: 0.75rem;
}
.form-check-input {
    /* this accounts for change in font-size */
    margin-top: 0.125rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.main, .sidebar {
    padding-top: 0.5rem;
}
footer {
    font-size: 0.75rem;
}

.sidebar select {
    resize: vertical;
}
.sidebar .select2-container {
    min-width: 1rem;
}
.sidebar label.col-form-label {
    padding-bottom: 0;
}

label.col-form-label {
    font-weight: bold;
}

table .additional-links {
    width: 70px;
}
table .additional-links-wider {
    width: 100px;
}

.form-group small {
    font-size: 0.8rem;
}

.tab-content .tab-pane {
    padding-top: 15px;
    padding-bottom: 15px
}

.edit-object, .delete-object {
    margin-bottom: 15px;
}

.main table pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Bootstrap4 styles for <a> applied to bare <button> */
.no-btn {
    border-radius: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    color: #dc3545;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.875rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
    cursor: pointer;
    border: none;
    padding: 0;
    border-style: none;
}
.no-btn:hover {
    color: #a41d2a;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
}
.amy-form-inline {
    display: inline-block;
    margin: 0 0.5rem;
}


/* enable showing of field errors - crispy forms and bootstrap 4 */
.invalid-feedback {
    display: block;
}
