{% extends "account/_page.html" %}

{% block title %}
{% include "amy-logo.html" %}
{{ block.super }}
{% endblock %}

{% block content %}

{% if form.errors %}
  <div class="alert alert-danger" role="alert"><strong>Error:</strong>
  Your username and password didn't match.</div>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
  <div class="form-group">
    {{ form.username.label_tag }}
    {{ form.username }}
  </div>
  <div class="form-group">
    {{ form.password.label_tag }}
    {{ form.password }}
  </div>
  <div class="form-group">
    <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
  </div>
  <input type="hidden" name="next" value="{{ next }}" />
  <input type="submit" class="btn btn-default" value="Log in">
</form>

{% endblock %}
