{% extends "account/base.html" %}

{% block content %}
{% if form.errors %}
  <div class="alert alert-danger" role="alert"><strong>Error:</strong>
  Your passwords didn't match.</div>
{% endif %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">
{% csrf_token %}
  <div class="form-group">
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
  </div>
  <div class="form-group">
    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
  </div>
  <input type="submit" class="btn btn-primary" value="Change my password">
</form>
{% endblock %}
