{% extends "base_nav.html" %}

{% block content %}
<p>
    {% if object.get_absolute_url %}
    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
    {% else %}
    {{ object }}
    {% endif %}
    can't be deleted, because it's referenced by:</p>

<dl>
{% for key, items in refs.items %}
    <dt>{{ key }}:</dt>

    {% for item in items %}
    <dd>
        {% if item.get_absolute_url %}
        <a href="{{ item.get_absolute_url }}">{{ item }}</a>
        {% else %}
        {{ item }}
        {% endif %}
    </dd>
    {% endfor %}
{% endfor %}
</dl>

<p>
<a class="btn btn-primary" href="{{ back }}">Go back</a>
</p>
{% endblock %}
