{% extends "base_nav_sidebar.html" %}

{% load dates %}
{% load pagination %}

{% block content %}
  {% for object in object_list %}
  <h4 class="mt-4">
    <a href="{{ object.event.get_absolute_url }}">{{ object.event.slug }}</a>
    <span class="badge {% if object.status == "o" %}badge-warning{% elif object.status == "c" %}badge-success{% else %}badge-dark{% endif %}">
      {{ object.get_status_display }}
    </span>
  </h4>
  <p class="lead">
    <i class="far fa-calendar"></i> {% human_daterange object.event.start object.event.end %}<br>
    {% if "online" in object.event.tags.strings %}
      <i class="fa fa-globe"></i> online
    {% else %}
      <i class="fa fa-users"></i> in-person
    {% endif %}
  </p>
  <div>{{ object.notes|linebreaks }}</div>
  {% include "includes/instructorrecruitment.html" with object=object %}
  {% endfor %}
  {% pagination object_list %}
{% endblock %}
