{% extends "base_nav_sidebar.html" %}

{% load dates %}
{% load pagination %}

{% block content %}
  {% for object in object_list %}
  <h4 class="mt-4">
    <a href="{{ object.event.get_absolute_url }}">{{ object.event.slug }}</a>
    <span class="badge {% if object.status == "o" %}badge-warning{% elif object.status == "c" %}badge-success{% else %}badge-dark{% endif %}">
      {{ object.get_status_display }}
    </span>
  </h4>
  <p class="lead">
    <i class="far fa-calendar"></i> {% human_daterange object.event.start object.event.end %}<br>
    {% if "online" in object.event.tags.strings %}
      <i class="fa fa-globe"></i> online
    {% else %}
      <i class="fa fa-users"></i> in-person
    {% endif %}
  </p>
  <div class="card recruitment-notes">
    <div class="card-body">
      {% if object.notes %}
      <div class="notes">
        {{ object.notes|linebreaks }}
        <button type="button" class="btn btn-outline-primary btn-sm edit-notes">Edit notes</button>
      </div>
      <div class="notes-editing">
        <textarea class="form-control" rows=5>{{ object.notes }}</textarea>
        <button type="button" class="btn btn-primary btn-sm save-notes">Save</button>
        <button type="button" class="btn btn-outline-secondary btn-sm cancel-notes">Cancel</button>
      </div>
      {% else %}
      <button type="button" class="btn btn-outline-primary btn-sm add-notes">Add notes</button>
      <div class="notes-editing">
        <textarea class="form-control" rows=5></textarea>
        <button type="button" class="btn btn-primary btn-sm save-notes">Save</button>
        <button type="button" class="btn btn-outline-secondary btn-sm cancel-notes">Cancel</button>
      </div>
      {% endif %}
    </div>
  </div>
  {% include "includes/instructorrecruitment.html" with object=object personal_conflicts=personal_conflicts %}
  {% endfor %}
  {% pagination object_list %}
{% endblock %}
