{% extends "base_nav.html" %}

{% load dates %}
{% load crispy_forms_tags %}
{% load instructorrecruitment %}

{% block content %}
  <h3>
    <a href="{{ object.event.get_absolute_url }}">{{ object.event.slug }}</a>
    <span class="badge {% if object.status == "o" %}badge-warning{% elif object.status == "c" %}badge-success{% else %}badge-dark{% endif %}">
      {{ object.get_status_display }}
    </span>
  </h3>
  <table class="lead">
    <tr>
      <td width="30px"><i class="far fa-calendar"></i></td>
      <td>{% human_daterange object.event.start object.event.end %}</td>
    </tr>
    <tr>
      {% if "online" in object.event.tags.strings %}
      <td><i class="fa fa-globe"></i></td>
      <td>online</td>
      {% else %}
      <td><i class="fa fa-users"></i></td>
      <td>in-person</td>
      {% endif %}
    </tr>
    <tr>
      <td><i class="fa fa-exclamation"></i></td>
      <td>
        {% if object.priority is not None %}
        manual priority: {{ object.priority|priority_value_label }}
        {% else %}
        automatic priority: {{ object.automatic_priority|priority_value_label }}
        {% endif %}
      </td>
    </tr>
  </table>
  <div class="lead notes-content">{{ object.notes }}</div>
  {% include "includes/instructorrecruitment.html" with object=object %}
{% endblock %}
