{% load comments i18n %}

<div class="col-12">
  <form action="{% comment_form_target %}" method="post" class="commentform">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}#comments" />
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <div class="card comment-form">
      <div class="card-body">
        {{ form.comment }}
        <input type="submit" value="Comment" id="id_submit" class="btn btn-success" />
      </div>
    </div>
  </form>
  {{ form.media }}
</div>
