{% extends "forms/selforganized_submission.html" %}
{% block extrajs %}{% endblock %}
{% block content %}

<p>Thank you for your submission. A team member will follow up with
you shortly. For more information please visit:</p>

<ul>
    <li><a href="http://www.datacarpentry.org/">Data Carpentry</a></li>
    <li><a href="https://software-carpentry.org/">Software Carpentry</a></li>
    <li><a href="https://librarycarpentry.org/">Library Carpentry</a></li>
    <li><a href="https://carpentries.org/">The Carpentries</a></li>
    <li>or contact <a href="mailto:team@carpentries.org">team@carpentries.org</a>.</li>
</ul>

<p><a href="{% url 'selforganized_submission' %}">Click here</a> to submit another self-organized workshop.</p>
{% endblock %}
