{% extends "base_nav.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block logo %}
<img src="{% static 'carpentries-banner.svg' %}" alt='The Carpentries logo' class="img-fluid w-50 mx-auto d-block" />
{% endblock %}

{% block content %}

<p>This form is for registering a self-organized workshop once you have created the workshop website. If you would like to request a centrally-organized go <a href="{% url 'workshop_request' %}">here</a>. If you would like to inquire about a workshop go <a href="{% url 'workshop_inquiry' %}">here</a>.</p>

{% crispy form %}
{% endblock %}
