{% extends "base_forms.html" %}

{% load crispy_forms_tags %}

{% block logo %}
{% include "includes/logo.html" %}
{% endblock %}

{% block content %}

<p class="lead">This form is for registering a self-organised workshop once you have created the workshop website. If you would like to request a centrally-organised go <a href="{% url 'workshop_request' %}">here</a>. If you would like to inquire about a workshop go <a href="{% url 'workshop_inquiry' %}">here</a>.</p>

{% crispy form %}
{% endblock %}
