{% extends "base_forms.html" %}

{% load crispy_forms_tags %}

{% block logo %}
{% include "includes/logo.html" %}
{% endblock %}

{% block content %}

<p>
  This form serves as the entry point for Instructor Training for two groups:
</p>

<p><b>For trainees selected by Carpentries member organizations or groups that have arranged for training</b>, it serves as a trainee <b>Profile Creation form</b>. This creates an entry in our database and allows us to record attendance and track your progress through the Instructor certification process. Form responses are not reviewed in detail but may be used in programmatic assessment. Please note that this form is separate from event registration. Your site contact will provide you with instructions to register for an Instructor Training event. In response to the first question, please select <i>Profile Creation for Pre-approved Trainees</i> and enter in your provided registration code.  If you do not have a registration code, please enter the name of the institution you are joining through.</p>

<p> More details about the Instructor role are available on the <a href="https://carpentries.org/become-instructor/">Become an Instructor</a> page on The Carpentries website. To learn more about what the training will cover, please see our <a href="http://carpentries.github.io/instructor-training/">Instructor Training curriculum</a>.
</p>
<hr>
{% crispy form %}
{% endblock %}
