{% extends "forms/workshoprequest.html" %}
{% block extrajs %}{% endblock %}
{% block content %}

<p>
    Thank you for submitting a request for a Carpentries Workshop! Organising
    a workshop requires a minimum of 2 months, and we will begin processing
    your request immediately. We will be in touch shortly to confirm your
    details or follow up with any questions, and we look forward to working
    with you!
</p>

<p>For more information please visit:</p>

<ul>
    <li><a href="http://www.datacarpentry.org/">Data Carpentry</a></li>
    <li><a href="https://software-carpentry.org/">Software Carpentry</a></li>
    <li><a href="https://librarycarpentry.org/">Library Carpentry</a></li>
    <li><a href="https://carpentries.org/">The Carpentries</a></li>
    <li>or contact <a href="mailto:team@carpentries.org">team@carpentries.org</a>.</li>
</ul>

<p><a href="{% url 'workshop_request' %}">Click here</a> to submit another workshop request.</p>
{% endblock %}
