{% extends "base_forms.html" %}

{% load crispy_forms_tags %}

{% block logo %}
{% include "includes/logo.html" %}
{% endblock %}

{% block content %}

<p class="lead">This form is to inquire about hosting a workshop at your organisation and you need clarification or would like to speak with someone about the process. Someone will contact you regarding this inquiry. If you would like to request a centrally-organised go <a href="{% url 'workshop_request' %}">here</a>. If you would like to register a self-organised workshop go <a href="{% url 'selforganised_submission' %}">here</a>.</p>

{% crispy form %}
{% endblock %}
