{% extends "base_nav.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block logo %}
<img src="{% static 'carpentries-banner.svg' %}" alt='The Carpentries logo' class="img-fluid w-50 mx-auto d-block" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <p class="lead">Thank you for inquiring about a Carpentries workshop. Please select which of
    the following options applies to you. Note this form is only for Data Carpentry,
    Library Carpentry, or Software Carpentry workshops. If you are interested in
    Carpentries Instructor Training, please read more about our
    <a href="https://carpentries.org/membership/">institutional membership program</a>
    or contact <a href="mailto:memberships@carpentries.org">memberships@carpentries.org</a>.</p>

    <p class="lead"><strong>Please select one of the options below:</strong></p>

    <div class="row">
      <div class="col">
        <a href="{% url 'workshop_inquiry' %}" class="btn btn-lg btn-primary">Request a workshop</a>
      </div>
      <div class="col">
        <a href="{% url 'workshop_request' %}" class="btn btn-lg btn-primary">Inquiry about our workshop</a>
      </div>
      <div class="col">
        <a href="{% url 'selforganized_submission' %}" class="btn btn-lg btn-primary">Register a self-organized workshop</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
