{% extends "base_nav_sidebar.html" %}


{% block content %}
  {% if perms.offering.add_benefit %}
  <p><a href="{% url 'benefit-create' %}" class="btn btn-success">New benefit</a></p>
  {% else %}
  <p><a href="#" class="btn btn-success disabled">New benefit</a></p>
  {% endif %}

  {% if object_list %}
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Unit type</th>
        <th>Credits</th>
        <th>Active</th>
        <th>Created at</th>
        <th>Last updated at</th>
      </tr>
      {% for object in object_list %}
      <tr>
        <td><a href="{% url 'benefit-details' object.pk %}">{{ object.name }}</a></td>
        <td>{{ object.description }}</td>
        <td>{{ object.get_unit_type_display }}</td>
        <td>{{ object.credits }}</td>
        <td>{{ object.active|yesno }}</td>
        <td>{{ object.created_at }}</td>
        <td>{{ object.last_updated_at }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No benefits.</p>
  {% endif %}
{% endblock %}
