    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Organisation / Consortium</th>
        <th>Dates</th>
        <th>Tier</th>
        <th>Credits (allocated / allowed)</th>
      </tr>
      {% for object in object_list %}
      <tr>
        <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
        <td>
          {% if object.partner_consortium %}
            <a href="{{ object.partner_consortium.get_absolute_url }}">{{ object.partner_consortium }}</a> (consortium)
          {% elif object.partner_organisation %}
            <a href="{{ object.partner_organisation.get_absolute_url }}">{{ object.partner_organisation }}</a>
          {% else %}
            &mdash;
          {% endif %}
        </td>
        <td>{{ object.agreement_start|date:"Y-m-d" }} &mdash; {{ object.agreement_end|date:"Y-m-d" }}</td>
        <td>{{ object.tier }}</td>
        {% if not object.account %}
        <td>
          No account
        </td>
        {% elif object.credits_used > object.credits %}
        <td class="bg-warning">
          {{ object.credits_used }} / {{ object.credits }} <i class="fas fa-exclamation-circle" data-toggle="tooltip" title="Credits allocated exceed allowed"></i>
        </td>
        {% else %}
        <td>
          {{ object.credits_used }} / {{ object.credits }}
        </td>
        {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
