<p>Thank you for inquiring about The Carpentries workshop, we are excited that you are interested in bringing The Carpentries to your organisation. The information you included in the form will help us to provide the best workshop for your target audience. If you would like to learn more about how our workshops are organised please visit our <a href="https://carpentries.org/">website</a>. For more information about our curricula go <a href="">here</a>.</p>

<p>A member from our team will be following up with you. We look forward to working with you!<br>
The Carpentries</p>

<hr>

<p>A copy of your submission is included below for your reference.</p>

{% include "includes/selforganizedsubmission_details.html" with admin=False object=object %}
