<p>
    Dear {{object.personal}} {{object.middle}} {{object.family}},
</p>

<p>
    Thank you for applying for The Carpentries Instructor Training program. We’re excited to have you as part of our community.   If you submitted your application for a specific instructor training workshop or through a Carpentries institutional membership, please contact checkout@carpentries.org to be sure we are associating your application with the correct membership and disregard the two paragraphs below. If you are not affiliated with a member site, please read below.
</p>

<p>
    We receive hundreds of applications, and we cannot provide no-cost training for every applicant. Please, don't let that discourage you! We'd like to help you bring workshops and instructor training to your organisation. We’re working on ways to increase our capacity to offer trainings to individuals not affiliated with member institutions, and hope to be able to offer more of these trainings soon. Your application has been placed on our waiting list while we grow our capacity.
</p>

<p>
    We rank applications on a rolling basis. WSe are working to reduce wait times, but at present expect a delay of at least 1 month. If you have a specific need to be trained sooner (e.g. an upcoming workshop) please let us know. Multiple applicants from a single institution generally will not be invited at once, but may be accepted individually over time. To more rapidly build an Instructor community at your institution, consider becoming a Member. For more information see: https://carpentries.org/membership/ or get in touch with memberships@carpentries.org to learn more about how we can help you make the case at your organisation. 
</p>

In the meantime, please get involved! 
<ul>
    <li>
        Join our discussion email list: https://carpentries.topicbox.com/groups/discuss 
    </li>
    <li>
        Follow us on Twitter @thecarpentries, @datacarpentry, @swcarpentry, and @libcarpentry
    </li>
    <li>
        Learn about our community at: https://carpentries.org/community/   
    </li>
    <li>
        Read our blog: https://carpentries.org/blog/ 
    </li>
    <li>
        Sign-up for our newsletter: https://carpentries.org/newsletter/   
    </li>
</ul>

<p>
    If you have questions about your application, please contact checkout@carpentries.org. Thanks again for applying! 
</p>

<p>
    Best,
</p>

<p>
    The Carpentries Instructor Training Team
</p>


{% include "includes/trainingrequest_details.html" with admin=False object=object %}
