<p>
    Dear {{object.personal}} {{object.family}},
</p>

<p>
    Thank you for applying for The Carpentries Instructor Training program. We’re excited to have you as part of our community! If you selected <b>"Pre-approved Registration"</b> in your application, you will receive more information approximately one week before your scheduled training. You may disregard the remainder of this email. If you selected <b>Open Training Application</b>, please read on.
</p>

<p>
    Open Training applications are placed in an application queue to be considered for Instructor Training sponsorship by The Carpentries. We rank applications on a rolling basis. We are working to increase our capacity and reduce wait times, but at present expect a delay of at least 1-3 months. If your application is accepted, you will be given a registration code and invited to join an upcoming online instructor training event. 
</p>

<p>
    If you have a specific need to be trained sooner (e.g. an upcoming workshop) please let us know. Multiple applicants from a single institution generally will not be invited at once, but may be accepted individually over time. To more rapidly build an Instructor community at your institution, consider becoming a Member. For more information see: https://carpentries.org/membership/ or get in touch with memberships@carpentries.org to learn more about how we can help you make the case at your organisation. 
</p>


<p>
    We receive hundreds of applications, and we cannot provide no-cost training for every applicant. Please, don't let that discourage you! We'd like to help you bring workshops and instructor training to your organisation. In the meantime, please get involved! 
</p>

In the meantime, please get involved! 
<ul>
    <li>
        Join our discussion email list: https://carpentries.topicbox.com/groups/discuss 
    </li>
    <li>
        Follow us on Twitter @thecarpentries, @datacarpentry, @swcarpentry, and @libcarpentry
    </li>
    <li>
        Learn about our community at: https://carpentries.org/community/   
    </li>
    <li>
        Read our blog: https://carpentries.org/blog/ 
    </li>
    <li>
        Sign-up for our newsletter: https://carpentries.org/newsletter/   
    </li>
</ul>

<p>
    If you have questions about your application, please contact checkout@carpentries.org. Thanks again for applying! 
</p>

<p>
    Best,
</p>

<p>
    The Carpentries Instructor Training Team
</p>


{% include "includes/trainingrequest_details.html" with admin=False object=object %}
