<p>
    Dear {{object.personal}} {{object.family}},
</p>

<p>
    Thank you for creating your profile for The Carpentries Instructor Training program. We're excited to have you as part of our community!  Please be sure you have <a href="https://carpentries.github.io/instructor-training/training_calendar">registered for an event via Eventbrite</a>. You will receive more information approximately one week before your scheduled training. 
</p>

<p>In the meantime, please get involved!</p>
<ul>
    <li>
        Join our discussion email list: https://carpentries.topicbox.com/groups/discuss
    </li>
    <li>
        Follow us on Twitter @thecarpentries, @datacarpentry, @swcarpentry, and @libcarpentry
    </li>
    <li>
        Learn about our community at: https://carpentries.org/community/
    </li>
    <li>
        Read our blog: https://carpentries.org/blog/
    </li>
    <li>
        Sign-up for our newsletter: https://carpentries.org/newsletter/
    </li>
</ul>

<p>
    If you have questions about your application, please contact <a href="instructor.training@carpentries.org">instructor.training@carpentries.org</a>. Thanks again for applying!
</p>

<p>
    Best,
</p>

<p>
    The Carpentries Instructor Training Team
</p>

<hr>

A copy of your request is included below for your reference.

{% if object.member_code_override %}
<p>
    <strong>Warning:</strong> Your registration code "{{object.member_code}}" seems to be invalid. This may be due to a typo, an expired code, a code that has not yet been activated, or a code with no training seats remaining. A member of our team will check the code and follow up with you if there are any problems that require your attention.
</p>
{% endif %}

{% include "includes/trainingrequest_details.html" with admin=False object=object %}
