{% load state %}
<table class="table table-striped">
  <tbody>
    <tr><th>Submission date:</th>
        <td>{{ object.created_at }}</td></tr>
    <tr><th>State</th>
        <td><span class="{% state_label object %}">{{ object.get_state_display }}</span></td></tr>
    <tr><th>Related event:</th>
        <td>{% if object.event %}<a href="{{ object.event.get_absolute_url }}">{{ object.event }}</a>{% else %}&mdash;{% endif %}</td></tr>
    <tr><th>Person:</th>
        <td>{{ object.personal }} {{ object.family }} &lt;{{ object.email|urlize }}&gt;</td></tr>
    <tr><th>Institution:</th>
        <td>
          {% if object.institution %}<a href="{{ object.institution.get_absolute_url }}">{{ object.institution }}</a>{% else %}{{ object.institution_name }}{% endif %}{% if object.institution_department %}, {{ object.institution_department }}{% endif %}
        </td></tr>
    <tr><th>Location:</th>
        <td>{{ object.location }}</td></tr>
    <tr><th>Country:</th>
        <td>{{ object.country.name }} <img src="{{ object.country.flag }}" alt="{{ object.country }}" class="country-flag" /></td></tr>
    <tr><th>Conference:</th>
        <td>
          {{ object.conference_details|default:"—" }}
        </td></tr>
    <tr><th>Preferred dates:</th>
        <td>{{ object.preferred_dates }}</td></tr>
    <tr><th>Language:</th>
        <td>{{ object.language }}</td></tr>
    <tr><th>Approx. number of attendees:</th>
        <td>{{ object.get_number_attendees_display }}</td></tr>
    <tr><th>Attendees' domains:</th>
        <td>
          <ul>
            {% for domain in object.domains.all %}
            <li>{{ domain }}</li>
            {% endfor %}
            {% if object.domains_other %}
            <li>{{ object.domains_other }}</li>
            {% endif %}
          </ul>
        </td>
    </tr>
    <tr><th>Attendees' academic levels:</th>
        <td>
          <ul>
            {% for level in object.academic_levels.all %}
            <li>{{ level }}</li>
            {% endfor %}
          </ul>
        </td>
    </tr>
    <tr><th>Attendees' computing levels:</th>
        <td>
          <ul>
            {% for level in object.computing_levels.all %}
            <li>{{ level }}</li>
            {% endfor %}
          </ul>
        </td>
    </tr>
    <tr><th>Audience description:</th>
        <td><pre>{{ object.audience_description }}</pre></td></tr>
    <tr><th>Requested workshop types:</th>
        <td>
          <ul>
            {% for type in object.requested_workshop_types.all %}
            <li>{{ type }}</li>
            {% endfor %}
          </ul>
        </td>
    </tr>
    <tr><th>Self- or centrally-organized workshop?</th>
        <td>{{ object.get_organization_type_display }}</td></tr>
    {% if object.organization_type == 'self' %}
    <tr><th>Link to self-organized workshop GitHub page:</th>
        <td>{{ object.self_organized_github|urlize }}</td></tr>
    {% endif %}
    {% if object.organization_type == 'central' %}
    <tr><th>Administrative fee payment:</th>
        <td>{{ object.get_centrally_organized_fee_display }}</td></tr>
    <tr><th>Fee waiver circumstances:</th>
        <td>
          {% if object.waiver_circumstances %}
          <pre>{{ object.waiver_circumstances }}</pre></td></tr>
          {% else %}
          &mdash;
          {% endif %}
    {% endif %}
    <tr><th>Travel expences agreement:</th>
        <td>{{ object.travel_expences_agreement|yesno }}</td></tr>
    <tr><th>Travel expences management:</th>
        <td>
          {% if object.travel_expences_management %}
          {{ object.get_travel_expences_management_display }}
          {% else %}Other: {{ object.travel_expences_management_other }}
          {% endif %}
        </td></tr>
    <tr><th>Data privacy agreement:</th>
        <td>{{ object.data_privacy_agreement|yesno }}</td></tr>
    <tr><th>Code of Conduct agreement:</th>
        <td>{{ object.code_of_conduct_agreement|yesno }}</td></tr>
    <tr><th>Host responsibilities agreement:</th>
        <td>{{ object.host_responsibilities|yesno }}</td></tr>
    <tr><th>Additional information:</th>
        <td>
          {% if object.comment %}
          <pre>{{ object.comment }}</pre>
          {% else %}
          &mdash;
          {% endif %}
        </td></tr>
    <tr><th>Admin comment:</th>
        <td>
          {% if object.admin_comment %}
          <pre>{{ object.admin_comment }}</pre>
          {% else %}
          &mdash;
          {% endif %}
        </td></tr>
  </tbody>
</table>

{% if link %}
<p>You can view the request here:
<a href="{{ link_domain }}{{ link }}">{{ link_domain }}{{ link }}</a>
</p>
{% endif %}
