<p>Thank you for informing us of your self-organised workshop! Your workshop has been accepted.</p>

<p>Approximately 2 weeks prior to the workshop, please send a reminder to your learners to complete the pre-survey and install the necessary software prior to the workshop. Feel free to utilize the email template "Email Learners before Workshop", found in The Carpentries Handbook. The survey links for learners are found on the workshop GitHub page.</p>

<p>You will receive the links to view the results of the surveys approximately 1 week prior to the workshop.</p>

<p>Have a great workshop!<br>
The Carpentries</p>

<hr>

<p>A copy of your inquiry is included below for your reference.</p>

{% if object.preferred_dates_too_soon %}
<p><strong>Warning:</strong> selected preferred dates for the workshop fall
in upcoming two months. The Carpentries team may not be able to find
instructors in such short time.</p>
{% endif %}

{% include "includes/workshopinquiry_details.html" with admin=False object=object %}
