<h1>Thank you for inquiring about The Carpentries!</h1>

<p>Your inquiry has been received, and a member of our team will get 
back to you within three business days. If you have any immediate 
questions, please contact us at
<a href="mailto:team@carpentries.org">team@carpentries.org</a>.
A copy of your inquiry is included below for your reference.</p>

{% if object.preferred_dates_too_soon %}
<p><strong>Warning:</strong> selected preferred dates for the workshop fall
in upcoming three months. The Carpentries team may not be able to find
instructors in such short time.</p>
{% endif %}

{% include "includes/workshopinquiry_details.html" with admin=False object=object %}
