{% load assignments %}
{% if object.slug %}{% assign object.slug as pk %}{% else %}{% assign object.pk as pk %}{% endif %}
    <div>
      <a href="#assignment_modal" id="change_assignment" data-toggle="modal" data-target="#assignment_modal"><i class="fas fa-user-cog"></i></a>
      {% if object.assigned_to %}
      <form method="POST" action="{% url assign_url pk %}" style="display: inline">
        Assigned to:
        <a href="{{ object.assigned_to.get_absolute_url }}">{{ object.assigned_to.full_name }}</a>
        <input type="hidden" name="person" value="" />
        {% csrf_token %}
        {% idempotence_token %}
        (<input type="submit" class="btn btn-link border-0 p-0" id="clear-assignment" value="clear" style="margin-top: -4px" />).
      </form>
      {% else %}
      <form method="POST" action="{% url assign_url pk %}" style="display: inline">
        <input type="hidden" name="person" value="{{ user.pk }}" />
        {% csrf_token %}
        {% idempotence_token %}
        Not assigned (<input type="submit" class="btn btn-link border-0 p-0" id="assign-yourself" value="assign yourself" style="margin-top: -4px" />).
      </form>
      {% endif %}
    </div>
