{% load links %}
{% load state %}
<table class="table table-striped">
  <tbody>
    <tr><th>Submission date:</th>
        <td>{{ object.created_at }}</td></tr>
    <tr><th>State</th>
        <td><span class="{% state_label object %}">{{ object.get_state_display }}</span></td></tr>
    <tr><th>Related event:</th>
        <td>{% if object.event %}<a href="{{ object.event.get_absolute_url }}">{{ object.event }}</a>{% else %}&mdash;{% endif %}</td></tr>
    <tr><th>Person:</th>
        <td>{{ object.name }} &lt;{{ object.email|urlize }}&gt;</td></tr>
    <tr><th>Instructor status:</th>
        <td>{{ object.get_instructor_status_display }}</td></tr>
    <tr><th>Organization:</th>
        <td>{{ object.organization }}</td></tr>
    <tr><th>Partner status:</th>
        <td>{{ object.get_is_partner_display }} {% if object.is_partner_other %}({{ object.is_partner_other }}){% endif %}</td></tr>
    <tr><th>Location:</th>
        <td>{{ object.location }}, {{ object.country.name }}</td></tr>
    <tr><th>Associated conference:</th>
        <td>{{ object.associated_conference }}</td></tr>
    <tr><th>Dates:</th>
        <td>{{ object.dates }}</td></tr>
    <tr><th>Domains:</th>
        <td><ul>{% for domain in object.domains.all %}<li>{{ domain }}</li>{% endfor %}</ul></td></tr>
    <tr><th>Other domains:</th>
        <td>{{ object.domains_other }}</td></tr>
    <tr><th>Topics:</th>
        <td><ul>{% for topic in object.topics.all %}<li>{{ topic }}</li>{% endfor %}</ul></td></tr>
    <tr><th>Other topics:</th>
        <td>{{ object.topics_other }}</td></tr>
    <tr><th>Attendees' academic levels:</th>
        <td><ul>{% for level in object.attendee_academic_levels.all %}<li>{{ level }}</li>{% endfor %}</ul></td></tr>
    <tr><th>Attendees' data analysis levels:</th>
        <td><ul>{% for level in object.attendee_data_analysis_level.all %}<li>{{ level }}</li>{% endfor %}</ul></td></tr>
    <tr><th>Payment:</th>
        <td>{{ object.get_payment_display }}</td></tr>
    <tr><th>Reason for fee waiver:</th>
        <td>{{ object.fee_waiver_reason }}</td></tr>
    <tr><th>Will handle registration:</th>
        <td>{{ object.handle_registration|yesno }}</td></tr>
    <tr><th>Will distribute surveys:</th>
        <td>{{ object.distribute_surveys|yesno }}</td></tr>
    <tr><th>Agreed to follow code of conduct:</th>
        <td>{{ object.follow_code_of_conduct|yesno }}</td></tr>
  </tbody>
</table>

{% if link %}
<p>You can view the request here:
<a href="{{ link_domain }}{{ link }}">{{ link_domain }}{{ link }}</a>
</p>
{% endif %}
