{% load state %}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Instructor Name</th>
      <th>Count workshops taught</th>
      <th>Country</th>
      <th>Notes from Instructor</th>
      <th>Notes from admin</th>
      <th>Date conflicts</th>
      <th>
        State
        <i
          class="fas fa-question-circle"
          data-toggle="popover" data-html="true" data-trigger="hover"
          data-content="<span class='badge badge-warning'>Pending</span>
                        <span class='badge badge-success'>Accepted</span>
                        <span class='badge badge-danger'>Discarded</span>"
        ></i>
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for signup in object.signups.all %}
    <tr>
      <td><a href="{{ signup.person.get_absolute_url }}">{{ signup.person }}</a></td>
      <td>
        <span title="Helper: {{ signup.num_helper }}; Supporting Instructor: {{ signup.num_supporting }}; Instructor: {{ signup.num_instructor }}">
          <span title="{{ signup.num_helper }} Helper Roles">
            {{ signup.num_helper }} H;
          </span>
          <span title="{{ signup.num_supporting }} Supporting Instructor Roles">
            {{ signup.num_supporting }} SI;
          </span>
          <span title="{{ signup.num_instructor }} Instructor Roles">
            {{ signup.num_instructor }} I
          </span>
        </span>
      </td>
      <td>{% include "includes/country_flag.html" with country=signup.person.country %}</td>
      <td class="notes-content">{{ signup.user_notes }}</td>
      <td>{{ signup.notes }}</td>
      <td>
        {% comment %}
        Find person, their tasks, and figure out if task's event dates conflict with
        signup event dates.
        {% endcomment %}
        {% for person in personal_conflicts %}
          {% if person == signup.person %}
            {% for task in person.task_set.all %}
              {% if task.event != signup.recruitment.event %}{# don't consider the same event #}
                {% if task.event.start <= signup.recruitment.event.end and task.event.end >= signup.recruitment.event.start %}
                  <a href="{{ task.event.get_absolute_url }}">{{ task.event }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </td>
      <td>
        <span class="{% state_label signup %}">
          {{ signup.get_state_display }}
        </span>
      </td>
      <td>
        <form action="{% url 'instructorrecruitmentsignup_changestate' signup.pk %}" onsubmit='return confirm("Do you want to CONFIRM this application?")' method="POST" class="d-inline-block my-1 mr-1">
          {% csrf_token %}
          <input type="hidden" name="action" value="confirm">
          <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}">
          {% if signup.state == "p" %}
          <button type="submit" class="btn btn-sm btn-success">Confirm</button>
          {% else %}
          <button type="submit" class="btn btn-sm btn-secondary">Confirm</button>
          {% endif %}
        </form>
        <form action="{% url 'instructorrecruitmentsignup_changestate' signup.pk %}" onsubmit='return confirm("Do you want to DECLINE this application?")' method="POST" class="d-inline-block my-1 mr-1">
          {% csrf_token %}
          <input type="hidden" name="action" value="decline">
          <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}">
          {% if signup.state == "p" %}
          <button type="submit" class="btn btn-sm btn-danger">Decline</button>
          {% else %}
          <button type="submit" class="btn btn-sm btn-secondary">Decline</button>
          {% endif %}
        </form>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan=9><em>No applications yet.</em></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>
  <div class="btn-group" role="group" aria-label="Actions for instructor recruitment">
    {% if perms.recruitment.change_instructorrecruitment and perms.recruitment.view_instructorrecruitmentsignup %}
    <a href="{% url 'instructorrecruitment_add_signup' object.pk %}?next={{ request.get_full_path|urlize }}" class="btn btn-success">New instructor application</a>
    {% else %}
    <a href="#" class="btn btn-success disabled" role="button" aria-disabled="true">New instructor application</a>
    {% endif %}

    {% if perms.recruitment.change_instructorrecruitment and object.num_pending == 0 and object.status == "o" %}
    <form
      action="{% url 'instructorrecruitment_changestate' object.pk %}"
      method="POST"
      class="btn-group"
      onsubmit='return confirm("Are you sure you want to close this recruitment?");'
    >
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.get_full_path|urlize }}">
      <input type="hidden" name="action" value="close">
      <button type="submit" class="btn btn-warning">Close signups</button>
    </form>
    {% else %}
    <a href="#" class="btn btn-warning disabled" role="button" aria-disabled="true">Close signups</a>
    {% endif %}

    {% if perms.recruitment.change_instructorrecruitment and object.status == "c" %}
    <form
      action="{% url 'instructorrecruitment_changestate' object.pk %}"
      method="POST"
      class="btn-group"
      onsubmit='return confirm("Are you sure you want to re-open this recruitment?");'
    >
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.get_full_path|urlize }}">
      <input type="hidden" name="action" value="reopen">
      <button type="submit" class="btn btn-info">Re-open signups</button>
    </form>
    {% else %}
    <a href="#" class="btn btn-info disabled" role="button" aria-disabled="true">Re-open signups</a>
    {% endif %}
  </div>
</p>
