{% load state %}
<table class="table table-striped">
  <tbody>
{% if admin %}
    <tr><th>State</th>
        <td><span class="{% state_label object %}">{{ object.get_state_display }}</span></td></tr>
{% endif %}
    <tr><th>Submission date:</th>
        <td>{{ object.created_at }}</td></tr>
{% if admin %}
    <tr><th>Last change:</th>
        <td>{{ object.last_updated_at|default:"&mdash;" }}</td></tr>
    <tr><th>Related event:</th>
        <td>
          {% if object.event %}
          <a href="{{ object.event.get_absolute_url }}">{{ object.event }}</a>
          {% else %}
          &mdash;
          {% endif %}
        </td></tr>
{% endif %}
    <tr><th>Person:</th>
        <td>{{ object.personal }} {{ object.family }} &lt;{{ object.email|urlize }}&gt;</td></tr>
    <tr><th>Institution:</th>
        <td>
        {% if object.institution %}
          <a href="{{ object.institution.get_absolute_url }}">{{ object.institution }}</a>{% if object.institution_department %}, {{ object.institution_department }}{% endif %}
        {% else %}
          {{ object.institution_other_name }}{% if object.institution_department %}, {{ object.institution_department }}{% endif %} <a href="{{ object.institution_other_URL }}">&lt;{{ object.institution_other_URL }}&gt;</a>
          {% if admin %}<a href="{% url 'organization_add' %}?domain={{ object.institution_other_URL|urlencode }}&fullname={{ object.institution_other_name|urlencode }}&comment={{ object.institution_department|urlencode }}"><i class="fas fa-plus"></i></a>{% endif %}
        {% endif %}
        </td></tr>
    <tr><th>Workshop format:</th>
        <td>
          {{ object.get_workshop_format_display }}
          {% if object.workshop_format_other %}
          {{ object.workshop_format_other }}
          {% endif %}
        </td></tr>
    <tr><th>Workshop URL:</th>
        <td>{{ object.workshop_url|urlize }}</td></tr>
    <tr><th>Taught workshop type:</th>
        <td>
          <ul>
          {% for item in object.workshop_types.all %}
            <li>{{ item }}</li>
          {% endfor %}
          </ul>
        </td></tr>
    <tr><th>Taught workshop mix & match:</th>
        <td>
          {% if object.workshop_types_other_explain %}
          <pre>{{ object.workshop_types_other_explain }}</pre>
          {% else %}
          &mdash;
          {% endif %}
        </td></tr>
    <tr><th>Workshop language:</th>
        <td>{{ object.language }}</td></tr>
    <tr><th>Is this workshop open to the public?</th>
        <td>
          {% if object.public_event %}
          {{ object.get_public_event_display }}
          {% else %}Other: {{ object.public_event_other }}
          {% endif %}
        </td></tr>
    <tr><th>Additional contacts:</th>
        <td>
          {{ object.additional_contact|default:"&mdash;" }}
        </td></tr>
    <tr><th>Data privacy agreement:</th>
        <td>{{ object.data_privacy_agreement|yesno }}</td></tr>
    <tr><th>Code of Conduct agreement:</th>
        <td>{{ object.code_of_conduct_agreement|yesno }}</td></tr>
    <tr><th>Host responsibilities agreement:</th>
        <td>{{ object.host_responsibilities|yesno }}</td></tr>
  </tbody>
</table>
