{% load dates %}

{% with event=object.event %}
<h3>
  {{ event }} at {{ event.venue }}
  {% if object.calculated_priority == 3 %}
  <span class="badge badge-danger">High priority</span>
  {% elif object.calculated_priority == 2 %}
  <span class="badge badge-warning">Medium priority</span>
  {% endif %}
</h3>
<ul>
  <li>
    <strong>Date/Time:</strong>
    {% human_daterange event.start event.end %}
  </li>
  <li>
    <strong>Location:</strong>
    {% if "online" in event.tags.strings %}
      Online
    {% else %}
      {{ event.venue }}, {% include "includes/country_flag.html" with country=event.country %}
    {% endif %}
  </li>
  <li>
    <strong>Curriculum:</strong>
    {% for curriculum in event.curricula.all %}
      {% if curriculum.website %}
      <a href="{{ curriculum.website }}" target="_blank" rel="noreferrer nofollow">{{ curriculum }}</a>
      {% else %}{{ curriculum }}{% endif %}
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
  </li>
  <li>
    <strong>Notes:</strong>
    <p class="notes-content ml-3 text-muted">{{ object.notes|default:"&mdash;" }}</p>
  </li>
</ul>

{% endwith %}
