{% load state %}
{% load utils %}
<table class="table table-striped">
  <tbody>
{% if admin %}
    <tr><th>State</th>
        <td><span class="{% state_label object %}">{{ object.get_state_display }}</span></td></tr>
{% endif %}
    <tr><th>Submission date:</th>
        <td>{{ object.created_at }}</td></tr>
{% if admin %}
    <tr><th>Last change:</th>
        <td>{{ object.last_updated_at|default:"&mdash;" }}</td></tr>
    <tr><th>Related event:</th>
        <td>
          {% if object.event %}
          <a href="{{ object.event.get_absolute_url }}">{{ object.event }}</a>
          {% else %}
          &mdash;
          {% endif %}
        </td></tr>
{% endif %}
    <tr><th>Host Contact:</th>
        <td>
          {{ object.personal }} {{ object.family }} &lt;{{ object.email|urlize }}&gt;
          {% if admin %}{% include "includes/request_host_person.html" with object=object info_host_task=info_host_task %}{% endif %}
        </td></tr>
    <tr><th>Institution:</th>
        <td>
          {% include "includes/request_institution.html" with admin=admin object=object %}
        </td></tr>
    <tr><th>Workshop location:</th>
        <td>{{ object.location }}</td></tr>
    <tr><th>Country:</th>
        <td>{{ object.country.name }} <img src="{{ object.country.flag }}" alt="{{ object.country }}" class="country-flag" /></td></tr>
    <tr><th>Kinds of data target audience routinely works with:</th>
        <td>
          <ul>
          {% for data in object.routine_data.all %}
            <li>{{ data }}</li>
          {% endfor %}
          {% if object.routine_data_other %}
            <li>Other: {{ object.routine_data_other }}</li>
          {% endif %}
          </ul>
        </td>
    </tr>
    <tr><th>Domains / topics of interest for target audience:</th>
        <td>
          <ul>
          {% for domain in object.domains.all %}
            <li>{{ domain }}</li>
          {% endfor %}
          {% if object.domains_other %}
            <li>Other: {{ object.domains_other }}</li>
          {% endif %}
          </ul>
        </td>
    </tr>
    <tr><th>Attendees' academic level / career stage:</th>
        <td>
          <ul>
          {% for level in object.academic_levels.all %}
            <li>{{ level }}</li>
          {% endfor %}
          </ul>
        </td>
    </tr>
    <tr><th>Attendees' level of computing experience:</th>
        <td>
          <ul>
          {% for level in object.computing_levels.all %}
            <li>{{ level }}</li>
          {% endfor %}
          </ul>
        </td>
    </tr>
    <tr><th>Audience description:</th>
        <td><pre>{{ object.audience_description }}</pre></td></tr>
    <tr><th>Requested Curricula:</th>
        <td>
          <ul>
          {% for type in object.requested_workshop_types.all %}
            <li>{{ type }}</li>
          {% endfor %}
          </ul>
        </td>
    </tr>
    <tr><th>Preferred date:</th>
        <td>{{ object.preferred_dates|date:'Y-m-d' }}</td></tr>
    <tr><th>Other dates for the workshop:</th>
        <td>{{ object.other_preferred_dates|default:"&mdash;" }}</td></tr>
{% if admin %}
    <tr><th>"Dates too soon" warning shown?</th>
        <td>{{ object.preferred_dates_too_soon|yesno }}</td></tr>
{% endif %}
    <tr><th>Preferred language for this workshop:</th>
        <td>{{ object.language }}</td></tr>
    <tr><th>Anticipated number of attendees:</th>
        <td>{{ object.get_number_attendees_display }}</td></tr>
    <tr><th>Administrative fee payment:</th>
        <td>{{ object.get_administrative_fee_display }}</td></tr>
    <tr><th>Travel expences management:</th>
        <td>
          {{ object.get_travel_expences_management_display }}
          {% if object.travel_expences_management_other %}
          {{ object.travel_expences_management_other }}
          {% endif %}
        </td></tr>
    <tr><th>Travel expences agreement:</th>
        <td>{{ object.travel_expences_agreement|yesno }}</td></tr>
    <tr><th>Intitutional restrictions regarding instructors:</th>
        <td>
          {{ object.get_institution_restrictions_display }}
          {% if object.institution_restrictions_other %}
          {{ object.institution_restrictions_other }}
          {% endif %}
        </td></tr>
    <tr><th>Is this workshop open to the public?</th>
        <td>
          {{ object.get_public_event_display }}
          {% if object.public_event_other %}
          {{ object.public_event_other }}
          {% endif %}
        </td></tr>
    <tr><th>Additional contacts:</th>
        <td>
          {% for contact in object.additional_contact|strip|split:";" %}
            {{ contact|urlize }}<br>
          {% empty %}
            &mdash;
          {% endfor %}
        </td></tr>
    <tr><th>How did you hear about The Carpentries?</th>
        <td>
          <ul>
          {% for item in object.carpentries_info_source.all %}
            <li>{{ item }}</li>
          {% endfor %}
          {% if object.carpentries_info_source_other %}
            <li>Other: {{ object.carpentries_info_source_other }}</li>
          {% endif %}
          </ul>
        </td></tr>
    <tr><th>Additional notes:</th>
        <td>
          {% if object.user_notes %}
          <pre>{{ object.user_notes }}</pre>
          {% else %}
          &mdash;
          {% endif %}
        </td></tr>
    <tr><th>Data privacy agreement:</th>
        <td>{{ object.data_privacy_agreement|yesno }}</td></tr>
    <tr><th>Code of Conduct agreement:</th>
        <td>{{ object.code_of_conduct_agreement|yesno }}</td></tr>
    <tr><th>Host responsibilities agreement:</th>
        <td>{{ object.host_responsibilities|yesno }}</td></tr>
  </tbody>
</table>
