{% extends "base_nav_sidebar.html" %}

{% load crispy_forms_tags %}
{% load pagination %}
{% load tags %}
{% load state %}
{% load static %}

{% block content %}
  {% if requests %}
    <form role="form" class="form-horizontal" method="post" action="{% url 'all_trainingrequests' %}?{{ request.GET.urlencode }}">
    {% if form.errors.requests or match_form.errors.requests %}
      <div class="alert alert-danger" role="alert">You didn't select any requests.</div>
    {% elif form.errors or match_form.errors %}
      <div class="alert alert-danger" role="alert">Fix errors in the form below and try again.</div>
    {% endif %}
    <table class="table table-striped table-bordered table-hover" id="table-requests">
      <thead>
        <tr>
          <th><input type="checkbox" select-all-checkbox /></th>
          <th>Submitter</th>
          <th>Reg. Code</th>
          <th>Affiliation
              <i class="fas fa-question-circle"
                 data-toggle="popover" data-html="true" data-trigger="hover"
                 data-content="<p>If two lines are presented:
                               <ul><li>the first line shows affiliation from training request,</li>
                               <li>and the second line shows affiliation from trainee's profile</li></ul></p>"></i>
          </th>
          <th>Location</th>
          <th>Created at</th>
          <th>Matched Trainee</th>
          <th>Matched Training</th>
          <th>Score</th>
          <th width="50px">
            State
            <i class="fas fa-question-circle"
               data-toggle="popover" data-html="true" data-trigger="hover"
               data-content="<p>
                             <span class='badge badge-warning'>Pending</span>
                             <span class='badge badge-success'>Accepted</span>
                             <span class='badge badge-danger'>Discarded</span>
                             </p>
                             <p>Click one of
                             <a href='#'><i class='fas fa-info-circle'></i></a>
                             icons below to start accepting request.</p>
                            "></i>
          </th>
          <th></th>
        </thead>
      </tr>
      <tbody>
      {% for req in requests %}
        <tr>
          <td>
            <input type="checkbox" name="requests" value="{{ req.pk }}"
                   respond-to-select-all-checkbox
                   email="{% if req.person %}{{ req.person.email }}{% elif req.email %}{{ req.email }}{% endif %}" />
          </td>
          <td>
            {{ req.personal }} {{ req.middle }} {{ req.family }}<br />
            &lt;{{ req.email|urlize }}&gt;
          </td>
          <td>{{ req.group_name|default:"—" }}</td>
          <td>
            {{ req.affiliation|default:"—" }}
            {% if req.person %}
               <hr />
              {{ req.person.affiliation|default:"—" }}
            {% endif %}
          </td>
          <td>{{ req.location|default:"—" }}</td>
          <td>{{ req.created_at|date:'Y-m-d H:i' }}</td>
          <td>
            {% if req.person %}
              <a href="{% url 'person_details' req.person.pk %}">
                {{ req.person.full_name }}
              </a>
              {% if req.person.email %}
                <br />&lt;{{ req.person.email|urlize }}&gt;
              {% endif %}
            {% else %}—{% endif %}
          </td>
          <td>
            {% if req.person %}
              {% for task in req.person.training_tasks %}
                <a href="{% url 'event_details' task.event.slug %}">{{ task.event }}</a><br />
              {% empty %}
                —
              {% endfor %}
            {% else %}
              —
            {% endif %}
          </td>
          <td>{{ req.score_total }} pts.</td>
          <td>
            {% if req.state == 'p' %}
              <span class="{% state_label req %}"
                    data-toggle="popover" data-html="true"
                    data-content='
                      Click
                      <a href="#"><i class="fas fa-info-circle"></i></a>
                      icon on the right side to start accepting this request.
                    '>
                {{ req.get_state_display }}
              </span>
            {% else %}
              <span class="{% state_label req %}">
                {{ req.get_state_display }}
              </span>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'trainingrequest_details' req.id %}?next={{ request.get_full_path|urlencode }}" title="View"><i class="fas fa-info-circle"></i></a>
            &nbsp;
            <a href="{% url 'trainingrequest_edit' req.id %}?next={{ request.get_full_path|urlencode }}" title="Edit"><i class="fas fa-edit"></i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <div class="btn-group" role="group" aria-label="Actions for list of training requests">
      <a class="btn btn-info text-white" bulk-email-on-click>Mail selected</a>
      <a class="btn btn-secondary" href="{% url 'api:training-requests' %}?format=csv&" amy-download-selected>Download selected</a>
      <a class="btn btn-dark" href="{% url 'api:training-requests' %}?format=csv2&manualscore=1" amy-download-selected>Download selected for bulk manual scoring</a>
    </div>

    <hr>

    <h2>Modify</h2>

    {% crispy form %}

    <hr>

    <h2>Accept & match</h2>

    {% crispy match_form %}
    </form>
{% else %}
    <p>No training requests.</p>
{% endif %}
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{% static 'checkboxes_sessionstorage.js' %}"></script>
<script type="text/javascript">
  $(function () {
    // datatables enabled for event tasks table
    $("#table-requests").DataTable({
      "lengthMenu": [
        [25, 50, 100, 200, -1],
        [25, 50, 100, 200, "All"]
      ],
      columnDefs: [
        // disable ordering on "checkbox" column
        {
          orderable: false,
          targets: 0
        },
        // disable ordering on additional links column
        {
          orderable: false,
          targets: -1
        }
      ],
      stateSave: true
    });
  });
</script>
{% endblock %}
