{% extends "base_nav_sidebar.html" %}

{% load crispy_forms_tags %}
{% load pagination %}
{% load tags %}
{% load state %}

{% block content %}
  {% if requests %}
    <form role="form" class="form-horizontal" method="post">
    {% if form.errors.requests or match_form.errors.requests %}
      <div class="alert alert-danger" role="alert">You didn't select any request.</div>
    {% elif form.errors or match_form.errors %}
      <div class="alert alert-danger" role="alert">Fix errors below and try again.</div>
    {% endif %}
    <table class="table table-striped">
      <tr>
        <th width="10px">
          <input type="checkbox" select-all-checkbox />
        </th>
        <th>Submitter</th>
        <th>Group</th>
        <th>
          Affiliation
          <i class="fas fa-question-circle"
             data-toggle="popover" data-html="true" data-trigger="hover"
             data-content="<p>If two lines are presented:
                           <ul><li>the first line shows affiliation from training request,</li>
                           <li>and the second line shows affiliation from trainee's profile</li></ul></p>
                           "></i>
        </th>
        {% if request.GET.location %}
          <th>Location</th>
        {% endif %}
        {% if request.GET.order_by == 'created_at' or request.GET.order_by == '-created_at' %}
          <th>Created at</th>
        {% endif %}
        <th>Matched Trainee</th>
        <th>Matched Training</th>
        <th>Score</th>
        <th width="50px">
          State
          <i class="fas fa-question-circle"
             data-toggle="popover" data-html="true" data-trigger="hover"
             data-content="<p>
                           <span class='badge badge-warning'>Pending</span>
                           <span class='badge badge-success'>Accepted</span>
                           <span class='badge badge-danger'>Discarded</span>
                           </p>
                           <p>Click one of
                           <a href='#'><i class='fas fa-info-circle'></i></a>
                           icons below to start accepting request.</p>
                          "></i>
        </th>
        <th class="additional-links"></th>
      </tr>
      {% for req in requests %}
        <tr>
          <td>
            <input type="checkbox" name="requests" value="{{ req.pk }}"
                   respond-to-select-all-checkbox
                   email="{% if req.person %}{{ req.person.email }}{% elif req.email %}{{ req.email }}{% endif %}"
                   {% if req in form.cleaned_data.requests or req in match_form.cleaned_data.requests %}checked {% endif %}
            />
          </td>
          <td>
            {{ req.personal }} {{ req.middle }} {{ req.family }}<br />
            &lt;{{ req.email|urlize }}&gt;
          </td>
          <td>{{ req.group_name|default:"—" }}</td>
          <td>
            {{ req.affiliation|default:"—" }}
            {% if req.person %}
               <hr />
              {{ req.person.affiliation|default:"—" }}
            {% endif %}
          </td>
          {% if request.GET.location %}
            <td>{{ req.location|default:"—" }}</td>
          {% endif %}
          {% if request.GET.order_by == 'created_at' or request.GET.order_by == '-created_at' %}
            <td>{{ req.created_at|date:'Y-m-d H:i' }}</td>
          {% endif %}
          <td>
            {% if req.person %}
              <a href="{% url 'person_details' req.person.pk %}">
                {{ req.person.full_name }}
              </a>
              {% if req.person.email %}
                <br />&lt;{{ req.person.email|urlize }}&gt;
              {% endif %}
            {% else %}—{% endif %}
          </td>
          <td>
            {% if req.person %}
              {% for task in req.person.training_tasks %}
                <a href="{% url 'event_details' task.event.slug %}">{{ task.event }}</a><br />
              {% empty %}
                —
              {% endfor %}
            {% else %}
              —
            {% endif %}
          </td>
          <td>{{ req.score_total }} pts.</td>
          <td>
            {% if req.state == 'p' %}
              <span class="{% state_label req %}"
                    data-toggle="popover" data-html="true"
                    data-content='
                      Click
                      <a href="#"><i class="fas fa-info-circle"></i></a>
                      icon on the right side to start accepting this request.
                    '>
                {{ req.get_state_display }}
              </span>
            {% else %}
              <span class="{% state_label req %}">
                {{ req.get_state_display }}
              </span>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'trainingrequest_details' req.id %}?next={{ request.get_full_path|urlencode }}" title="View"><i class="fas fa-info-circle"></i></a>
            &nbsp;
            <a href="{% url 'trainingrequest_edit' req.id %}?next={{ request.get_full_path|urlencode }}" title="Edit"><i class="fas fa-edit"></i></a>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% pagination requests %}

    <div class="btn-group" role="group" aria-label="Actions for list of training requests">
      <a class="btn btn-info" href="mailto:?bcc={% for mail in emails %}{{ mail }}{% if not forloop.last %},{% endif %}{% endfor %}">Mail <strong>all</strong> people matching this query</a>
      <a class="btn btn-success" href="{% url 'training_request' %}">Create new request</a>

      <div class="btn-group" role="group">
        <button id="id_downloadBtn" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Download
        </button>
        <div class="dropdown-menu" aria-labelledby="id_downloadBtn">
          <a class="dropdown-item" href="{% url 'api:training-requests' %}?format=csv&" amy-download-selected>Selected requests as CSV</a>
          <a class="dropdown-item" href="{% url 'api:training-requests' %}?format=csv&{{ request.GET.urlencode }}">Filtered requests as CSV</a>
          <a class="dropdown-item" href="{% url 'api:training-requests' %}?format=csv">All requests as CSV</a>
        </div>
      </div>

      <div class="btn-group" role="group">
        <button id="id_downloadBtn" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Download for bulk manual scoring
        </button>
        <div class="dropdown-menu" aria-labelledby="id_downloadBtn">
          <a class="dropdown-item" href="{% url 'api:training-requests' %}?format=csv2&manualscore=1" amy-download-selected>Selected requests as CSV</a>
          <a class="dropdown-item" href="{% url 'api:training-requests' %}?format=csv2&manualscore=1&{{ request.GET.urlencode }}">Filtered requests as CSV</a>
          <a class="dropdown-item" href="{% url 'api:training-requests' %}?format=csv2&manualscore=1">All requests as CSV</a>
        </div>
      </div>
    </div>

    <hr>

    <h2>Actions</h2>
    {% crispy form %}
    {% crispy match_form %}
    </form>
{% else %}
    <p>No training requests.</p>
{% endif %}
{% endblock %}
