{% extends "base_nav.html" %}

{% load revisions %}
{% load crispy_forms_tags %}
{% load state %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">Fix errors below and try again.</div>
{% endif %}

{% last_modified req %}

{% if not req.person %}
  <h2>Match Request to AMY account</h2>
  {% if form.initial.person %}
    <p>It looks like the submitter has already an account. Click "match to selected trainee account" unless the following account doesn't match submitter.</p>
  {% else %}
    <p>It looks like we don't have any account for the request's submitter. Click "create new trainee account" unless you can find this submitter's account.</p>
  {% endif %}
  {% crispy form %}
{% endif %}

<h2>Request details</h2>
<div class="edit-object">
  <a href="{% url 'trainingrequest_edit' req.id %}" class="btn btn-primary">Edit</a>
</div>

{% include "includes/trainingrequest_details.html" with admin=True object=req %}

{% include "includes/comments.html" with object=req %}

{% endblock %}
