{% extends "base_nav.html" %}

{% load links %}
{% load tags %}
{% load comments %}

{% block content %}
<form method="POST">
{% csrf_token %}
{{ form.trainingrequest_a }}
{{ form.trainingrequest_b }}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th width="12%">Field</th>
      <th width="38%">Training request A (<a href="{{ obj_a.get_absolute_url }}" target="_blank">link</a>)</th>
      <th width="38%">Training request B (<a href="{{ obj_b.get_absolute_url }}" target="_blank">link</a>)</th>
      <th width="12%">Strategy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {# selecting an ID basically shows which object should stay, and which should go #}
      <th>ID <i class="fas fa-question-circle" data-toggle="tooltip" title="This indicates which training request (as database object) will stay; the other one will be removed."></i></th>
      <td>{{ obj_a.id|default:"—" }}</td><td>{{ obj_b.id|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.id %}</th>
    </tr>
    <tr>
      <th>State</th>
      <td>{{ obj_a.get_state_display }}</td><td>{{ obj_b.get_state_display }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.state %}</th>
    </tr>
    <tr>
      <th>Matched person</th>
      <td>{% if obj_a.person %}<a href="{{ obj_a.person.get_absolute_url }}">{{ obj_a.person.full_name }}</a>{% else %}—{% endif %}</td>
      <td>{% if obj_b.person %}<a href="{{ obj_b.person.get_absolute_url }}">{{ obj_b.person.full_name }}</a>{% else %}—{% endif %}</td>
      <th>{% include "includes/merge_radio.html" with field=form.person %}</th>
    </tr>
    <tr>
      <th>Registration Code</th>
      <td>{{ obj_a.group_name|default:"—" }}</td><td>{{ obj_b.group_name|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.group_name %}</th>
    </tr>
    <tr>
      <th>Personal</th>
      <td>{{ obj_a.personal|default:"—" }}</td><td>{{ obj_b.personal|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.personal %}</th>
    </tr>
    <tr>
      <th>Middle</th>
      <td>{{ obj_a.middle|default:"—" }}</td><td>{{ obj_b.middle|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.middle %}</th>
    </tr>
    <tr>
      <th>Family</th>
      <td>{{ obj_a.family|default:"—" }}</td><td>{{ obj_b.family|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.family %}</th>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ obj_a.email|default:"—" }}</td><td>{{ obj_b.email|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.email %}</th>
    </tr>
    <tr>
      <th>Secondary email</th>
      <td>{{ obj_a.secondary_email|default:"—" }}</td>
      <td>{{ obj_b.secondary_email|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.secondary_email %}</th>
    </tr>
    <tr>
      <th>GitHub</th>
      <td>{{ obj_a.github|default:"—" }}</td><td>{{ obj_b.github|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.github %}</th>
    </tr>
    <tr>
      <th>Occupation</th>
      <td>{{ obj_a.get_occupation_display }}</td><td>{{ obj_b.get_occupation_display }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.occupation %}</th>
    </tr>
    <tr>
      <th>Other occupation</th>
      <td>{{ obj_a.occupation_other|default:"—" }}</td><td>{{ obj_b.occupation_other|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.occupation_other %}</th>
    </tr>
    <tr>
      <th>Affiliation</th>
      <td>{{ obj_a.affiliation|default:"—" }}</td><td>{{ obj_b.affiliation|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.affiliation %}</th>
    </tr>
    <tr>
      <th>Location</th>
      <td>{{ obj_a.location|default:"—" }}</td><td>{{ obj_b.location|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.location %}</th>
    </tr>
    <tr>
      <th>Country</th>
      <td>{% if obj_a.country %}{{ obj_a.country.name }} <img src="{{ obj_a.country.flag }}" alt="{{ obj_a.country }}" class="country-flag" />{% else %}—{% endif %}</td>
      <td>{% if obj_b.country %}{{ obj_b.country.name }} <img src="{{ obj_b.country.flag }}" alt="{{ obj_b.country }}" class="country-flag" />{% else %}—{% endif %}</td>
      <th>{% include "includes/merge_radio.html" with field=form.country %}</th>
    </tr>
    <tr>
      <th>Under-resourced?</th>
      <td>{{ obj_a.underresourced|yesno }}</td><td>{{ obj_b.underresourced|yesno }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.underresourced %}</th>
    </tr>
    <tr>
      <th>Knowledge domains</th>
      <td>{% if obj_a.domains.all %}<ul>{% for domain in obj_a.domains.all %}<li>{{ domain }}</li>{% endfor %}</ul>{% else %}—{% endif %}</td>
      <td>{% if obj_b.domains.all %}<ul>{% for domain in obj_b.domains.all %}<li>{{ domain }}</li>{% endfor %}</ul>{% else %}—{% endif %}</td>
      <th>{% include "includes/merge_radio.html" with field=form.domains %}</th>
    </tr>
    <tr>
      <th>Other knowledge domains</th>
      <td>{{ obj_a.domains_other|default:"—" }}</td><td>{{ obj_b.domains_other|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.domains_other %}</th>
    </tr>
    <tr>
      <th>Under-represented</th>
      <td>{{ obj_a.get_underrepresented_display }}</td><td>{{ obj_b.get_underrepresented_display }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.underrepresented %}</th>
    </tr>
    <tr>
      <th>Under-represented (reason)</th>
      <td>{{ obj_a.underrepresented_details|default:"—" }}</td><td>{{ obj_b.underrepresented_details|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.underrepresented_details %}</th>
    </tr>
    <tr>
      <th>Non-profit / volunteer teaching experience</th>
      <td>{{ obj_a.nonprofit_teaching_experience|default:"—" }}</td><td>{{ obj_b.nonprofit_teaching_experience|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.nonprofit_teaching_experience %}</th>
    </tr>
    <tr>
      <th>Previous involvement with The Carpentries</th>
      <td>{% if obj_a.previous_involvement.all %}<ul>{% for role in obj_a.previous_involvement.all %}<li>{{ role }}</li>{% endfor %}</ul>{% else %}—{% endif %}</td>
      <td>{% if obj_b.previous_involvement.all %}<ul>{% for role in obj_b.previous_involvement.all %}<li>{{ role }}</li>{% endfor %}</ul>{% else %}—{% endif %}</td>
      <th>{% include "includes/merge_radio.html" with field=form.previous_involvement %}</th>
    </tr>
    <tr>
      <th>Previous training</th>
      <td>{{ obj_a.get_previous_training_display }}</td><td>{{ obj_b.get_previous_training_display }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.previous_training %}</th>
    </tr>
    <tr>
      <th>Other previous training</th>
      <td>{{ obj_a.previous_training_other|default:"—" }}</td><td>{{ obj_b.previous_training_other|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.previous_training_other %}</th>
    </tr>
    <tr>
      <th>Previous training explanation</th>
      <td>{{ obj_a.previous_training_explanation|default:"—" }}</td><td>{{ obj_b.previous_training_explanation|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.previous_training_explanation %}</th>
    </tr>
    <tr>
      <th>Previous experience</th>
      <td>{{ obj_a.get_previous_experience_display }}</td><td>{{ obj_b.get_previous_experience_display }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.previous_experience %}</th>
    </tr>
    <tr>
      <th>Other previous experience</th>
      <td>{{ obj_a.previous_experience_other|default:"—" }}</td><td>{{ obj_b.previous_experience_other|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.previous_experience_other %}</th>
    </tr>
    <tr>
      <th>Previous experience explanation</th>
      <td>{{ obj_a.previous_experience_explanation|default:"—" }}</td><td>{{ obj_b.previous_experience_explanation|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.previous_experience_explanation %}</th>
    </tr>
    <tr>
      <th>Programming language usage frequency</th>
      <td>{{ obj_a.get_programming_language_usage_frequency_display }}</td><td>{{ obj_b.get_programming_language_usage_frequency_display }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.programming_language_usage_frequency %}</th>
    </tr>
    <tr>
      <th>Teaching frequency expectation</th>
      <td>{{ obj_a.get_teaching_frequency_expectation_display }}</td><td>{{ obj_b.get_teaching_frequency_expectation_display }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.teaching_frequency_expectation %}</th>
    </tr>
    <tr>
      <th>Other teaching frequency expectation</th>
      <td>{{ obj_a.teaching_frequency_expectation_other|default:"—" }}</td><td>{{ obj_b.teaching_frequency_expectation_other|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.teaching_frequency_expectation_other %}</th>
    </tr>
    <tr>
      <th>Max. travelling frequency</th>
      <td>{{ obj_a.get_max_travelling_frequency_display }}</td><td>{{ obj_b.get_max_travelling_frequency_display }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.max_travelling_frequency %}</th>
    </tr>
    <tr>
      <th>Other max. travelling frequency</th>
      <td>{{ obj_a.max_travelling_frequency_other|default:"—" }}</td><td>{{ obj_b.max_travelling_frequency_other|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.max_travelling_frequency_other %}</th>
    </tr>
    <tr>
      <th>Reason</th>
      <td>{% if obj_a.reason %}<pre>{{ obj_a.reason }}</pre>{% else %}—{% endif %}</td><td>{% if obj_b.reason %}<pre>{{ obj_b.reason }}</pre>{% else %}—{% endif %}</td>
      <th>{% include "includes/merge_radio.html" with field=form.reason %}</th>
    </tr>
    <tr>
      <th>Additional comments by submitter</th>
      <td>{% if obj_a.comment %}<pre>{{ obj_a.comment }}</pre>{% else %}—{% endif %}</td><td>{% if obj_b.comment %}<pre>{{ obj_b.comment }}</pre>{% else %}—{% endif %}</td>
      <th>{% include "includes/merge_radio.html" with field=form.comment %}</th>
    </tr>
    <tr>
      <th>Training completion agreement?</th>
      <td>{{ obj_a.training_completion_agreement|yesno }}</td><td>{{ obj_b.training_completion_agreement|yesno }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.training_completion_agreement %}</th>
    </tr>
    <tr>
      <th>Workshop teaching agreement?</th>
      <td>{{ obj_a.workshop_teaching_agreement|yesno }}</td><td>{{ obj_b.workshop_teaching_agreement|yesno }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.workshop_teaching_agreement %}</th>
    </tr>
    <tr>
      <th>Data privacy agreement?</th>
      <td>{{ obj_a.data_privacy_agreement|yesno }}</td><td>{{ obj_b.data_privacy_agreement|yesno }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.data_privacy_agreement %}</th>
    </tr>
    <tr>
      <th>Code of conduct agreement?</th>
      <td>{{ obj_a.code_of_conduct_agreement|yesno }}</td><td>{{ obj_b.code_of_conduct_agreement|yesno }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.code_of_conduct_agreement %}</th>
    </tr>
    <tr>
      <th>Created at</th>
      <td>{{ obj_a.created_at|default:"—" }}</td><td>{{ obj_b.created_at|default:"—" }}</td>
      <th>{% include "includes/merge_radio.html" with field=form.created_at %}</th>
    </tr>
    <tr>
      <th>Comments</th>
      <td>{% render_comment_list for obj_a %}</td>
      <td>{% render_comment_list for obj_b %}</td>
      <th>{% include "includes/merge_radio.html" with field=form.comments %}</th>
    </tr>
  </tbody>
</table>
<div class="float-right">
  <input class="btn btn-primary" type="submit" value="Submit" />
</div>
</form>
{% endblock %}
