{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block maincolumn %}col-md-8 offset-md-2 col-sm-12{% endblock %}

{% block content %}

<p>In accordance with our <a href="https://docs.carpentries.org/topic_folders/policies/privacy.html" target="_blank" rel="noreferrer">Privacy Policy</a>,
  we ask you required and optional consents. Required consents are necessary to continue using our Sites and Services.
  We minimize the personal data we collect, and your data is never sold to third-parties.</p>

{% crispy form %}
<a href="{% url 'logout' %}" class="btn btn-secondary">Log out</a>

<p>If you have any questions, please send us email at <a href="mailto:privacy@carpentries.org">privacy@carpentries.org</a>.</p>

</div>

{% endblock %}
