{% extends "base_nav.html" %}

{% block content %}

{% if is_admin or user.is_superuser %}
<div class="row">
  <div class="col-12">
    {% include "includes/assignment.html" %}
  </div>
</div>
{% endif %}

{% if events.all %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Assignee</th>
        <th>Event</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events.all %}
      <tr>
        <td>{% if event.assigned_to %}<a href="{{ event.assigned_to.get_absolute_url }}">{{ event.assigned_to.get_short_name }}</a>{% else %}—{% endif %}</td>
        <td>{% if not event.slug %}—{% else %}<a href="{{ event.get_absolute_url }}">{{ event.slug }}</a>{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}

{% endif %}

{% endblock %}
