{% load links %}
<table class="table table-striped">
  <tbody>
    <tr><th>Submission date:</th>
        <td>{{ object.created_at }}</td></tr>
    <tr><th>Related event:</th>
        <td>{% if object.event %}<a href="{{ object.event.get_absolute_url }}">{{ object.event }}</a>{% else %}&mdash;{% endif %}</td></tr>
    <tr><th>Person:</th>
        <td>{{ object.contact_name }} &lt;{{ object.contact_email|urlize }}&gt;</td></tr>
    <tr><th>Workshop URL:</th>
        <td>{{ object.url|urlize_newtab }} {% if load %}<a href="{% url 'event_import' %}?url={{ object.url|urlencode }}" class="btn btn-primary btn-sm float-right" id="load_event">load event data</a>{% endif %}</td></tr>
    <tr><th>Self-organized:</th>
        <td>{{ object.self_organized|yesno }}</td></tr>
    <tr><th>Notes:</th>
        <td><pre>{{ object.notes }}</pre></td></tr>
  </tbody>
</table>

{% if link %}
<p>You can view the request here:
<a href="{{ link_domain }}{{ link }}">{{ link_domain }}{{ link }}</a>
</p>
{% endif %}
