{% extends "base_nav_sidebar.html" %}

{% load pagination %}

{% block content %}
<table class="table table-striped">
  <tr><th>Name:</th><td>{{ badge.name|default:"—" }}</td></tr>
  <tr><th>Title:</th><td>{{ badge.title|default:"—" }}</td></tr>
  <tr><th>Criteria:</th><td>{{ badge.criteria|default:"—" }}</td></tr>
</table>

  {% if perms.workshops.add_award %}
    <p><a href="{% url 'award_add' %}?badge={{ badge.pk }}" class="btn btn-success">Award new</a></p>
  {% else %}
    <p><button class="btn btn-danger disabled">Award new</button></p>
  {% endif %}

{% if awards %}
  <h3>Awarded:</h3>
  <table class="table table-striped">
    <tr>
      <th>Person</th>
      <th>Awarded</th>
      <th>Event</th>
      <th>Awarded by</th>
      <th></th>
    </tr>
    {% for award in awards %}
    <tr>
      <td><a href="{{ award.person.get_absolute_url }}">{{ award.person.full_name }}</a>{% if award.person.email and award.person.may_contact %} &lt;{{ award.person.email|urlize }}&gt;{% endif %}</td>
      <td>{{ award.awarded }}</td>
      <td>{% if award.event %}<a href="{% url 'event_details' award.event.slug %}">{{ award.event }}</a>{% else %}—{% endif %}</td>
      <td>{% if award.awarded_by %}<a href="{{ award.awarded_by.get_absolute_url }}">{{ award.awarded_by.full_name }}</a>{% else %}—{% endif %}</td>
      <td>
        <form action="{% url 'award_delete' pk=award.id %}" onsubmit='return confirm("Are you sure you wish to drop award \"{{ award.badge.title }}\" from \"{{ award.person }}\"?")' method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% pagination awards %}

  {% if perms.workshops.add_award %}
    <p><a href="{% url 'award_add' %}?badge={{ badge.pk }}" class="btn btn-success">Award new</a></p>
  {% else %}
    <p><button class="btn btn-danger disabled">Award new</button></p>
  {% endif %}

{% else %}
<p>None awarded.</p>
{% endif %}

{% endblock %}
