{% extends "base_nav.html" %}

{% load crispy_forms_tags %}
{% load links %}

{% block content %}
<nav class="col-12">
  <ul class="nav nav-tabs" role="tablist" id="tabs">
    <li role="presentation" class="nav-item"><a class="nav-link active" href="#event" role="tab" data-toggle="tab" aria-controls="event" aria-selected="true" id="event-tab">Event</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#tasks" role="tab" data-toggle="tab" aria-controls="tasks" aria-selected="false" id="tasks-tab">Tasks</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#sponsors" role="tab" data-toggle="tab" aria-controls="sponsors" aria-selected="false" id="sponsors-tab">Sponsors</a></li>
  </ul>
</nav>
<div class="col-12 tab-content">
  <div class="tab-pane show active" role="tabpanel" aria-labelledby="event-tab" id="event">
    <a href="#update_url_modal" class="btn btn-secondary" id="update_url_button" data-toggle="modal" data-target="#update_url_modal">Update from URL</a>
    {% crispy form %}
    {% include "includes/event_import_update_from_url.html" with update=True %}
  </div>
  <div class="tab-pane" role="tabpanel" aria-labelledby="tasks-tab" id="tasks">
    {% block task_tab %}

    <form class="form-horizontal" role="form" method="POST" action="{% url 'task_add' %}?next={{ request.get_full_path|urlencode }}#tasks">
      {% crispy task_form %}
    </form>

    {% if tasks %}
    <table class="table table-striped">
    <tr>
      <th>Person</th>
      <th>URL</th>
      <th>Role</th>
      <th>Member site seat <i class="fas fa-question-circle" data-toggle="tooltip" title="Applies only to TTT events"></i></th>
      <th>Open applicant <i class="fas fa-question-circle" data-toggle="tooltip" title="Applies only to TTT events with open applications"></i></th>
      <th class="additional-links-wider"></th>
    </tr>
    {% for t in tasks %}
    <tr>
      <td><a href="{{ t.person.get_absolute_url }}">{{ t.person.full_name }}</a>{% if t.person.email and t.person.may_contact %} &lt;{{ t.person.email|urlize }}&gt;{% endif %}</td>
      <td>{{ t.url|default:"—"|urlize_newtab }}</td>
      <td>{{ t.role.name }}</td>
      <td>{% if t.seat_membership %}<a href="{{ t.seat_membership.get_absolute_url }}">{{ t.seat_membership }}</a>{% else %}&mdash;{% endif %}</td>
      <td>{{ t.seat_open_training|yesno }}</td>
      <td>
        <a href="{% url 'task_details' t.pk %}" title="View {{ t }}"><i class="fas fa-info-circle"></i></a>
        &nbsp;
        {% if perms.workshops.edit_task %}
        <a href="{% url 'task_edit' t.pk %}" title="Edit {{ t }}"><i class="fas fa-edit"></i></a>
        {% endif %}
        <form class="amy-form-inline" action="{% url 'task_delete' t.id %}?next={{ request.get_full_path|urlencode }}#tasks" onsubmit='return confirm("Are you sure you wish to remove \"{{ t.person.full_name }}\" from {{ object.slug }}?")' method="POST">
          {% csrf_token %}
          <button type="submit" class="no-btn"><i class="fas fa-times"></i></button>
        </form>
      </td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No tasks.</p>
    {% endif %}
    {% endblock task_tab %}
  </div>
  <div class="tab-pane" role="tabpanel" aria-labelledby="sponsors-tab" id="sponsors">
    {% block sponsor_tab %}
    <form class="form-horizontal" role="form" method="POST" action="{% url 'sponsorship_add' %}">
      {% crispy sponsor_form %}
    </form>

    {% if object.sponsorship_set.all %}
    {% block sponsor_list %}
    <table class="table table-striped">
    <tr>
      <th>Organization</th>
      <th>Amount</th>
      <th>Contact</th>
      <th>Actions</th>
    </tr>
    {% for sponsorship in object.sponsorship_set.all %}
    <tr>
      <td><a href="{{ sponsorship.organization.get_absolute_url }}">{{ sponsorship.organization }}</a></td>
      <td>{{ sponsorship.amount|default:"—" }}</td>
      <td>
      {% if sponsorship.contact %}
        <a href="{{ sponsorship.contact.get_absolute_url }}">{{ sponsorship.contact }}</a>
      {% else %}—{% endif %}
      </td>
      <td>
        <form action="{% url 'sponsorship_delete' pk=sponsorship.id %}" onsubmit='return confirm("Are you sure you wish to remove \"{{ sponsorship }}\" from {{ object }}?")' method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
    </table>
    {% endblock sponsor_list %}
    {% else %}
    <p>No sponsors.</p>
    {% endif %}
    {% endblock sponsor_tab %}
  </div>
</div>

{% include "includes/comments.html" with object=event %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $(function() {
    $('#tabs').stickyTabs();
  });
</script>
{% endblock extrajs %}
