{% extends "base_nav.html" %}

{% load crispy_forms_tags %}
{% load links %}

{% block content %}
<nav class="col-12">
  <ul class="nav nav-tabs" role="tablist" id="tabs">
    <li role="presentation" class="nav-item"><a class="nav-link active" href="#person" role="tab" data-toggle="tab" aria-controls="person" aria-selected="true" id="person-tab">Person</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#awards" role="tab" data-toggle="tab" aria-controls="awards">Awards</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#tasks" role="tab" data-toggle="tab" aria-controls="tasks">Tasks</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#consents" role="tab" data-toggle="tab" aria-controls="consents">Consents</a></li>
  </ul>
</nav>

<div class="col-12 tab-content">
  <div class="tab-pane active" role="tabpanel" aria-labelledby="person-tab" id="person">
    {% crispy form %}
  </div>
  <div class="tab-pane" role="tabpanel" aria-labelledby="awards-tab" id="awards">
    {% if perms.workshops.add_awards %}
    <form class="form-horizontal" role="form" method="POST" action="{% url 'award_add' %}?next={{ request.get_full_path|urlencode }}#awards">
      {% crispy award_form %}
    </form>
    {% endif %}

    {% if awards %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Badge</th>
          <th>Awarded</th>
          <th>Event</th>
          <th>Awarded by</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for award in awards %}
        <tr>
          <td><a href="{{ award.badge.get_absolute_url }}">{{ award.badge.title }}</a></td>
          <td>{{ award.awarded }}</td>
          <td>{% if award.event %}<a href="{{ award.event.get_absolute_url }}">{{ award.event }}</a>{% else %}—{% endif %}</td>
          <td>{% if award.awarded_by %}<a href="{{ award.awarded_by.get_absolute_url }}">{{ award.awarded_by.full_name }}</a>{% else %}—{% endif %}</td>
          <td>
            {% if perms.workshops.delete_award %}
            <form action="{% url 'award_delete' pk=award.id %}?next={{ request.get_full_path|urlencode }}#awards" onsubmit='return confirm("Are you sure you wish to drop award \"{{ award.badge.title }}\" from \"{{ award.person }}\"?")' method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            {% else %}
            <button class="btn btn-danger disabled">Delete</button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No awards.</p>
    {% endif %}
  </div>
  <div class="tab-pane" role="tabpanel" aria-labelledby="tasks-tab" id="tasks">
    {% if perms.workshops.add_tasks %}
    <form class="form-horizontal" role="form" method="POST" action="{% url 'task_add' %}?next={{ request.get_full_path|urlencode }}#tasks">
      {% crispy task_form %}
    </form>
    {% endif %}

    {% if tasks %}
    <table class="table table-striped">
      <tr>
        <th>Event</th>
        <th>URL</th>
        <th>Role</th>
        <th>Member site seat <i class="fas fa-question-circle" data-toggle="tooltip" title="Applies only to TTT events"></i></th>
        <th>Open applicant <i class="fas fa-question-circle" data-toggle="tooltip" title="Applies only to TTT events with open applications"></i></th>
        <th class="additional-links-wider"></th>
      </tr>
      {% for t in tasks %}
      <tr>
        <td><a href="{{ t.event.get_absolute_url }}">{{ t.event.slug }}</a></td>
        <td>{{ t.url|default:"—"|urlize_newtab }}</td>
        <td>{{ t.role.name }}</td>
        <td>{% if t.seat_membership %}<a href="{{ t.seat_membership.get_absolute_url }}">{{ t.seat_membership }}</a>{% else %}&mdash;{% endif %}</td>
        <td>{{ t.seat_open_training|yesno }}</td>
        <td>
          <a href="{% url 'task_details' t.pk %}" title="View {{ t }}"><i class="fas fa-info-circle"></i></a>
          &nbsp;
          {% if perms.workshops.edit_task %}
          <a href="{% url 'task_edit' t.pk %}" title="Edit {{ t }}"><i class="fas fa-edit"></i></a>
          {% endif %}
          <form class="amy-form-inline" action="{% url 'task_delete' t.id %}?next={{ request.get_full_path|urlencode }}#tasks" onsubmit='return confirm("Are you sure you wish to remove \"{{ t }}\" from {{ t.event.slug }}?")' method="POST">
            {% csrf_token %}
            <button type="submit" class="no-btn"><i class="fas fa-times"></i></button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No tasks.</p>
    {% endif %}
  </div>
  <div class="tab-pane" role="tabpanel" aria-labelledby="consents-tab" id="consents">
    {% if consents_form.terms %}
      <form class="form-horizontal" role="form" method="POST" action="{% url 'consents_add' person.id %}?next={{ request.get_full_path|urlencode }}#consents">
      {% crispy consents_form %}
      </form>
    {% else %}
      <p>No Terms.</p>
    {% endif %}
    
  </div>
</div>

{% include "includes/comments.html" with object=object %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#id_award-awarded").datepicker({
      format: "yyyy-mm-dd",
      todayHighlight: true
    });
    $('#tabs').stickyTabs();
  });
</script>
{% endblock extrajs %}
