{% extends "base_nav.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block logo %}
<img src="{% static 'software-carpentry-banner.png' %}" alt='Software-Carpentry logo' />
{% endblock %}

{% block content %}
{# {% crispy form %} #}
<p>If you would like to request a Software Carpentry workshop please visit <a href="http://software-carpentry.org/workshops/request/">http://software-carpentry.org/workshops/request/</a></p>

<p>If you would like to request a Data Carpentry workshop please visit <a href="http://www.datacarpentry.org/workshops-host/">http://www.datacarpentry.org/workshops-host/</a></p>

<p>For any other questions about Software Carpentry or Data Carpentry please contact <a href="mailto:team@carpentries.org">team@carpentries.org</a>.</p>

<p>Thank you.</p>
{% endblock %}
