{% extends "base_nonav_fixed.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load selectable_tags %}

{% block logo %}
<img src="{% static 'software-carpentry-banner.png' %}" alt='Software-Carpentry logo' class="workshop-form-logo" />
<img src="{% static 'data-carpentry-banner.png' %}" alt='Data-Carpentry logo' class="workshop-form-logo" />
{% endblock %}

{% block content %}
<p>Thank you for applying for instructor training. We will contact you shortly.</p>
<p>Return to <a href="https://software-carpentry.org/">the main web site</a>.</p>
{% endblock %}
