{% extends "base_nonav_fixed.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load selectable_tags %}

{% block logo %}
<img src="{% static 'software-carpentry-banner.png' %}" alt='Software-Carpentry logo' class="workshop-form-logo" />
<img src="{% static 'data-carpentry-banner.png' %}" alt='Data-Carpentry logo' class="workshop-form-logo" />
{% endblock %}

{% block content %}

<p>Our instructor training classes are for people who wish to learn how to teach
Software Carpentry and Data Carpentry workshops. We teach impactful pedagogical
techniques and prepare you to become an instructor in our community. We use this
form to register interest and build new communities of instructors around the
world.</p>

<p>If you wish to apply to our open instructor training program, please fill in
the form below. Tell us about yourself, what excites you about teaching, how
Software and Data Carpentry can help in your community. Spaces are limited, so
use this form to share with us what excites you about spreading our teaching to
your organization. We will notify applicants as limited spaces become
available. If you have any questions, please mail
<a href="mailto:training@software-carpentry.org">
training@software-carpentry.org</a>.

<p>If you would like to accelerate the process, check out our
<a href="http://software-carpentry.org/scf/join/">Partnership program.</a>
Organizational partners make ongoing commitments to supporting our organization
and are prioritized for instructor training. If you need help making the case
at your organization, feel free to contact us at
<a href="mailto:partnerships@software-carpentry.org">
partnerships@software-carpentry.org</a>,
we'd be happy to help.</p>

<p>Please note that as a condition of taking this training:</p>

<ul>
<li>You are required to abide by our code of conduct, which can be found at
<a href="http://software-carpentry.org/conduct/" target="_blank">
http://software-carpentry.org/conduct/</a> and
<a href="http://datacarpentry.org/code-of-conduct/" target="_blank">
http://datacarpentry.org/code-of-conduct/</a>.</li>

<li>You must complete three short tasks after the course in order to complete
certification. The tasks are described at
<a href="http://swcarpentry.github.io/instructor-training/checkout/" target="_blank">
http://swcarpentry.github.io/instructor-training/checkout/</a>, and take a total
of approximately 8-10 hours.</li>

<li>You are expected to teach at a Software Carpentry or Data Carpentry workshop
within 12 months of the course.</li>
</ul>

<p>For more information on Software and Data Carpentry instructor training,
please see <a href="http://swcarpentry.github.io/instructor-training/" target="_blank">
http://swcarpentry.github.io/instructor-training/</a>.</p>
{% crispy form form_helper %}
{% endblock %}

{% block extrajs %}
{{ form.media }}
{% endblock extrajs %}
