{% extends "base_nav.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block logo %}
<img src="{% static 'software-carpentry-banner.png' %}" alt='Software-Carpentry logo' />
<img src="{% static 'data-carpentry-banner.png' %}" alt='Data-Carpentry logo' />
{% endblock %}

{% block content %}

<p>Our instructor training classes are for people who wish to learn how to
teach Carpentry workshops. We teach
impactful pedagogical techniques and prepare you to become an Instructor
in our community. We use this form to register interest and build new
communities of Instructors around the world.</p>

<p>If you wish to apply to our open instructor training program, please
fill in the form below. Tell us about yourself, what excites you about
teaching, and how The Carpentries can help in your community.
Spaces are limited, so use this form to share with us what excites you
about spreading our teaching to your organization. We will notify
applicants as limited spaces become available. If you have any
questions, please mail <a href="mailto:training@carpentries.org">
training@carpentries.org</a>.</p>

<p>If you would like to accelerate the process, check out our
<a href="https://carpentries.org/membership/">membership program</a>.
Organizational members make ongoing commitments to supporting The Carpentries
and are guaranteed seats in instructor training. If you need
help making the case at your organization, feel free to contact us at
<a href="mailto:partnerships@carpentries.org">partnerships@carpentries.org</a>,
we'd be happy to help.</p>

<p>Please note that as a condition of taking this training:</p>

<ul>
  <li>You are required to abide by our <a href="https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html" target="_blank">Code of Conduct</a>.</li>

  <li>You must complete short follow-up tasks after the course in order to
  complete certification. The tasks are described at
  <a href="http://carpentries.github.io/instructor-training/checkout/">http://carpentries.github.io/instructor-training/checkout/</a>.
  </li>

  <li>You are expected to teach at a Carpentry workshop
  within 12 months of the course.</li>
</ul>

<p>For our instructor training curriculum, please see <a href="http://carpentries.github.io/instructor-training/">
http://carpentries.github.io/instructor-training/</a>.</p>

<div class="alert alert-info">
  <p>If you are scheduled to receive training at a member site, and have been
  asked to fill in this form to give us information about yourself, please do
  so and we will follow up when your site's training has been scheduled.</p>
</div>

{% crispy form %}
{% endblock %}

{% block extrajs %}
{{ form.media }}
{% endblock extrajs %}
