{% extends "workshops:workshops/event.html" %}

{% block sponsorships %}
{% with sponsorships=event.sponsorship_set.all %}
{% if sponsorships %}
<h3>Sponsors</h3>
<table class="table table-striped">
  <tr>
    <th>organization</th>
    <th>level</th>
  </tr>
  {% for sponsorship in sponsorships %}
  <tr>
    <td><a href="{{ sponsorship.organization.get_absolute_url }}">{{ sponsorship.organization }}</a></td>
    <td>{{ sponsorship.level }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No sponsors.</p>
{% endif %}
{% endwith %}
{% endblock %}