{% extends "workshops:workshops/event_edit_form.html" %}

{% block task_tab %}
<button type="button" class="btn btn-default" id="import_task_button">Import a presentation</button>
{{ block.super }}
{% include "pydata/task_import_modal.html" %}
{% endblock task_tab %}

{% block sponsor_tab %}
<button type="button" class="btn btn-default" id="import_sponsor_button">Import a sponsor</button>
{{ block.super }}
{% include "pydata/sponsor_import_modal.html" %}
{% endblock sponsor_tab %}

{% block sponsor_list %}
<table class="table table-striped">
<tr>
  <th>organization</th>
  <th>level</th>
  <th>contact</th>
  <th>actions</th>
</tr>
{% for sponsorship in object.sponsorship_set.all %}
<tr>
  <td><a href="{{ sponsorship.organization.get_absolute_url }}">{{ sponsorship.organization }}</a>
  <td>{{ sponsorship.get_amount_display }}</td>
  <td>
  {% if sponsorship.contact %}
    <a href="{{ sponsorship.contact.get_absolute_url }}">{{ sponsorship.contact }}</a>
  {% else %}—{% endif %}
  </td>
  <td>
    <form action="{% url 'sponsorship_delete' pk=sponsorship.id %}" onsubmit='return confirm("Are you sure you wish to remove \"{{ sponsorship }}\" from {{ object }}?")' method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </td>
</tr>
{% endfor %}
</table>
{% endblock sponsor_list %}