{% extends "base_nav_sidebar.html" %}

{% load pagination %}
{% load tags %}

{% block content %}
{% if scheduled_emails %}
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>State</th>
        <th>Scheduled at</th>
        <th>Related object</th>
        <th>To</th>
        <th>From</th>
        <th>Subject</th>
      </tr>
    {% for email in scheduled_emails %}
      <tr>
        <td>
          <a href="{{ email.get_absolute_url }}">{{ email.template.name }}</a>
        </td>
        <td class="text-{% if email.state == 'failed' %}danger{% elif email.state == 'succeeded'%}success{% elif email.state == 'cancelled' %}secondary{% else %}info{% endif %}">{{ email.state }}</td>
        <td>{{ email.scheduled_at }}</td>
        <td>
          {% if email.generic_relation and email.generic_relation.get_absolute_url %}
          <a href="{{ email.generic_relation.get_absolute_url }}">{{ email.generic_relation }}</a>
          {% elif email.generic_relation %}
          {{ email.generic_relation }}
          {% else %}
          &mdash;
          {% endif %}
        </td>
        <td>
            {% if email.to_header %}
            <ul>
                {% for item in email.to_header %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% else %}
            &mdash;
            {% endif %}
        </td>
        <td>{{ email.from_header }}</td>
        <td>{{ email.subject }}</td>
      </tr>
    {% endfor %}
    </table>
    {% pagination scheduled_emails %}
{% else %}
    <p>No scheduled emails.</p>
{% endif %}
{% endblock %}
