{% extends "base_nav.html" %}
{% load links attrs %}
{% load communityroles %}
{% load revisions %}

{% block content %}
{% last_modified object %}

{% if object|one2one_exists:"rolled_from_partnership" %}
<div class="alert alert-info" role="alert">
  Rolled over from <a href="{{ object.rolled_from_partnership.get_absolute_url }}">{{ object.rolled_from_partnership }}</a>.
</div>
{% endif %}
{% if object.rolled_to_partnership %}
<div class="alert alert-info" role="alert">
  Rolled over to <a href="{{ object.rolled_to_partnership.get_absolute_url }}">{{ object.rolled_to_partnership }}</a>.
</div>
{% endif %}

<div class="edit-object">
  {% if perms.fiscal.change_partnership %}
    <a class="btn btn-primary" href="{% url 'partnership-update' object.pk %}">Edit</a>
  {% else %}
    <a class="btn btn-primary disabled" disabled href="#">Edit</a>
  {% endif %}
  <div class="float-right">
    {% if perms.fiscal.delete_partnership %}
    <form action="{% url 'partnership-delete' object.pk %}" onsubmit='return confirm("Are you sure you wish to remove this partnership?")' method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {% else %}
    <a class="btn btn-danger disabled" disabled href="#">Delete</a>
    {% endif %}
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th>Name:</th>
    <td>{{ object.name }}</td>
  </tr>
  <tr>
    <th>Organisation:</th>
    <td>
      {% if object.partner_organisation %}
        <a href="{{ object.partner_organisation.get_absolute_url }}">{{ object.partner_organisation }}</a>
      {% else%}
        &mdash;
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Consortium:</th>
    <td>
      {% if object.partner_consortium %}
        <a href="{{ object.partner_consortium.get_absolute_url }}">{{ object.partner_consortium }}</a>
      {% else%}
        &mdash;
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Account:</th>
    <td>
      {% if object.account %}
      <a href="{{ object.account.get_absolute_url }}">{{ object.account }}</a>
      {% else %}
      <a href="{% url 'account-create' %}">Create account</a>
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Tier:</th>
    <td>{{ object.tier }}</td>
  </tr>
  <tr>
    <th>Credits (used / allowed):</th>
    {% if not object.account %}
    <td>
      No account
    </td>
    {% elif object.credits_used > object.credits %}
    <td class="bg-warning">
      {{ object.credits_used }} / {{ object.credits }} <i class="fas fa-exclamation-circle" data-toggle="tooltip" title="Credits used exceed allowed"></i>
    </td>
    {% else %}
    <td>
      {{ object.credits_used }} / {{ object.credits }}
    </td>
    {% endif %}
  </tr>
  <tr>
    <th>Credits extensions:</th>
    <td>
      {% if not object.credits_extensions %}
        None
      {% else %}
        By {% for value in object.credits_extensions %}{{ value }}{% if not forloop.last %}, {% endif %}{% endfor %} credits
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Agreement start:</th>
    <td>{{ object.agreement_start }}</td>
  </tr>
  <tr>
    <th>Agreement end:</th>
    <td>{{ object.agreement_end }}</td>
  </tr>
  <tr>
    <th>Agreement date extensions:</th>
    <td>
      {% if not object.extensions %}
        None
      {% else %}
        By {% for days in object.extensions %}{{ days }}{% if not forloop.last %}, {% endif %}{% endfor %} days
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Agreement link:</th>
    <td>{{ object.agreement_link|urlize_newtab }}</td>
  </tr>
  <tr>
    <th>Registration code:</th>
    <td>
      {% if object.registration_code %}
      <code>{{ object.registration_code }}</code>
      {% else %}
      &mdash;
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Rolled to partnership:</th>
    <td>
      {% if object.rolled_to_partnership %}
        <a href="{{ object.rolled_to_partnership.get_absolute_url }}">{{ object.rolled_to_partnership }}</a>
      {% else%}
        &mdash;
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Public status:</th>
    <td>{{ object.get_public_status_display }}</td>
  </tr>
</table>

{% comment %} Add comment list {% endcomment %}

<div class="clearfix">
  <div class="edit-object float-left">
    <div class="btn-group" role="group">
      {% if perms.fiscal.change_partnership %}
      <a href="{% url 'partnership-update' partnership.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'partnership-extend' partnership.id %}" class="btn btn-secondary">Extend dates</a>
      <a href="{% url 'partnership-extend-credits' partnership.id %}" class="btn btn-secondary">Extend credits</a>
      {% else %}
      <a class="btn btn-primary disabled" aria-disabled="true">Edit</a>
      <a class="btn btn-secondary disabled" aria-disabled="true">Extend dates</a>
      <a class="btn btn-secondary disabled" aria-disabled="true">Extend credits</a>
      {% endif %}
      {% if perms.fiscal.create_partnership and perms.fiscal.change_partnership and partnership.rolled_to_partnership is None %}
      <a href="{% url 'partnership-roll-over' partnership.id %}" class="btn btn-success">Create new &amp; roll-over</a>
      {% else %}
      <a class="btn btn-success disabled" aria-disabled="true">Create new &amp; roll-over</a>
      {% endif %}
    </div>
  </div>
  <div class="delete-object float-right">
    {% if perms.fiscal.delete_partnership %}
    <form action="{% url 'partnership-delete' partnership.id %}" onsubmit='return confirm("Are you sure you wish to remove this partnership?")' method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {% else %}
    <button class="btn btn-danger disabled" aria-disabled="true">Delete</button>
    {% endif %}
  </div>
</div>

<h4>Linked account benefits:</h4>

{% include "offering/includes/account_benefits.html" with object_list=account_benefits %}

<a href="{% url 'account-benefit-create' %}?account_pk={{ object.account.pk }}&partnership_pk={{ object.pk }}&next={{request.get_full_path|urlencode}}" class="btn btn-success">Add account benefit to this partnership</a>

<p></p>

<h4>Related community roles:</h4>

<table class="table table-striped">
  <tr>
    <th>Person</th>
    <th>Role</th>
    <th>Dates</th>
    <th>Award</th>
    <th>Inactive?</th>
    <th>URL</th>
    <th>Related object</th>
    <th class="additional-links-wider"></th>
  </tr>
  {% for role in community_roles.all %}
  <tr>
    <td><a href="{{role.person.get_absolute_url}}">{{ role.person.full_name }}</a></td>
    <td>{{ role.config }}</td>
    <td>
      {% if role.start %}
      {% community_role_human_dates role %}
      {% else %}
      &mdash;
      {% endif %}
    </td>
    <td>
      {{ role.award|default_if_none:"&mdash;" }}
    </td>
    <td>{{ role.inactivation|default_if_none:"&mdash;" }}</td>
    <td>{{ role.url|default:"&mdash;"|urlize_newtab }}</td>
    <td>
      {% if role.config.generic_relation_content_type and role.generic_relation %}
      {{ role.generic_relation|title }}
      {% else %}
      &mdash;
      {% endif %}
    </td>
    <td>
      <a href="{% url 'communityrole_details' role.pk %}" title="View {{ role }}"><i class="fas fa-info-circle"></i></a>
      &nbsp;
      {% if perms.communityroles.change_communityrole %}
      <a href="{% url 'communityrole_edit' role.pk %}" title="Edit {{ role }}"><i class="fas fa-edit"></i></a>
      {% endif %}
      {% if perms.communityroles.delete_communityrole %}
      <form class="amy-form-inline" action="{% url 'communityrole_delete' role.pk %}?next={{ request.get_full_path|urlencode }}#communityroles" onsubmit='return confirm("Are you sure you wish to remove role \"{{ role.config }}\" from user \"{{ role.person }}\"?")' method="POST">
        {% csrf_token %}
        <button type="submit" class="no-btn"><i class="fas fa-times"></i></button>
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'communityrole_add' %}?partnership_pk={{ object.pk }}&next={{request.get_full_path|urlencode}}" class="btn btn-success">Add community roles</a>

{% endblock %}
