{% extends "base_nav.html" %}

{% load compress %}
{% load static %}
{% load tags %}

{% block content %}

{% if updated_metadata %}
<div class="row">
  <div class="col-12">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Attention!</strong> {{ updated_metadata }} of your events had data on website updated. <a href="{% url 'events_metadata_changed' %}">See more</a>
    </div>
  </div>
</div>
{% endif %}

{% if is_admin or user.is_superuser %}
<div class="row">
  <div class="col-12">
    {% include "includes/assignment.html" %}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-lg-4 col-12">
    <h3>Current workshops</h3>
    <table class="table table-striped">
      <tr>
        <th>Tag</th>
        <th>Name</th>
      </tr>
    {% for event in current_events %}
    <tr>
        <td class="text-center" width="25px">
          {% for tag in main_tags %}
            {% if tag in event.tags.all %}
              {% include "includes/tag.html" with tag=tag %}
            {% endif %}
          {% endfor %}
        </td>
      <td><a href="{{ event.get_absolute_url }}">{{ event.slug }}</a></td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <div class="col-lg-8 col-12">
    <h3>In progress workshops</h3>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th width="70px">#I <i class="fas fa-question-circle" data-toggle="tooltip" title="Number of instructors"></i></th>
        <th>Dates</th>
        <th>Location</th>
        <th>URL</th>
        <th>Host</th>
      </tr>
      {% for event in unpublished_events %}
      <tr>
        <!-- SLUG -->
        <td><a href="{% url 'event_details' event.slug %}">{{ event.slug }}</a></td>
        <!-- INSTRUCTORS COUNT -->
        {% if event.num_instructors == 0 %}
        <td class="text-danger">{{ event.num_instructors }}</td>
        {% else %}
        <td class="text-success">{{ event.num_instructors }}</td>
        {% endif %}
        <!-- DATES -->
        {% if not event.start %}
        <td class="text-danger">&times;</td>
        {% else %}
        <td class="text-success">&#10003;</td>
        {% endif %}
        <!-- LOCATION -->
        {% if not event.address or not event.venue or not event.country or not event.latitude or not event.longitude %}
        <td class="text-danger">&times;</td>
        {% else %}
        <td class="text-success">&#10003;</td>
        {% endif %}
        <!-- URL -->
        {% if not event.url %}
        <td class="text-danger">&times;</td>
        {% else %}
        <td class="text-success">&#10003;</td>
        {% endif %}
        <!-- HOST -->
        <td>
          <a href="{% url 'organization_details' event.host.domain %}">
            {{ event.host }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
