{% extends "base_nav.html" %}
{% load feature_flags feature_flag_conditions %}

{% block content %}

{% if feature_flags %}
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Active?</th>
    </thead>
    {% for flag in feature_flags %}
    <tr>
      <td>{{ flag.name }}</td>
      <td>
        {% flag_enabled flag.name as state %}{{ state|yesno|title }}.
        {% first_parameter_condition flag as parameter %}
        {% if not state %}
          <a href="?{{ parameter.value|url_strip_param_value }}=true">Enable.</a>
        {% else %}
          <a href="?{{ parameter.value|url_strip_param_value }}=false">Disable.</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
<p>No feature flags found.</p>
{% endif %}
{% endblock %}
