{% extends "base.html" %}
{% block navbar %}
  {% include 'navigation_trainee.html' %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div>

Click on the button at the bottom of this page to update your profile information. <br>
Your email address and GitHub id can not be updated here, as they are tied to your login id. Please contact us at <a href="mailto:team@carpentries.org">team@carpentries.org</a> if you would like to update this information.  <br>


  <table class="table table-striped">
    <tr><th>Personal name:</th><td>{{ user.personal|default:"—" }}</td></tr>
    <tr><th>Middle name:</th><td>{{ user.middle|default:"—" }}</td></tr>
    <tr><th>Family name:</th><td>{{ user.family|default:"—" }}</td></tr>
    <tr><th>Email:</th><td>{{ user.email|default:"—" }}</td></tr>
    <tr><th>Secondary email:</th><td>{{ user.secondary_email|default:"—" }}</td></tr>
    <tr><th>Gender:</th><td>{{ user.get_gender_display }}{{ user.gender_other }}</td></tr>
    <tr><th>Can we contact you?</th><td>{{ user.may_contact|yesno }}</td></tr>
    <tr><th>Do you consent to publish your profile<br>on The Carpentries website?</th><td>{{ user.publish_profile|yesno }}</td></tr>
    <tr><th>Do you consent to have your name or identity<br>associated with lesson publications?</th><td>{{ user.get_lesson_publication_consent_display|default:"—" }}</td></tr>
    <tr><th>Country:</th><td>{% if user.country %}{{ user.country.name }} <img src="{{ user.country.flag }}" alt="{{ user.country }}" class="country-flag" />{% else %}—{% endif %}</td></tr>
    <tr><th>Airport:</th><td>{{ user.airport|default:"—"  }}</td></tr>
    <tr><th>Github:</th><td>{{ user.github|default:"—" }}</td></tr>
    <tr><th>Twitter:</th><td>{{ user.twitter|default:"—" }}</td></tr>
    <tr><th>URL:</th><td>{{ user.url|default:"—" }}</td></tr>
    <tr><th>Username:</th><td>{{ user.username|default:"—" }}</td></tr>
    <tr><th>Affiliation:</th><td>{{ user.affiliation|default:"—" }}</td></tr>
    <tr><th>Occupation:</th><td>{{ user.occupation|default:"—" }}</td></tr>
    <tr><th>Orcid:</th><td>{{ user.orcid|default:"—" }}</td></tr>
    <tr><th>Areas of expertise:</th><td>
        {% if user.domains.all %}
        <ul>
          {% for domain in user.domains.all %}
            <li>{{ domain }}</li>
          {% endfor %}
        </ul>
        {% else %}
        No domains.
        {% endif %}
    </td></tr>
    <tr><th>Lessons that you can teach:</th><td>
        {% if user.lessons.all %}
        <ul>
          {% for lesson in user.lessons.all %}
            <li>{{ lesson }}</li>
          {% endfor %}
        </ul>
        {% else %}
        No lessons.
        {% endif %}
    </td></tr>
    <tr><th>Languages:</th><td>
        {% if user.languages.all %}
        <ul>
          {% for language in user.languages.all %}
            <li>{{ language }}</li>
          {% endfor %}
        </ul>
        {% else %}
        No languages.
        {% endif %}
    </td></tr>
    <tr><th>Your badges:</th><td>
        {% if user.badges.all %}
        <ul>
          {% for badge in user.badges.all %}
            <li>{{ badge }}</li>
          {% endfor %}
        </ul>
        {% else %}
        No badges.
        {% endif %}
        <p>If you think that you're missing a badge, please email us at <a href="mailto:team@carpentries.org">team@carpentries.org</a></p>
    </td></tr>
    <tr><th>Your workshop activity:<br>
        <small>If you have run a self-organised workshop that is missing from this list,<br> please fill out our <a href="/forms/self-organized">self organised workshop form</a> and we will update our records.</small></th><td>
        {% if workshops %}
        <table class="table">
          <tr>
            <th>Workshop name</th>
            <th>Dates</th>
            <th>Venue</th>
            <th>Your role</th>
          </tr>
          {% for task in workshops %}
            <tr>
            {% if task.event.website_url %}
              <td><a href="{{ task.event.website_url }}" target="_blank">{{ task.event.slug }}</a></td>
            {% else %}
              <td>{{ task.event.slug }}</td>
            {% endif %}
              <td>{{ task.event.start|date:'Y-m-d' }} &mdash; {{ task.event.end|date:'Y-m-d' }}</td>
              <td>{{ task.event.venue|default:'—' }}</td>
              <td>{{ task.role }}</td>
            </tr>
          {% endfor %}
        </table>
        {% else %}
        No workshops to show.
        {% endif %}
    </td></tr>
  </table>

  <p>
    <a href="{% url 'autoupdate_profile' %}" class="btn btn-primary">Update your profile</a>
    <a href="{% url 'api:export-person-data' %}?format=json" class="btn btn-secondary float-right">Download your data</a>
  </p>

</div>

{% endblock %}
