{% extends "base.html" %}
{% block navbar %}
  {% include 'navigation_instructor_dashboard.html' %}
{% endblock %}

{% load crispy_forms_tags %}
{% load dates %}
{% load training_progress %}

{% block content %}

{% if get_involved_form.errors %}
  <div class="alert alert-danger" role="alert">Fix errors in your Get Involved submission.</div>
{% endif %}

<div>
  <h2>Your progress towards becoming a Carpentries Instructor</h2>
  
  {% if user.instructor_badges %}
  <div class="alert alert-success" role="alert">
    <p>Congratulations, you're a certified Instructor!
  </div>
  {% elif user.instructor_eligible %}
  <div class="alert alert-info" role="alert">
  <p>
    Congratulations. You have successfully completed all steps towards Instructor certification. 
    You will receive your certificate and more information by email in 1-2 weeks.
  </p>
  </div>
  {% elif user.passed_training or user.passed_get_involved or user.passed_welcome or user.passed_demo %}
  <div class="alert alert-info" role="alert">
    <p>
      Please review your progress towards Instructor certification below. 
      {% if progress_training %}
        {% checkout_deadline progress_training.event.end as deadline %}
        Based on your training dates of {% human_daterange progress_training.event.start progress_training.event.end %}, the 90-day deadline to complete these 
        requirements is <strong>{{ deadline }}</strong>.
      {% endif %}
    </p>
    <p>
      If you would like an extension, please contact us at 
      <a href="mailto:instructor.training@carpentries.org">instructor.training@carpentries.org</a>
      and refer to your confirmation email for your updated deadline.
    </p>
    <p>
      If you have recently completed a training or step towards checkout, 
      please allow 7-10 days for this information to show up in your profile.
    </p> 
    <p>
      Visit our 
      <a href="https://carpentries.github.io/instructor-training/checkout">checkout page</a>
      for more information. 
    </p>
  </div>
  {% else %}
  <div class="alert alert-info" role="alert">
    <p>
      If you have recently completed a training or step towards checkout, 
      please allow 7-10 days for this information to show up in your profile.
    </p>
  </div>
  {% endif %}

  <table class="table table-striped">
    <tr>
      <th>1. Training</th>
      <td>
        {% if progress_training %}
          {% include 'includes/progress_trainee_view.html' with progress=progress_training %}
        {% elif user.passed_training %}
          <p class="text-success">Training passed.</p>
        {% else %}
          <p>Training not completed yet.</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>2. Get Involved</th>
      <td>
        {% if progress_get_involved %}
          {% include 'includes/progress_trainee_view.html' with progress=progress_get_involved %}
          {% if progress_get_involved.state == "n" %}
          <p>Your submission will be evaluated within 7-10 days.</p>
          <p>You may edit or delete your submission before it is evaluated. If you delete it, you will be allowed to create a new submission afterwards.</p>
          {% endif %}
          <p>Details of your submission are below.</p>
          <p>
            <strong>Activity:</strong> {{ progress_get_involved.involvement_type }}<br/>
            <strong>Date:</strong> {% firstof progress_get_involved.date "No dates provided" %}<br/>
            <strong>URL:</strong> {% firstof progress_get_involved.url "No URL provided" %}<br/>
            <strong>Notes:</strong> {% firstof progress_get_involved.trainee_notes "No notes provided" %}
          </p>
          {% if progress_get_involved.state == "n" %}
              <p class="edit-object float-left">
                <a href="{% url 'getinvolved_update' progress_get_involved.pk %}" class="btn btn-primary">Edit</a>  
              </p>
              <div class="delete-object float-left" style="padding-left: 2%;">
                <form action="{% url 'getinvolved_delete' progress_get_involved.pk %}" onsubmit='return confirm("Are you sure you wish to delete your Get Involved submission?")' method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>              
          {% endif %}
          
          {% if progress_get_involved.state == "a" %}
          <p class="create-object float-left">
            <a href="{% url 'getinvolved_add' %}" class="btn btn-primary">Submit another Get Involved activity</a>  
          </p>
          {% endif %}
        {% elif user.passed_get_involved %}
          <p class="text-success">Get Involved step passed.</p>
        {% else %}
          <p>Get Involved step not submitted yet.</p>
          <p class="create-object float-left">
            <a href="{% url 'getinvolved_add' %}" class="btn btn-primary">Submit a Get Involved activity</a>  
          </p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>3. Welcome Session</th>
      <td>
        {% if progress_welcome %}
          {% include 'includes/progress_trainee_view.html' with progress=progress_welcome %}
        {% elif user.passed_welcome %}
          <p class="text-success">Welcome Session completed.
          </p>
        {% else %}
          <p>Welcome Session not completed yet.</p>
          {% welcome_instructions %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>4. Demo Session</th>
      <td>
        {% if progress_demo %}
          {% include 'includes/progress_trainee_view.html' with progress=progress_demo %}
          {% if progress_demo.state == "a" %}
            <p>Register for a Demo Session on this Etherpad: <a href="https://pad.carpentries.org/teaching-demos">Teaching Demos</a>.</p>
          {% endif %}
        {% elif user.passed_demo %}
        <p class="text-success">Demo Session passed.
        </p>
        {% else %}
        <p>Demo Session not completed yet.</p>
        <p>Register for a Demo Session on this Etherpad: <a href="https://pad.carpentries.org/teaching-demos">Teaching Demos</a>.</p>
        {% endif %}
      </td>
    </tr>

  </table>


  <p>In the case of any questions, please send us email at <a href="mailto:instructor.training@carpentries.org">instructor.training@carpentries.org</a></p>
</div>

{% endblock %}
