{% extends "base.html" %}
{% block navbar %}
  {% include 'navigation_instructor_dashboard.html' %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

{% if get_involved_form.errors %}
  <div class="alert alert-danger" role="alert">Fix errors in your Get Involved submission.</div>
{% endif %}

<div>
  <h2>Your progress of becoming The Carpentries Instructor</h2>

  {% if user.instructor_badges %}
  <div class="alert alert-success" role="alert">
    <p>Congratulations, you're a certified:</p>
    <ul>
    {% for badge in user.instructor_badges %}
      <li>{{ badge.title }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="alert alert-warning" role="alert">Due to the structure of our checkout tracking progress, all steps towards checkout may not be included here. If your instructor badge is correctly displayed, you are in good standing.</div>

  <table class="table table-striped">
    <tr>
      <th>1. Training</th>
      <td>
        {% if user.passed_training %}
          <p class="text-success">Training passed.</p>
        {% else %}
          <p>Training not passed yet.</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th rowspan="2">2. Get Involved</th>
      <td>
        {% if user.passed_get_involved %}
        <p class="text-success">Get Involved submission accepted.</p>
        {% elif get_involved_in_evaluation %}
        <p>Get Involved step evaluation pending.<br>Please wait while we evaluate your submission.</p>
        {% else %}
        <p>Get Involved step not submitted.</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <p>
          Provide details of your Get Involved activity. Your submission will be reviewed within 7-10 days. 
          You can track your progress by returning to this page.
        </p>
        <p>
          Only submit an activity that you have already completed.
        </p>
        <p>
          If submitting a GitHub contribution, please be sure your contribution is to a repository in one of the <a href="">GitHub organisations owned by The Carpentries</a>.
        </p>
        {% crispy get_involved_form %}
      </td>
    </tr>
    <tr>
      <th>3. Welcome Session</th>
      <td>
        {% if user.passed_welcome %}
          <p class="text-success">Welcome Session passed.</p>
        {% else %}
          <p>Welcome Session not passed yet.</p>
          <p>Register for a Welcome Session on <a href="https://pad.carpentries.org/welcome-sessions-{% now 'Y' %}">this Etherpad</a>.</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>4. Demo Session</th>
      <td>
        {% if user.passed_demo %}
        <p class="text-success">Demo Session passed.</p>
        {% else %}
        <p>Demo Session not completed.</p>
        <p>You can register for a Demo Session on <a href="https://pad.carpentries.org/teaching-demos">this Etherpad</a>.</p>
        {% endif %}
      </td>
    </tr>

  </table>


  <p>In the case of any questions, please send us email at <a href="mailto:instructor.training@carpentries.org">instructor.training@carpentries.org</a></p>
</div>

{% endblock %}
