{% extends "base_nav_sidebar.html" %}

{% load pagination %}

{% block navbar %}
  {% include 'navigation_instructor_dashboard.html' %}
{% endblock %}

{% block content %}
  {% include "includes/instructor_profile_snapshot.html" with person=person %}

  <p class="lead mt-3">
    Please check any of the upcoming workshops that you are interested in teaching.
    This only expresses your interest and does not confirm you to teach in that workshop.
    A member of the Carpentries Workshop Admin team will follow up with you to confirm.
    Contact <a href="mailto:workshops@carpentries.org">workshops@carpentries.org</a> with any questions.
  </p>

  {% for object in object_list %}
    {% include "includes/teaching_opportunity.html" with object=object %}

    {% with signup=object.person_signup.0 %}
      {% if signup and object.person_signup %}
      <div>
        <strong>Your Signup Notes:</strong>
        <p class="notes-content ml-3 text-muted">{{ signup.user_notes|default:"&mdash;" }}</p>
      </div>
      {% endif %}

      {% if not signup or not object.person_signup %}
        <a href="{% url 'signup-for-recruitment' object.pk %}?next={{ request.get_full_path|urlencode }}" class="btn btn-primary">I am interested in teaching this workshop.</a>
      {% else %}
        {% if signup.state == "p" %}
          TODO
          <button class="btn btn-outline-primary btn-disabled" disabled>Interest expressed, confirmation pending...</button>
          <a href="#" class="btn btn-danger">Cancel teaching request.</a>
        {% elif signup.state == "a" %}
          TODO
          <button class="btn btn-outline-success btn-disabled" disabled>Teaching confirmed.</button>
        {% elif signup.state == "d" %}
          TODO
          <button class="btn btn-outline-warning btn-disabled" disabled>Teaching discarded.</button>
        {% endif %}
      {% endif %}
    {% endwith %}
    <hr>
  {% endfor %}
  {% pagination object_list %}

{% endblock content %}
