{% extends "base_nav_sidebar.html" %}

{% load pagination %}
{% load instructorrecruitment %}

{% block navbar %}
  {% include 'navigation_instructor_dashboard.html' %}
{% endblock %}

{% block content %}
  {% include "includes/instructor_profile_snapshot.html" with person=person %}

  <p class="lead mt-3">
    Please check any of the upcoming workshops that you are interested in teaching.
    This only expresses your interest and does not confirm you to teach in that workshop.
    A member of the Carpentries Workshop Admin team will follow up with you to confirm.
    Contact <a href="mailto:workshops@carpentries.org">workshops@carpentries.org</a> with any questions.
  </p>

  {% for object in object_list %}
    <section>
    {% include "includes/teaching_opportunity.html" with object=object %}

    {% with signup=object.person_signup.0 %}
      {% if signup and object.person_signup %}
      <div>
        <strong>Your Signup Notes:</strong>
        {% if signup.user_notes %}
        <p class="notes-content ps-2 border-start">{{ signup.user_notes }}</p>
        {% else %}
        &mdash;
        {% endif %}
      </div>
      {% endif %}

      {% get_event_conflicts events_to_check=person_instructor_task_events event=object.event as event_conflicts %}

      {% if event_conflicts %}
      <div class="alert alert-danger" role="alert">
        <p>
          You cannot apply for this workshop. You are teaching at a conflicting workshop: <span class="badge bg-danger">{{ event_conflicts.0.slug }}</span>. 
          If you are still interested in teaching at this workshop, please contact <a href="mailto:workshops@carpentries.org">workshops@carpentries.org</a>.
        </p>
      </div>

      {% elif object.event.slug in person_instructor_tasks_slugs %}
      <div class="alert alert-success " role="alert">
        <p>You are teaching at this workshop.</p>
      </div>

      {% elif not signup or not object.person_signup %}
        {% get_events_nearby events_to_check=person_instructor_task_events event=object.event as events_nearby %}
        {% if events_nearby %}
        <div class="alert alert-warning" role="alert">
          <p>You are teaching workshops within 14 days: {% for event in events_nearby %}<span class="badge bg-warning">{{ event }}</span>{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
        </div>
        {% endif %}

        {% get_signup_conflicts signups_to_check=person_signups recruitment=object as signup_conflicts %}
        {% if signup_conflicts %}
        <div class="alert alert-warning" role="alert">
          <p>You have workshop applications on the same dates: {% for signup in signup_conflicts %}<span class="badge bg-warning">{{ signup.recruitment.event }}</span>{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
        </div>
        {% endif %}
        <a href="{% url 'signup-for-recruitment' object.pk %}?next={{ request.get_full_path|urlencode }}" class="btn btn-primary">I am interested in teaching this workshop.</a>

      {% else %}
        {% if signup.state == "p" %}
          <div class="alert alert-info" role="alert">
            <p>You expressed interest in this workshop, the confirmation is pending...</p>
            <form action="{% url 'resign-from-recruitment' signup.pk %}" onsubmit='return confirm("Do you want to cancel your teaching request?")' method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Cancel teaching request</button>
            </form>
          </div>
        {% elif signup.state == "a" %}
          <div class="alert alert-success" role="alert">
           <p>Your teaching request has been confirmed.</p>
          </div>
        {% elif signup.state == "d" %}
          <div class="alert alert-warning" role="alert">
           <p>Your teaching request has been declined.</p>
          </div>
        {% endif %}
      {% endif %}
    {% endwith %}
    <hr>
    </section>
  {% endfor %}
  {% pagination object_list %}

{% endblock content %}
