{% if update %}
<!-- Event update from URL modal -->
<div class="modal" role="dialog" id="update_url_modal" tabindex="-1" aria-labelledby="update_url_modal_label" aria-hidden="true">
{% else %}
<!-- Event import URL modal -->
<div class="modal" role="dialog" id="import_url_modal" tabindex="-1" aria-labelledby="import_url_modal_label" aria-hidden="true">
{% endif %}
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {% if update %}
        <h5 class="modal-title" id="update_url_modal_label">Update event data from URL</h5>
        {% else %}
        <h5 class="modal-title" id="import_url_modal_label">Import event data from URL</h5>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger d-none" id="error_message"></div>
        {% if update %}
        <form id="update_url_form" role="form">
        {% else %}
        <form id="import_url_form" role="form">
        {% endif %}

          {% csrf_token %}
          <div class="form-group">
            {% if update %}
            <label for="event_update_url"><strong>Event URL:</strong></label>
            <input type="url" id="event_update_url" name="url" required="required" class="form-control" value="{{ object.url|default:'' }}" aria-describedby="url_help" />
            {% else %}
            <label for="event_import_url"><strong>Event URL:</strong></label>
            <input type="url" id="event_import_url" name="url" required="required" class="form-control" aria-describedby="url_help" />
            {% endif %}
            <div id="url_help"><small class="form-text">Either URL to the event's website or to it's repository will work.</small></div>
          </div>

          {% if update %}
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="event_update_action" value="skip" checked="checked" id="id_event_update_action1" />
              <label class="form-check-label" for="id_event_update_action1">
                Skip non-empty fields.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="event_update_action" value="overwrite" id="id_event_update_action2" />
              <label class="form-check-label" for="id_event_update_action2">
                Overwrite existing values.
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" data-loading-text="Loading..." autocomplete="off">Update</button>
          {% else %}
          <button type="submit" class="btn btn-primary" data-loading-text="Loading..." autocomplete="off">Import</button>
          {% endif %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
