{% load static notifications %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="{% static 'css/custom_bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker3.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />{# from font-awesome #}
    <link rel="stylesheet" href="{% static 'dataTables.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'select2.min.css' %}" />
    <link rel="stylesheet" href="{% static 'select2-bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/amy.css' %}" />
    <link rel="stylesheet" href="{% static 'css/prism.css' %}" />
    {% block extrastyle %}{% endblock extrastyle %}

    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'jquery.stickytabs.js' %}"></script>
    <script src="{% static 'URI.min.js' %}"></script>
    <script src="{% static 'jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'select2.min.js' %}"></script>
    <script src="{% static 'time-elements-legacy.js' %}"></script>
    <script src="{% static 'js.cookie.min.js' %}"></script>
    <script src="{% static 'calendar_popup.js' %}"></script>
    <script src="{% static 'amy_utils.js' %}"></script>
    <script src="{% static 'prism.js' %}"></script>

    <title>AMY{% if title %}: {{ title }}{% endif %}</title>
  </head>
  <body>

    {% if SITE_BANNER_STYLE == "local" %}
    <section class="banner banner-local">
      This is a local version of AMY.
      You have <a href="{% url 'feature_flags' %}">{{ FEATURE_FLAGS_ENABLED|length }} feature flag{{ FEATURE_FLAGS_ENABLED|length|pluralize }}</a> enabled.
    </section>
    {% elif SITE_BANNER_STYLE == "testing" %}
    <section class="banner banner-testing">
      You are on the test version of AMY. Do not use real data. Data may not be persistent.
      You have <a href="{% url 'feature_flags' %}">{{ FEATURE_FLAGS_ENABLED|length }} feature flag{{ FEATURE_FLAGS_ENABLED|length|pluralize }}</a> enabled.
    </section>
    {% endif %}

    {% block navbar %}{% endblock navbar %}
    <div class="container-fluid">
      {% block main %}
      <div class="row">
        {% block leftcolumn %}{% endblock leftcolumn %}
        <div class="{% block maincolumn %}col-sm-12 col-md-12{% endblock maincolumn %} main pb-5">
        {% if user.is_authenticated and not user.airport_iata %}
        <div class="alert alert-warning" role="alert">
          <strong>Warning:</strong>
          Your profile is missing airport information. <a href="{% url 'autoupdate_profile' %}">Click here to complete your profile.</a>
        </div>
        {% endif %}

        {% if messages %}
          {% for message in messages %}
            {# if message is tagged as only for admins then show it only for admins #}
            {% message_allowed message request as show_message %}
            {% if show_message %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <strong>Error:</strong>
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
              <strong>Warning:</strong>
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              <strong>Success:</strong>
              {% endif %}
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% block logo %}{% endblock logo %}

        {% block title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock title %}
        {% block content %}{% endblock content %}
        </div>
      </div>
      {% endblock main %}

      <div class="row">
        <footer class="col-sm-12 text-center text-muted border-top pt-3">
          <p>
            Powered by <a href="https://github.com/carpentries/amy">AMY</a> version {{ amy_version }}.
            View <a href="https://docs.carpentries.org/policies/privacy.html">our data privacy policy</a>.
          </p>
          <p>
            We are only using strictly necessary cookies. See <a href="https://docs.carpentries.org/policies/cookie-policy.html">our cookie policy</a>.
          </p>
        </footer>
      </div>
    </div>

    {% include "includes/tracker.html" %}
    {% block extrajs %}{% endblock extrajs %}
  </body>
</html>
