{% load navigation %}
{% load communityroles %}
{% load instructorrecruitment %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'admin-dashboard' %}">AMY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% if user.is_admin %}
            {% navbar_element "Dashboard" "admin-dashboard" %}
          {% endif %}
          {% navbar_element "Your profile" "instructor-dashboard" %}
          {% navbar_element "Update data" "autoupdate_profile" %}
          {% navbar_element "Training progress" "training-progress" %}

          {% is_instructor_recruitment_enabled as INSTRUCTOR_RECRUITMENT_ENABLED %}
          {% get_community_role user role_name="instructor" as INSTRUCTOR_COMMUNITY_ROLE %}
          {% if INSTRUCTOR_RECRUITMENT_ENABLED and INSTRUCTOR_COMMUNITY_ROLE.is_active %}
            {% navbar_element "Upcoming Teaching Opportunities" "upcoming-teaching-opportunities" %}
          {% endif %}
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello, {{ user.get_short_name }}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'api:export-person-data' %}?format=json">Download your data</a>
              <a class="dropdown-item" href="{% url 'person_password' user.id %}">Change password</a>
              <a class="dropdown-item" href="https://carpentries.github.io/amy/users_guide/community_index/" target="_blank" rel="noreferrer nofollow">Help</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
{% endblock %}
