{% extends "base_nav_sidebar.html" %}

{% load pagination %}

{% block content %}
  {% if perms.workshops.add_membership %}
    <p><a href="{% url 'membership_add' %}" class="btn btn-success">New membership</a></p>
  {% else %}
    <p><a href="{% url 'membership_add' %}" class="btn btn-success disabled">New membership</a></p>
  {% endif %}
  {% if all_memberships %}
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Consortium</th>
        <th>Organisations</th>
        <th>Variant</th>
        <th>Dates</th>
        <th>Contribution</th>
        <th>Remaining public instructor training seats</th>
        <th class="additional-links"></th>
      </tr>
      {% for membership in all_memberships %}
        <tr>
          <td>
            <a href="{{ membership.get_absolute_url }}">{{ membership.name }}</a>
          </td>
          <td>{{ membership.consortium|yesno|title }}</td>
          <td>
            {% if membership.organizations.all %}
              {% for organization in membership.organizations.all %}
              <a href="{{ organization.get_absolute_url }}">{{ organization.fullname }}</a>{% if not forloop.last %},<br>{% endif %}
              {% endfor %}
            {% else %}
              <em>No organisation added.</em>
            {% endif %}
          </td>
          <td>
            {{ membership.get_variant_display }}
          </td>
          <td>{{ membership.agreement_start|date:"Y-m-d" }} &mdash; {{ membership.agreement_end|date:"Y-m-d" }}</td>
          <td>{{ membership.get_contribution_type_display }}</td>
          <td {% if membership.instructor_training_seats_remaining <= 0 and membership.instructor_training_seats_total > 0 or membership.instructor_training_seats_remaining < 0 and membership.instructor_training_seats_total == 0 %}class="table-danger"{% endif %}>{{ membership.instructor_training_seats_remaining }}</td>
          <td>
            <a href="{% url 'membership_details' membership.pk %}" title="View membership"><i class="fas fa-info-circle"></i></a>
            &nbsp;
            {% if perms.workshops.change_membership %}
              <a href="{% url 'membership_edit' membership.pk %}" title="Edit membership"><i class="fas fa-edit"></i></a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    {% pagination all_memberships %}
    {% if perms.workshops.add_membership %}
      <p><a href="{% url 'membership_add' %}" class="btn btn-success">New membership</a></p>
    {% else %}
      <p><a href="{% url 'membership_add' %}" class="btn btn-success disabled">New membership</a></p>
    {% endif %}
  {% else %}
    <p>No memberships.</p>
  {% endif %}
{% endblock %}
