{% extends "base_nav.html" %}

{% load links %}
{% load revisions %}

{% block content %}
{% last_modified membership %}

<p class="edit-object">
  {% if perms.workshops.change_membership %}
  <a href="{% url 'membership_edit' membership.id %}" class="btn btn-primary">Edit</a>
  {% else %}
  <a href="{% url 'membership_edit' membership.id %}" class="btn btn-primary disabled">Edit</a>
  {% endif %}
</p>
<table class="table table-striped">
  <tr><th colspan="2">Organization:</th>
      <td width="60%"><a href="{% url 'organization_details' membership.organization.domain %}">{{ membership.organization.fullname }}</a><br />
          &lt;{{ membership.organization.domain|urlize }}&gt;</td></tr>
  <tr><th colspan="2">Variant:</th><td>{{ membership.get_variant_display }}</td></tr>
  <tr><th colspan="2">Start date:</th><td>{{ membership.agreement_start }}</td></tr>
  <tr><th colspan="2">End date:</th><td>{{ membership.agreement_end }}</td></tr>
  <tr><th colspan="2">Contribution type:</th><td>{{ membership.get_contribution_type_display }}</td></tr>
  <tr>
    <th rowspan="3" width="30%">Workshops without fee per agreement duration</th>
    <th>Allowed:</th>
    <td>{{ membership.workshops_without_admin_fee_per_agreement|default:"—" }}</td>
  </tr>
  <tr>
    <th>Completed:</th>
    <td>{{ membership.workshops_without_admin_fee_completed|default:"—" }}</td>
  </tr>
  <tr>
    <th>Remaining:</th>
    <td>{{ membership.workshops_without_admin_fee_remaining|default:"—" }}</td>
  </tr>
  <tr>
    <th rowspan="3">Self-organized workshops per agreement duration</th>
    <th>Expected:</th>
    <td>{{ membership.self_organized_workshops_per_agreement|default:"—" }}</td>
  </tr>
  <tr>
    <th>Completed:</th>
    <td>{{ membership.self_organized_workshops_completed|default:"—" }}</td>
  </tr>
  <tr>
    <th>Remaining:</th>
    <td>{{ membership.self_organized_workshops_remaining|default:"—" }}</td>
  </tr>
  <tr>
    <th rowspan="3" width="30%">Instructor training seats</th>
    <th>Allowed:</th>
    <td>{{ membership.seats_instructor_training_total }}</td>
  </tr>
  <tr>
    <th>Utilized:</th>
    <td>{{ membership.seats_instructor_training_utilized }}</td>
  </tr>
  <tr {% if membership.seats_instructor_training_remaining <= 0 and membership.seats_instructor_training_total > 0 or membership.seats_instructor_training_remaining < 0 and membership.seats_instructor_training_total == 0 %}class="table-danger"{% endif %}>
    <th>Remaining:</th>
    <td>{{ membership.seats_instructor_training_remaining }}</td>
  </tr>
  <tr>
    <th>Instructor training seats &mdash; tasks:</th>
    <td colspan="2">
      {% if membership.task_set.all %}
      <table class="w-100">
        <tr>
          <th>Event</th>
          <th>Person</th>
          <th>Task</th>
        </tr>
        {% for t in membership.task_set.all %}
        <tr>
          <td><a href="{{ t.event.get_absolute_url }}">{{ t.event }}</a></td>
          <td><a href="{{ t.person.get_absolute_url }}">{{ t.person }}</a></td>
          <td><a href="{{ t.task.get_absolute_url }}">{{ t }}</a></td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      No entries.
      {% endif %}
    </td>
  </tr>
</table>

<div class="clearfix">
  <p class="edit-object float-left">
    {% if perms.workshops.change_membership %}
    <a href="{% url 'membership_edit' membership.id %}" class="btn btn-primary">Edit</a>
    {% else %}
    <a href="{% url 'membership_edit' membership.id %}" class="btn btn-primary disabled">Edit</a>
    {% endif %}
  </p>
  <div class="delete-object float-right">
    {% if perms.workshops.delete_membership %}
    <form action="{% url 'membership_delete' membership.id %}" onsubmit='return confirm("Are you sure you wish to remove  \"{{ membership }}\"?")' method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete membership</button>
    </form>
    {% else %}
    <button class="btn btn-danger disabled">Delete membership</button>
    {% endif %}
  </div>
</div>

{% include "includes/comments.html" with object=membership %}

{% endblock %}
