{% extends "base_nav.html" %}

{% load crispy_forms_tags formset_tags %}

{% block content %}

  <form method="POST">
    {{ formset.errors }}
    <div id="formset" data-formset-prefix="{{ formset.prefix }}">
      {% csrf_token %}
      {{ formset.media }}
      {{ formset.management_form }}

      <div data-formset-body>
        {% for form in formset %}
        <fieldset data-formset-form>
          {% crispy form %}
          <div class="form-group row">
            <div class="offset-12 offset-lg-2 col-12 col-lg-10">
              <button type="button" class="btn btn-danger" data-formset-delete-button>Discard</button>
            </div>
          </div>
        </fieldset>
        {% endfor %}
      </div>

      <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <hr>
        <fieldset data-formset-form>
          {% crispy formset.empty_form %}
          <div class="form-group row">
            <div class="offset-12 offset-lg-2 col-12 col-lg-10">
              <button type="button" class="btn btn-danger" data-formset-delete-button>Discard</button>
            </div>
          </div>
        </fieldset>
        {% endescapescript %}
      </script>

      <input type="button" value="Add another" class="btn btn-secondary" data-formset-add>

      <input type="submit" value="Save" class="btn btn-primary">
    </div>
  </form>


<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>

{% endblock %}
