{% extends "base_nav.html" %}

{% load links %}
{% load revisions %}

{% block content %}
{% last_modified membership %}

<p class="edit-object">
  {% if perms.workshops.change_membership %}
  <a href="{% url 'membership_edit' membership.id %}" class="btn btn-primary">Edit</a>
  {% else %}
  <a href="{% url 'membership_edit' membership.id %}" class="btn btn-primary disabled">Edit</a>
  {% endif %}
</p>
<table class="table table-striped">
  <tr><th width="30%">Consortium:</th><td colspan="2">{{ membership.consortium|yesno|title }}</td></tr>
  <tr><th>Organization:</th>
      <td colspan="2">
        <a href="{% url 'organization_details' membership.organization.domain %}">{{ membership.organization.fullname }}</a><br />
          &lt;{{ membership.organization.domain|urlize }}&gt;</td></tr>
  <tr><th>Status:</th><td colspan="2">{{ membership.get_public_status_display }}</td></tr>
  <tr><th>Variant:</th><td colspan="2">{{ membership.get_variant_display }}</td></tr>
  <tr><th>Start date:</th><td colspan="2">{{ membership.agreement_start }}</td></tr>
  <tr><th>End date:</th><td colspan="2">{{ membership.agreement_end }}</td></tr>
  <tr><th>Contribution type:</th><td colspan="2">{{ membership.get_contribution_type_display }}</td></tr>
  <tr><th>Registration Code:</th><td colspan="2">{{ membership.registration_code }}</td></tr>
  <tr><th>Agreement Document:</th>
      <td colspan="2">{% if membership.agreement_link %}{{ membership.agreement_link|urlize }}{% else %}&mdash;{% endif %}</td></tr>

  <tr>
    <th rowspan="4">Workshops without fee per agreement duration</th>
    <th>Allowed:</th>
    <td width="60%">{{ membership.workshops_without_admin_fee_per_agreement|default:"—" }}</td>
  </tr>
  <tr>
    <th>Completed:</th>
    <td>{{ membership.workshops_without_admin_fee_completed|default:"—" }}</td>
  </tr>
  <tr>
    <th>Planned:</th>
    <td>{{ membership.workshops_without_admin_fee_planned|default:"—" }}</td>
  </tr>
  <tr>
    <th>Remaining:</th>
    <td>{{ membership.workshops_without_admin_fee_remaining|default:"—" }}</td>
  </tr>
  <tr>
    <th rowspan="2">Self-organized workshops per agreement duration</th>
    <th>Completed:</th>
    <td>{{ membership.self_organized_workshops_completed|default:"—" }}</td>
  </tr>
  <tr>
    <th>Planned:</th>
    <td>{{ membership.self_organized_workshops_planned|default:"—" }}</td>
  </tr>
  <tr>
    <th rowspan="3" width="30%">Instructor training seats</th>
    <th>Allowed:</th>
    <td>{{ membership.seats_instructor_training_total }}</td>
  </tr>
  <tr>
    <th>Utilized:</th>
    <td>{{ membership.seats_instructor_training_utilized }}</td>
  </tr>
  <tr {% if membership.seats_instructor_training_remaining <= 0 and membership.seats_instructor_training_total > 0 or membership.seats_instructor_training_remaining < 0 and membership.seats_instructor_training_total == 0 %}class="table-danger"{% endif %}>
    <th>Remaining:</th>
    <td>{{ membership.seats_instructor_training_remaining }}</td>
  </tr>
  <tr>
    <th>Instructor training seats &mdash; tasks:</th>
    <td colspan="2">
      {% if membership.task_set.all %}
      <table class="w-100">
        <tr>
          <th>Event</th>
          <th>Person</th>
          <th>Awards</th>
        </tr>
        {% for t in membership.task_set.all %}
        <tr>
          <td><a href="{{ t.event.get_absolute_url }}">{{ t.event }}</a></td>
          <td><a href="{{ t.person.get_absolute_url }}">{{ t.person }}</a></td>
          <td>
            {% for award in t.person.award_set.all %}
            {{ award.badge }} ({{ award.awarded }}){% if not forloop.last %},<br>{% endif %}
            {% empty %}&mdash;
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      No entries.
      {% endif %}
    </td>
  </tr>
  <tr><th>Emergency contact:</th>
      <td colspan="2">{% if membership.emergency_contact %}<pre>{{ membership.emergency_contact }}</pre>{% else %}&mdash;{% endif %}</td></tr>
</table>

<div class="clearfix">
  <p class="edit-object float-left">
    {% if perms.workshops.change_membership %}
    <a href="{% url 'membership_edit' membership.id %}" class="btn btn-primary">Edit</a>
    {% else %}
    <a href="{% url 'membership_edit' membership.id %}" class="btn btn-primary disabled">Edit</a>
    {% endif %}
  </p>
  <div class="delete-object float-right">
    {% if perms.workshops.delete_membership %}
    <form action="{% url 'membership_delete' membership.id %}" onsubmit='return confirm("Are you sure you wish to remove  \"{{ membership }}\"?")' method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete membership</button>
    </form>
    {% else %}
    <button class="btn btn-danger disabled">Delete membership</button>
    {% endif %}
  </div>
</div>

{% include "includes/comments.html" with object=membership %}

{% endblock %}
