{% extends "base_nav.html" %}

{% load links %}
{% load revisions %}

{% block content %}
{% last_modified organization %}

<p class="edit-object">
  {% if perms.workshops.change_organization %}
  <a href="{% url 'organization_edit' organization.domain %}" class="btn btn-primary">Edit</a>
  {% else %}
  <a href="{% url 'organization_edit' organization.domain %}" class="btn btn-primary disabled">Edit</a>
  {% endif %}
</p>
<table class="table table-striped">
  <tr><th>Full name:</th><td>{{ organization.fullname }}</td></tr>
  <tr><th>Domain:</th><td><a href="http://{{ organization.domain }}" target="_blank">{{ organization.domain }}</a></td></tr>
  <tr><th>Country:</th><td>{{ organization.country.name|default:"—" }} <img src="{{ organization.country.flag }}" alt="{{ organization.country }}" class="country-flag" /></td></tr>
  <tr><th>Notes:</th><td>{% if organization.notes %}<pre>{{ organization.notes }}</pre>{% else %}&mdash;{% endif %}</td></tr>
</table>

<div class="clearfix">
  <p class="edit-object float-left">
    {% if perms.workshops.change_organization %}
    <a href="{% url 'organization_edit' organization.domain %}" class="btn btn-primary">Edit</a>
    {% else %}
    <a href="{% url 'organization_edit' organization.domain %}" class="btn btn-primary disabled">Edit</a>
    {% endif %}
  </p>
  <div class="delete-object float-right">
    {% if perms.workshops.delete_organization %}
    <form action="{% url 'organization_delete' organization.domain %}" onsubmit='return confirm("Are you sure you wish to remove  \"{{ organization }}\"?")' method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete organization</button>
    </form>
    {% else %}
    <button class="btn btn-danger disabled">Delete organization</button>
    {% endif %}
  </div>
</div>

<hr>

{% with events=organization.event_set.all %}
{% if events %}
<h2>Events</h2>
<table class="table table-striped">
  <tr>
    <th>tags</th>
    <th>start date</th>
    <th>end date</th>
    <th>slug</th>
    <th>url</th>
  </tr>
  {% for e in events %}
  <tr>
    <td>{{ e.tags.all | join:", " }}</td>
    <td>{{ e.start }}</td>
    <td>{{ e.end }}</td>
    <td><a href="{% url 'event_details' e.slug %}">{{ e.slug }}</a></td>
    <td>{{ e.url|urlize_newtab }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No events.</p>
{% endif %}
{% endwith %}

<hr>

{% if organization.membership_set.all %}
<h2>Memberships</h2>
<table class="table table-striped">
  <tr>
    <th rowspan="2">Variant</th>
    <th rowspan="2">Agreement start</th>
    <th rowspan="2">Agreement end</th>
    <th rowspan="2">Contribution type</th>
    <th colspan="3">Workshops w/o admin fee <i class="fas fa-question-circle" data-toggle="tooltip" title="Per agreement duration"></i></th>
    <th colspan="3">Self-organized workshops <i class="fas fa-question-circle" data-toggle="tooltip" title="Per agreement duration"></i></th>
    <th colspan="3">Instructor training seats</th>
    <th class="additional-links"></th>
  </tr>
  <tr>
    <th><small>Allowed</small></th><th><small>Completed</small></th><th><small>Remaining</small></th>
    <th><small>Expected</small></th><th><small>Completed</small></th><th><small>Remaining</small></th>
    <th><small>Allowed</small></th><th><small>Utilized</small></th><th><small>Remaining</small></th>
    <th></th>
  </tr>
  {% for membership in organization.membership_set.all %}
  <tr>
    <td><a href="{{ membership.get_absolute_url }}">{{ membership.get_variant_display }}</a></td>
    <td>{{ membership.agreement_start }}</td>
    <td>{{ membership.agreement_end }}</td>
    <td>{{ membership.get_contribution_type_display }}</td>
    <td>{{ membership.workshops_without_admin_fee_per_agreement|default:"—" }}</td>
    <td>{{ membership.workshops_without_admin_fee_completed|default:"—" }}</td>
    <td>{{ membership.workshops_without_admin_fee_remaining|default:"—" }}</td>
    <td>{{ membership.self_organized_workshops_per_agreement|default:"—" }}</td>
    <td>{{ membership.self_organized_workshops_completed|default:"—" }}</td>
    <td>{{ membership.self_organized_workshops_remaining|default:"—" }}</td>
    <td>{{ membership.seats_instructor_training_total }}</td>
    <td>{{ membership.seats_instructor_training_utilized }}</td>
    <td {% if membership.seats_instructor_training_remaining <= 0 and membership.seats_instructor_training_total > 0 or membership.seats_instructor_training_remaining < 0 and membership.seats_instructor_training_total == 0 %}class="table-danger"{% endif %}>{{ membership.seats_instructor_training_remaining }}</td>
    <td>
      <a href="{% url 'membership_details' membership.pk %}" title="View membership"><i class="fas fa-info-circle"></i></a>
      &nbsp;
      {% if perms.workshops.change_membership %}
      <a href="{% url 'membership_edit' membership.pk %}?next={{ request.get_full_path|urlencode }}" title="Edit membership"><i class="fas fa-edit"></i></a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
  <p>No memberships for this organization.</p>
{% endif %}

{% if perms.workshops.add_membership and perms.workshops.change_organization %}
  <a href="{% url 'membership_add' %}?organization={{ organization.pk }}" class="btn btn-success">Add a membership</a>
{% else %}
  <a href="#" class="btn btn-success disabled">Add a membership</a>
{% endif %}

{% include "includes/comments.html" with object=organization %}

{% endblock %}
