{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}" />
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/smoothness/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/amy.css' %}" />
    {% block extrastyle %}{% endblock %}

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <title>Amy{% if title %}: {{ title }}{% endif %}</title>
  </head>
  <body>
    {% block navbar %}{% endblock %}
    <div class="container">
      {% if title %}<h1>{{ title }}</h1>{% endif %}
      <ol class="breadcrumb">{% block breadcrumbs %}{% endblock %}</ol>
      {% for message in messages %}
      <div class="alert {{ message.tags }}">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span><span class="sr-only">Warning:</span>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span><span class="sr-only">Success:</span>
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {{ message }}
      </div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>
    <hr class="footer-hr" />
    <div class="container">
      <div class="row">
        <div class="footer">
          Powered by <a href="https://github.com/swcarpentry/amy">Amy</a>
          version {{workshops_version}}
          {% if workshops_git_hash %}
            (<a href="https://github.com/swcarpentry/amy/commit/{{workshops_git_hash}}">{{workshops_git_short_hash}}</a>
            {{workshops_git_date}}{% if workshops_git_dirty %} dirty{% endif %})
          {% endif %}
        </div>
      </div>
    </div>
    {% block extrajs %}{% endblock %}
  </body>
</html>
