{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{% static 'css/amy.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <title>Amy: {{ title }}</title>
  </head>
  <body>
    {% block navbar %}{% endblock %}
    <div class="container">
      {% if title %}<h1>{{ title }}</h1>{% endif %}
      <ol class="breadcrumb">{% block breadcrumbs %}{% endblock %}</ol>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
