{% load navigation %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container{% block fluid-navbar %}{% endblock %}">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'admin-dashboard' %}">AMY</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% navbar_element "Dashboard" "admin-dashboard" %}
            {% navbar_element "Events" "all_events" %}
            {% navbar_element "Organizations" "all_organizations" %}
            {% navbar_element "Persons" "all_persons" %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% navbar_element "Trainees" "all_trainees" %}
                {% navbar_element "Tasks" "all_tasks" %}
                {% navbar_element "Badges" "all_badges" %}
                {% navbar_element "Trainings" "all_trainings" %}
                {% navbar_element "Airports" "all_airports" %}
                {% navbar_element "Events with changed metadata" "events_metadata_changed" %}
                <li class="divider"></li>
                {% navbar_element_permed "Bulk add persons" "person_bulk_add" "workshops.add_person" %}
                {% navbar_element_permed "Merge persons" "persons_merge" "workshops.delete_person" %}
                {% navbar_element_permed "Merge events" "events_merge" "workshops.change_event,workshops.delete_event" %}
                {% navbar_element "Find Workshop Staff" "workshop_staff" %}
                <li class="divider"></li>
                {% url "export_badges" as export_badges_url %}
                {% url "export_instructors" as export_instructors_url %}
                {% navbar_element_url "Export badges" export_badges_url %}
                {% navbar_element_url "Export instructors" export_instructors_url %}
                {% navbar_element "Search" "search" %}
                {% navbar_element "Recently changed" "changes_log" %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% navbar_element "List of instructors by time period" "instructors_by_date" %}
                {% navbar_element "Workshops over time" "workshops_over_time" %}
                {% navbar_element "Learners over time" "learners_over_time" %}
                {% navbar_element "Instructors over time" "instructors_over_time" %}
                {% navbar_element "How often instructors have taught" "instructor_num_taught" %}
                {% navbar_element "All activity over time" "all_activity_over_time" %}
                <li class="divider"></li>
                {% navbar_element "Workshop issues" "workshop_issues" %}
                {% navbar_element "Instructor issues" "instructor_issues" %}
                {% navbar_element "Find duplicates" "duplicates" %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Requests / forms <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% navbar_element "Training requests" "all_trainingrequests" %}
                {% navbar_element "Workshop requests" "all_eventrequests" %}
                {% navbar_element "Workshop submissions" "all_eventsubmissions" %}
                {% navbar_element "DC self-organized workshop requests" "all_dcselforganizedeventrequests" %}
                {% navbar_element "Profile update requests" "all_profileupdaterequests" %}
                {% navbar_element "Invoice requests" "all_invoicerequests" %}
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search" method="post" action="{% url "search" %}">
            {% csrf_token %}
            <input type="hidden" name="in_organizations" value="on" />
            <input type="hidden" name="in_events" value="on" />
            <input type="hidden" name="in_persons" value="on" />
            <input type="hidden" name="in_airports" value="on" />
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="term" />
            </div>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
              {% block right-dropdown %}
                {% navbar_element_permed "New event" "event_add" "workshops.add_event" %}
                {% navbar_element_permed "New organization" "organization_add" "workshops.add_organization" %}
                {% navbar_element_permed "New person" "person_add" "workshops.add_person" %}
                {% navbar_element_permed "New airport" "airport_add" "workshops.add_airport" %}
                <li class="divider"></li>
                {% navbar_element_permed "Bulk add people" "person_bulk_add" "workshops.add_person" %}
              {% endblock right-dropdown %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi, {{ user.get_short_name }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% if user.is_admin %}
                <li><a href="{% url 'person_details' user.id %}">Your profile</a></li>
                {% else %}
                <li><a href="{% url 'autoupdate_profile' %}">Your profile</a></li>
                {% endif %}
                <li><a href="{% url 'person_password' user.id %}">Change password</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
{% endblock %}
