{% load pagination %}
<nav>
  <ul class="pagination">
    {% if objects.has_previous %}
      <li>
        <a href="?{% set_page_query objects.previous_page_number %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}

    {% for page in objects.paginator.paginate_sections %}
      {% if objects.number == page %}
        <li class="active"><a href="?{% set_page_query page %}">{{ page }}</a></li>
      {% elif page == None %}
        <li class="disabled"><a href="#">…</a></li>
      {% else %}
        <li><a href="?{% set_page_query page %}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if objects.has_next %}
      <li>
        <a href="?{% set_page_query objects.next_page_number %}" aria-label="Next">
          <span aria-label="true">&raquo;</span>
        </a>
      </li>
    {% endif %}

  </ul>
</nav>
