<nav>
  <ul class="pagination">
     {% if objects.has_previous %}
       <li>
         <a href="?{{ prev_query.urlencode }}" aria-label="Previous">
           <span aria-hidden="true">&laquo;</span>
         </a>
       </li>
     {% endif %}

     {% for i in objects.paginator.page_range %}
       {% if i > objects.number|add:"-10" and i < objects.number|add:"11" %}
         {% if objects.number == i %}
           <li class="active">
         {% else %}
           <li>
         {% endif %}
         <a href="?page={{ i }}">{{ i }}</a>
       </li>
       {% endif %}
     {% endfor %}

     {% if objects.has_next %}
       <li>
         <a href="?{{ next_query.urlencode }}" aria-label="Next">
           <span aria-label="true">&raquo;</span>
         </a>
       </li>

     {% endif %}
  </ul>
</nav>
