{% extends "account/base.html" %}

{% block content %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert"><strong>Error:</strong>
    Your username and password didn't match.</div>
    {% endif %}

    <div class="row">
      <div class="col-12 col-md-5">
        <h4>For The Carpentries Administrators</h4>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_username">Username or email:</label>
            <input type="text" class="form-control" id="id_username" placeholder="Username or email" name="username">
          </div>
          <div class="form-group">
            <label for="id_password">Password:</label>
            <input type="password" class="form-control" id="id_password" placeholder="Password" name="password">
          </div>
          <input type="hidden" name="next" value="{{ next }}" />
          <input type="submit" class="btn btn-primary" value="Log in to AMY">
        </form>
        <small><a href="{% url 'password_reset' %}">Forgotten your password?</a></small>
      </div>

      <div class="col-12 col-md">
        <p class="text-center"><strong>OR</strong></p>
      </div>

      <div class="col-12 col-md-5">
        <h4>For The Carpentries Instructors</h4>
        <p><a class="btn btn-primary w-100" href="{% url 'social:begin' 'github' %}{% if next %}?next={{ next }}{% endif %}"><i class="fab fa-github"></i> Log in with your GitHub account</a></p>
        <p>Having trouble logging in? Contact us at <a href="mailto:team@carpentries.org">team@carpentries.org</a>.</p>
      </div>
    </div>
{% endblock %}
