{% extends "account/base.html" %}

{% load crispy_forms_tags %}


{% block content %}
<form method="post" action="{% url 'password_reset' %}">
  {% csrf_token %}
  <div id="div_id_email" class="form-group"> <label for="id_email" class="col-form-label  requiredField">
                Email<span class="asteriskField">*</span> </label> <div class=""> <input type="email" name="email" id="id_email" class="emailinput form-control" maxlength="254" required /> </div> </div>
  <input type="submit" class="btn btn-primary" value="Reset password">
</form>
{% endblock %}
