# CI/CD for main branch - deploy to production

name: CI/CD (main - production deployment)

on:
  workflow_dispatch

jobs:
  accessibility:
    uses: ./.github/workflows/incl_accessibility.yml

  lint:
    uses: ./.github/workflows/incl_linter.yml

  test:
    uses: ./.github/workflows/incl_test.yml
    needs: lint

  build_deploy:
    uses: ./.github/workflows/incl_build_and_deploy_production.yml
    needs: test
