# CI/CD for pull requests

name: CI/CD (pull request)

on: pull_request

jobs:
  accessibility:
    uses: ./.github/workflows/incl_accessibility.yml

  lint:
    uses: ./.github/workflows/incl_linter.yml

  test:
    uses: ./.github/workflows/incl_test.yml
    needs: lint

  build_container:
    name: Build container image
    needs: test
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Build container image
      id: build-image
      run: docker build .

  # build_deploy:
  #   needs: test
  #   environment: staging
  #   uses: ./.github/workflows/incl_build_and_deploy.yml
