# CI/CD for pull requests

name: CI/CD (pull request)

on: pull_request

jobs:
  accessibility:
    uses: ./.github/workflows/incl_accessibility.yml

  lint:
    uses: ./.github/workflows/incl_linter.yml

  test:
    uses: ./.github/workflows/incl_test.yml
    needs: lint

  build_container:
    uses: ./.github/workflows/incl_build_container_image.yml
    needs: test

  # build_deploy:
  #   needs: test
  #   environment: staging
  #   uses: ./.github/workflows/incl_build_and_deploy.yml
