# reusable workflow

on:
  workflow_call

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.14' ]

    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install uv
        run: pipx install uv

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          sudo apt-get install -y libjpeg-dev
          uv sync

      - name: Run Ruff
        run: uv run ruff check --output-format=github .

      - name: Run Mypy
        run: uv run mypy .
