<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <title>Amy: {{ title }}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{ title }}</h1>
      <ol class="breadcrumb">{% block breadcrumbs %}{% endblock %}</ol>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
