{% extends "base_nav_fluid.html" %}

{% load compress %}
{% load static %}
{% load tags %}

{% block content %}

<div class="row">
  <div class="col-xs-12"><h3>Timeline</h3></div>
  <div class="col-xs-12" id="timeline"></div>
</div>

{% if updated_metadata %}
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Attention!</strong> {{ updated_metadata }} of your events had data on website updated. <a href="{% url 'events_metadata_changed' %}">See more</a>
    </div>
  </div>
</div>
{% endif %}

{% if is_admin or user.is_superuser %}
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" role="group" aria-label="Events assignment">
      <a href="?assigned_to=me" class="btn btn-default{% if assigned_to == 'me' %} active{% endif %}">Mine</a>
      <a href="?assigned_to=noone" class="btn btn-default{% if assigned_to == 'noone' %} active{% endif %}">Unassigned</a>
      <a href="?assigned_to=all" class="btn btn-default{% if assigned_to == 'all' %} active{% endif %}">All</a>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-xs-4">
    <h3>Current</h3>
    <table class="table table-striped">
    {% for event in current_events %}
    <tr>
      {% for tag in carpentries %}
        <td class="text-center" width="25px">
          {% if tag in event.tags.all %}
            {% bootstrap_tag tag.name %}
          {% endif %}
        </td>
      {% endfor %}
      <td><a href="{{ event.get_absolute_url }}">{{ event.slug }}</a></td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <div class="col-xs-3">
    <h3>Uninvoiced</h3>
    <table class="table table-striped">
    {% for event in uninvoiced_events %}
    <tr>
      <td><a href="{{ event.get_absolute_url }}">{{ event.slug }}</a></td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <div class="col-xs-5">
    <h3>Unpublished</h3>
    <table class="table table-striped">
      <tr>
        <th>#I</th>
        <th>dates</th>
        <th>slug</th>
        <th>host</th>
      </tr>
      {% for event in unpublished_events %}
      <tr>
        <td {% if event.num_instructors == 0 %}class="warning"{% endif %}>
          {{ event.num_instructors }}
        </td>
        <td>
          {% if event.start %}✓{% endif %}
        </td>
        <td {% if not event.slug %}class="warning"{% endif %}>
          {% if not event.slug %}
          —
          {% else %}
          <a href="{% url 'event_details' event.slug %}">
            {{ event.slug }}
          </a>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'organization_details' event.host.domain %}">
            {{ event.host }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}

{% block extrajs %}
{% compress js %}
<script src="{% static 'vis/dist/vis.js' %}"></script>
{% endcompress %}
<script type="text/javascript">
  $.getJSON("{% url 'api:user-todos' %}", {}, function(data) {
    var container = document.getElementById('timeline');
    var items = new vis.DataSet(data);
    var options = {
      width: '100%',
      // height: '30px',
      clickToUse: true,
      timeAxis: {
        scale: 'day',
        step: 1
      },
      start: '{{ todos_start_date|date:'c' }}',
      end: '{{ todos_end_date|date:'c' }}'
    };
    var timeline = new vis.Timeline(container, items, options);
  });
</script>
{% endblock %}
