{% extends "base_nav_fluid.html" %}

{% load compress %}
{% load static %}
{% load tags %}

{% block content %}

{% if updated_metadata %}
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Attention!</strong> {{ updated_metadata }} of your events had data on website updated. <a href="{% url 'events_metadata_changed' %}">See more</a>
    </div>
  </div>
</div>
{% endif %}

{% if is_admin or user.is_superuser %}
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" role="group" aria-label="Events assignment">
      <a href="?assigned_to=me" class="btn btn-default{% if assigned_to == 'me' %} active{% endif %}">Mine</a>
      <a href="?assigned_to=noone" class="btn btn-default{% if assigned_to == 'noone' %} active{% endif %}">Unassigned</a>
      <a href="?assigned_to=all" class="btn btn-default{% if assigned_to == 'all' %} active{% endif %}">All</a>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-xs-4">
    <h3>Current</h3>
    <table class="table table-striped">
    {% for event in current_events %}
    <tr>
        <td class="text-center" width="25px">
          {% for tag in carpentries %}
            {% if tag in event.tags.all %}
              {% bootstrap_tag tag.name %}
            {% endif %}
          {% endfor %}
        </td>
      <td><a href="{{ event.get_absolute_url }}">{{ event.slug }}</a></td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <div class="col-xs-8">
    <h3>Unpublished</h3>
    <table class="table table-striped">
      <tr>
        <th>slug</th>
        <th>#I</th>
        <th>dates</th>
        <th>location</th>
        <th>URL</th>
        <th>host</th>
      </tr>
      {% for event in unpublished_events %}
      <tr>
        <!-- SLUG -->
        <td><a href="{% url 'event_details' event.slug %}">{{ event.slug }}</a></td>
        <!-- INSTRUCTORS COUNT -->
        {% if event.num_instructors == 0 %}
        <td class="text-danger bg-danger">{{ event.num_instructors }}</td>
        {% else %}
        <td class="text-success">{{ event.num_instructors }}</td>
        {% endif %}
        <!-- DATES -->
        {% if not event.start %}
        <td class="text-danger bg-danger">✗</td>
        {% else %}
        <td class="text-success">✓</td>
        {% endif %}
        <!-- LOCATION -->
        {% if not event.address or not event.venue or not event.country or not event.latitude or not event.longitude %}
        <td class="text-danger bg-danger">✗</td>
        {% else %}
        <td class="text-success">✓</td>
        {% endif %}
        <!-- URL -->
        {% if not event.url %}
        <td class="text-danger bg-danger">✗</td>
        {% else %}
        <td class="text-success">✓</td>
        {% endif %}
        <!-- HOST -->
        <td>
          <a href="{% url 'organization_details' event.host.domain %}">
            {{ event.host }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
