{% extends "workshops/_page.html" %}

{% block content %}

<table class="table table-striped">
  <tr><td>full name:</td><td>{{ airport.fullname }}</td></tr>
  <tr><td>iata:</td><td><a href="http://{{ airport.iata }}">{{ airport.iata }}</a></td></tr>
  <tr><td>country:</td><td>{{ airport.country.name }} <img src="{{ airport.country.flag }}" alt="{{ airport.country }}" class="country-flag" /></td></tr>
  <tr><td>latitude:</td><td>{{ airport.latitude }}</td></tr>
  <tr><td>longitude:</td><td>{{ airport.longitude }}</td></tr>
</table>

<div class="clearfix">
  <p class="edit-object pull-left"><a href="{% url 'airport_edit' airport.iata %}" class=" btn btn-primary">Edit</a></p>
  <p class="delete-object pull-right"><a href="{% url 'airport_delete' airport.iata %}" onclick='return confirm("Are you sure you wish to remove \"{{ airport }}\"?")' class="btn btn-danger">Delete airport</a></p>
</div>
{% endblock %}
