{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_index_all_objects airport %}
    {% breadcrumb_active airport %}
{% endblock %}

{% block content %}

<table class="table table-striped">
  <tr><td>full name:</td><td>{{ airport.fullname }}</td></tr>
  <tr><td>iata:</td><td><a href="http://{{ airport.iata }}">{{ airport.iata }}</a></td></tr>
  <tr><td>country:</td><td>{{ airport.country }}</td></tr>
  <tr><td>latitude:</td><td>{{ airport.latitude }}</td></tr>
  <tr><td>longitude:</td><td>{{ airport.longitude }}</td></tr>
</table>

<p class="edit-object"><a href="{% url 'airport_edit' airport.iata %}">Edit this airport</a></p>
{% endblock %}
