{% extends "base_nav_sidebar.html" %}

{% load pagination %}
{% load links %}

{% block content %}
  <div class="alert alert-warning">
    <strong>Warning!</strong> This feature was disabled. Admins are no longer able to add invoice requests.
  </div>
  {% if requests %}
  <table class="table table-striped">
    <tr>
      <th>Event</th>
      <th>Organization</th>
      <th>Contact</th>
      <th>Status</th>
      <th class="additional-links"></th>
    </tr>
    {% for req in requests %}
    <tr>
      <td><a href="{{ req.event.get_absolute_url }}">{{ req.event.slug }}</a></td>
      <td><a href="{{ req.organization.get_absolute_url }}">{{ req.organization }}</a></td>
      <td>{{ req.contact_name }} &lt;{{ req.contact_email|urlize_newtab }}&gt;</td>
      <td>{{ req.get_status_display }}</td>
      <td><a href="{{ req.get_absolute_url }}"><i class="fas fa-info-circle"></i></a></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No invoice requests matching the filter.</p>
  {% endif %}
{% endblock %}
