{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_url 'Index' 'index'  %}
    {% breadcrumb_active 'All sites'  %}
{% endblock %}

{% block content %}
{% if all_sites %}
    <table class="table table-striped">
        <tr>
	    <th>full name</th>
	    <th>domain</th>
	</tr>
    {% for site in all_sites %}
        <tr>
            <td><a href="{% url 'site_details' site.domain %}">{{ site.fullname }}</a></td>
            <td><a href="http://{{ site.domain }}">{{ site.domain }}</a></td>
	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No sites.</p>
{% endif %}
<p class="add-new"><a href="{% url 'site_add' %}">Add a new site</a></p>
{% endblock %}
