{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_active title %}
{% endblock %}

{% block content %}
{% if all_persons %}
    <table class="table table-striped">
        <tr>
	    <th>personal</th>
	    <th>middle</th>
	    <th>family</th>
	    <th>email</th>
	    <th></th>
	</tr>
    {% for person in all_persons %}
        <tr>
	    <td>{{ person.personal }}</td>
	    <td>{{ person.middle }}</td>
	    <td>{{ person.family }}</td>
	    <td>{{ person.email }}</td>
	    <td><a href="{% url 'person_details' person.id %}">...</a></td>
	</tr>
    {% endfor %}
    </table>
    <div class="pagination">
      <span class="step-links">
         {% if all_persons.has_previous %}
             <a href="?page={{ all_persons.previous_page_number }}">previous</a>
         {% endif %}

         <span class="current">
             Page {{ all_persons.number }} of {{ all_persons.paginator.num_pages }}.
         </span>

         {% if all_persons.has_next %}
             <a href="?page={{ all_persons.next_page_number }}">next</a>
         {% endif %}
      </span>
    </div>
{% else %}
    <p>No persons.</p>
{% endif %}
<p class="add-new"><a href="{% url 'person_add' %}">Add a new person</a></p>
<p class="add-new"><a href="{% url 'person_bulk_add' %}">Add many people from a .CSV file</a></p>
{% endblock %}
