{% extends "workshops/_page_fluid.html" %}

{% load crispy_forms_tags %}
{% load pagination %}

{% block sidebar %}
    <h3>Filter</h3>
    {% crispy filter.form form_helper %}
{% endblock %}

{% block content-fluid %}
  {% if requests %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>assignee</th>
        <th>person</th>
        <th>affiliation</th>
        <th>preferred date</th>
        <th>type</th>
        <th>comment</th>
        <th class="additional-links"></th>
      </tr>
    </thead>
    <tbody>
    {% for req in requests %}
      <tr>
        <td>{% if req.assigned_to %}<a href="{{ req.assigned_to.get_absolute_url }}">{{ req.assigned_to.get_short_name }}</a>{% else %}—{% endif %}</td>
        <td>{{ req.name }} &lt;{{ req.email|urlize }}&gt;</td>
        <td>{{ req.affiliation }}</td>
        <td>{{ req.preferred_date }}</td>
        <td>
        {% if req.workshop_type == 'swc' %}
          <span class="label label-primary">SWC</span>
        {% else %}
          <span class="label label-default">DC</span>
        {% endif %}
        </td>
        <td>{{ req.comment|truncatewords:5|default:"—" }}</td>
        <td><a href="{{ req.get_absolute_url }}"><span class="glyphicon glyphicon-info-sign"></span></a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No workshop requests matching the filter.</p>
  {% endif %}
{% endblock %}
