{% extends "base_nav_fluid_sidebar.html" %}

{% load crispy_forms_tags %}
{% load pagination %}

{% block sidebar %}
    <h3>Filter</h3>
    {% crispy filter.form form_helper %}
{% endblock %}

{% block content %}
    {% if perms.workshops.add_task %}
    <p><a href="{% url 'task_add' %}" class="btn btn-success">New task</a></p>
    {% else %}
    <p><a href="{% url 'task_add' %}" class="btn btn-success disabled">New task</a></p>
    {% endif %}
{% if all_tasks %}
    <table class="table table-striped">
        <tr>
            <th>event</th>
            <th>person</th>
            <th>role</th>
            <th class="additional-links"></th>
        </tr>
    {% for task in all_tasks %}
        <tr>
            <td><a href="{{ task.event.get_absolute_url }}">{{ task.event }}</a></td>
            <td><a href="{{ task.person.get_absolute_url }}">{{ task.person.get_full_name }}</a>{% if task.person.email and task.person.may_contact %} &lt;{{ task.person.email|urlize }}&gt;{% endif %}</td>
            <td>{{ task.role }}</td>
            <td>
                <a href="{% url 'task_details' task.id %}" title="View {{ task }}"><span class="glyphicon glyphicon-info-sign"></span></a>
                &nbsp;
                {% if perms.workshops.change_task %}
                <a href="{% url 'task_edit' task.id %}" title="Edit {{ task }}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% pagination all_tasks %}
    {% if perms.workshops.add_task %}
    <p><a href="{% url 'task_add' %}" class="btn btn-success">New task</a></p>
    {% else %}
    <p><a href="{% url 'task_add' %}" class="btn btn-success disabled">New task</a></p>
    {% endif %}
{% else %}
    <p>No tasks.</p>
{% endif %}
{% endblock %}
