{% extends "base_nav_sidebar.html" %}

{% load pagination %}

{% block content %}
    {% if perms.workshops.add_organization %}
    <p><a href="{% url 'organization_add' %}" class="btn btn-success">New organization</a></p>
    {% else %}
    <p><a href="{% url 'organization_add' %}" class="btn btn-success disabled">New organization</a></p>
    {% endif %}
{% if all_organizations %}
    <table class="table table-striped">
        <tr>
            <th>full name</th>
            <th>domain</th>
            <th>current membership</th>
            <th>notes</th>
            <th class="additional-links"></th>
        </tr>
    {% for organization in all_organizations %}
        <tr>
            <td><a href="{% url 'organization_details' organization.domain %}">{{ organization.fullname }}</a></td>
            <td><a href="http://{{ organization.domain }}" target="_blank">{{ organization.domain }}</a></td>
            <td>
              {% for membership in organization.current_memberships %}
                <a href="{% url 'membership_details' membership.pk %}">
                  {{ membership.get_variant_display }}
                </a><br />
              {% empty %}
                —
              {% endfor %}
            </td>
            <td>{{ organization.notes|truncatechars:40 }}</td>
            <td>
              <a href="{% url 'organization_details' organization.domain %}" title="View {{ organization.fullname }}"><i class="fas fa-info-circle"></i></a>
                &nbsp;
              {% if perms.workshops.change_organization %}
                <a href="{% url 'organization_edit' organization.domain %}" title="Edit {{ organization.fullname }}"><i class="fas fa-edit"></i></a>
              {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% pagination all_organizations %}
    {% if perms.workshops.add_organization %}
    <p><a href="{% url 'organization_add' %}" class="btn btn-success">New organization</a></p>
    {% else %}
    <p><a href="{% url 'organization_add' %}" class="btn btn-success disabled">New organization</a></p>
    {% endif %}
{% else %}
    <p>No organizations.</p>
{% endif %}
{% endblock %}
