{% extends "base_nav.html" %}

{% load pagination %}

{% block content %}
  <div class="btn-group" role="group" aria-label="Type of requests">
    <a href="{% url 'all_profileupdaterequests' %}" class="btn btn-secondary{% if active_requests %} active{% endif %}">New</a>
    <a href="{% url 'all_closed_profileupdaterequests' %}" class="btn btn-secondary{% if not active_requests %} active{% endif %}">Closed</a>
  </div>
  {% if requests %}
  <table class="table table-striped">
    <tr>
      <th>Person</th>
      <th>Email</th>
      <th class="additional-links"></th>
    </tr>
    {% for req in requests %}
    <tr>
      <td>{{ req.personal }} {{ req.middle }} {{ req.family }}</td>
      <td>{{ req.email|urlize }}</td>
      <td><a href="{{ req.get_absolute_url }}"><i class="fas fa-info-circle"></i></a></td>
    </tr>
    {% endfor %}
  </table>
  {% pagination requests %}
  {% else %}
  <p>No profile update requests matching the filter.</p>
  {% endif %}
{% endblock %}
