{% extends "base_nav_sidebar.html" %}

{% load pagination %}
{% load links %}

{% block content %}
  {% if submissions %}
  <table class="table table-striped">
    <tr>
      <th>Assignee</th>
      <th>Person</th>
      <th>Workshop URL</th>
      <th>Self-organized</th>
      <th>Status</th>
      <th class="additional-links"></th>
    </tr>
    {% for submission in submissions %}
    <tr {% if not submission.active %}class="table-success"{% endif %}>
      <td>{% if submission.assigned_to %}<a href="{{ submission.assigned_to.get_absolute_url }}">{{ submission.assigned_to.get_short_name }}</a>{% else %}—{% endif %}</td>
      <td>{{ submission.contact_name }} &lt;{{ submission.contact_email|urlize }}&gt;</td>
      <td>{{ submission.url|urlize_newtab }}</td>
      <td>{{ submission.self_organized|yesno }}</td>
      <td>{% if submission.active %}open{% else %}closed{% endif %}</td>
      <td><a href="{{ submission.get_absolute_url }}"><i class="fas fa-info-circle"></i></a></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No workshop submissions matching the filter.</p>
  {% endif %}
{% endblock %}
