{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_active title %}
{% endblock %}

{% block content %}
<table class="table table-striped">
  <tr>
    <th>name</th>
    <th>title</th>
    <th>criteria</th>
    <th>number awarded</th>
  </tr>
  {% for badge in all_badges %}
  <tr>
    <td><a href="{% url 'badge_details' badge.name %}">{{ badge.name }}</a></td>
    <td>{{ badge.title }}</td>
    <td>{{ badge.criteria }}</td>
    <td>{{ badge.num_awarded }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
