{% extends "workshops/_page.html" %}

{% block content %}
    <p><a href="{% url 'event_add' %}" class="btn btn-success">New event</a></p>
{% if all_events %}
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>published</th>
        <th>tags</th>
        <th>instructors</th>
        <th>slug</th>
        <th>url</th>
        <th>site</th>
        <th>dates</th>
        <th>attendance</th>
        <th>admin fee</th>
        <th>invoiced</th>
        <th class="additional-links"></th>
      </tr>
    {% for event in all_events %}
      <tr>
        <td>{{ event.id }}</td>
        <td>{{ event.published }}</td>
        <td>{{ event.tags.all | join:", " }}</td>
        {% with num_instructors=event.task_set.instructors.count %}
        <td {% if num_instructors == 0 %}class="warning"{% endif %}>{{ num_instructors }}</td>
        {% endwith %}
        <td {% if not event.slug %}class="warning"{% endif %}>
          {% if not event.slug %}
            —
          {% else %}
            <a href="{% url 'event_details' event.get_ident %}">
            {{ event.get_ident }}
            </a>
          {% endif %}
        </td>
        <td {% if not event.url %}class="warning"{% endif %}>
          {% if event.url %}
          <a href="{{ event.url }}">{{ event.url|cut:"https://github.com/" }}</a>
          {% else %}
          —
          {% endif %}
        </td>
        <td><a href="{% url 'site_details' event.site.domain %}">{{ event.site }}</a></td>
        <td>{{ event.start }} &ndash; {{ event.end }}</td>
        <td>{{ event.attendance|default_if_none:"—" }}</td>
        <td>{{ event.admin_fee|default_if_none:"—" }}</td>
        <td>{{ event.invoiced|yesno:"yes,no,unknown" }}</td>
        <td>
          <a href="{% url 'event_details' event.get_ident %}" title="View {{ event.get_ident }}"><span class="glyphicon glyphicon-option-horizontal"></span></a>
          &nbsp;
          <a href="{% url 'event_edit' event.get_ident %}" title="Edit {{ event.get_ident }}"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>
      </tr>
    {% endfor %}
    </table>
    <div class="pagination">
      <span class="step-links">
         {% if all_events.has_previous %}
             <a href="?page={{ all_events.previous_page_number }}">previous</a>
         {% endif %}

         <span class="current">
             Page {{ all_events.number }} of {{ all_events.paginator.num_pages }}.
         </span>

         {% if all_events.has_next %}
             <a href="?page={{ all_events.next_page_number }}">next</a>
         {% endif %}
      </span>
    </div>
    <p><a href="{% url 'event_add' %}" class="btn btn-success">New event</a></p>
{% else %}
    <p>No events.</p>
{% endif %}
{% endblock %}
