{% extends "base_nav_sidebar.html" %}

{% load pagination %}
{% load tags %}

{% block content %}
  {% if requests %}
  <table class="table table-striped">
    <tr>
      <th>Assignee</th>
      <th>Person</th>
      <th>Affiliation</th>
      <th>Preferred date</th>
      <th>Type</th>
      <th>Status</th>
      <th>Comment</th>
      <th class="additional-links"></th>
    </tr>
    {% for req in requests %}
    <tr {% if not req.active %}class="table-success"{% endif %}>
      <td>{% if req.assigned_to %}<a href="{{ req.assigned_to.get_absolute_url }}">{{ req.assigned_to.get_short_name }}</a>{% else %}—{% endif %}</td>
      <td>{{ req.name }} &lt;{{ req.email|urlize }}&gt;</td>
      <td>{{ req.affiliation }}</td>
      <td>{{ req.preferred_date }}</td>
      <td>{% bootstrap_tag req.workshop_type|upper %}</td>
      <td>{% if req.active %}open{% else %}closed{% endif %}</td>
      <td>{{ req.comment|truncatewords:5|default:"—" }}</td>
      <td><a href="{{ req.get_absolute_url }}"><i class="fas fa-info-circle"></i></a></td>
    </tr>
    {% endfor %}
  </table>
  {% pagination requests %}
  {% else %}
  <p>No workshop requests matching the filter.</p>
  {% endif %}
{% endblock %}
