{% extends "base_nav_sidebar.html" %}

{% load pagination %}
{% load links %}

{% block content %}
    {% if perms.workshops.add_task %}
    <p><a href="{% url 'task_add' %}" class="btn btn-success">New task</a></p>
    {% else %}
    <p><a href="{% url 'task_add' %}" class="btn btn-success disabled">New task</a></p>
    {% endif %}
{% if all_tasks %}
    <table class="table table-striped">
        <tr>
            <th>event</th>
            <th>person</th>
            <th>title</th>
            <th>url</th>
            <th>role</th>
            <th class="additional-links"></th>
        </tr>
    {% for task in all_tasks %}
        <tr>
            <td><a href="{{ task.event.get_absolute_url }}">{{ task.event }}</a></td>
            <td><a href="{{ task.person.get_absolute_url }}">{{ task.person.full_name }}</a>{% if task.person.email and task.person.may_contact %} &lt;{{ task.person.email|urlize }}&gt;{% endif %}</td>
            <td>{{ task.title|default:"—" }}</td>
            <td>{{ task.url|default:"—"|urlize_newtab }}</td>
            <td>{{ task.role }}</td>
            <td>
                <a href="{% url 'task_details' task.id %}" title="View {{ task }}"><i class="fas fa-info-circle"></i></a>
                &nbsp;
                {% if perms.workshops.change_task %}
                <a href="{% url 'task_edit' task.id %}" title="Edit {{ task }}"><i class="fas fa-edit"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% pagination all_tasks %}
    {% if perms.workshops.add_task %}
    <p><a href="{% url 'task_add' %}" class="btn btn-success">New task</a></p>
    {% else %}
    <p><a href="{% url 'task_add' %}" class="btn btn-success disabled">New task</a></p>
    {% endif %}
{% else %}
    <p>No tasks.</p>
{% endif %}
{% endblock %}
