{% extends "base_nav_fluid_sidebar.html" %}

{% load crispy_forms_tags %}
{% load pagination %}
{% load links %}

{% block sidebar %}
    <h3>Filter</h3>
    {% crispy filter.form form_helper %}
{% endblock %}

{% block content %}
  {% if submissions %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>assignee</th>
        <th>person</th>
        <th>workshop URL</th>
        <th>self organized?</th>
        <th class="additional-links"></th>
      </tr>
    </thead>
    <tbody>
    {% for submission in submissions %}
      <tr>
        <td>{% if submission.assigned_to %}<a href="{{ submission.assigned_to.get_absolute_url }}">{{ submission.assigned_to.get_short_name }}</a>{% else %}—{% endif %}</td>
        <td>{{ submission.contact_name }} &lt;{{ submission.contact_email|urlize }}&gt;</td>
        <td>{{ submission.url|urlize_newtab }}</td>
        <td>{{ submission.self_organized|yesno }}</td>
        <td><a href="{{ submission.get_absolute_url }}"><span class="glyphicon glyphicon-info-sign"></span></a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No workshop submissions matching the filter.</p>
  {% endif %}
{% endblock %}
