{% extends "base_nav_fluid_sidebar.html" %}

{% load pagination %}

{% block content %}
    {% if perms.workshops.add_membership %}
    <p><a href="{% url 'membership_add' %}" class="btn btn-success">New membership</a></p>
    {% else %}
    <p><a href="{% url 'membership_add' %}" class="btn btn-success disabled">New membership</a></p>
    {% endif %}
{% if all_memberships %}
    <table class="table table-striped">
        <tr>
            <th>organization</th>
            <th>kind</th>
            <th>start date</th>
            <th>end date</th>
            <th>contribution</th>
        </tr>
    {% for membership in all_memberships %}
        <tr>
            <td><a href="{{ membership.get_absolute_url }}">{{ membership.organization.fullname }}</a></td>
            <td>{{ membership.variant }}</td>
            <td>{{ membership.agreement_start }}</td>
            <td>{{ membership.agreement_end }}</td>
            <td>{{ membership.contribution_type }}</td>
        </tr>
    {% endfor %}
    </table>
    {% pagination all_memberships %}
    {% if perms.workshops.add_membership %}
    <p><a href="{% url 'membership_add' %}" class="btn btn-success">New membership</a></p>
    {% else %}
    <p><a href="{% url 'membership_add' %}" class="btn btn-success disabled">New membership</a></p>
    {% endif %}
{% else %}
    <p>No memberships.</p>
{% endif %}
{% endblock %}
