{% extends "workshops/_page_fluid.html" %}

{% load crispy_forms_tags %}
{% load pagination %}

{% block sidebar %}
    <h3>Filter</h3>
    {% crispy filter.form form_helper %}
{% endblock %}

{% block content-fluid %}
  {% if perms.workshops.add_person %}
    <p><a href="{% url 'person_add' %}" class="btn btn-success">New person</a></p>
    {% else %}
    <p><a href="{% url 'person_add' %}" class="btn btn-success disabled">New person</a></p>
  {% endif %}
{% if all_persons %}
    <table class="table table-striped">
      <tr>
        <th width="50">Instructor?</th>
        <th>Name</th>
        <th>Email</th>
        <th class="additional-links"></th>
      </tr>
    {% for person in all_persons %}
      <tr>
        <td class="text-center">{% if instructor in person.badges.all %}✓{% endif %}</td>
        <td><a href="{% url 'person_details' person.id %}">{{ person.get_full_name }}</a></td>
        <td>{% if person.email %}<a href="mailto:{{ person.email }}">{{ person.email }}</a>{% else %}—{% endif %}</td>
        <td>
          <a href="{% url 'person_details' person.pk %}" title="View {{ person.get_full_name }}"><span class="glyphicon glyphicon-info-sign"></span></a>
          &nbsp;
          {% if perms.workshops.change_person %}
          <a href="{% url 'person_edit' person.pk %}" title="Edit {{ person.get_full_name }}"><span class="glyphicon glyphicon-pencil"></span></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
    {% pagination all_persons %}
    {% if perms.workshops.add_person %}
    <p><a href="{% url 'person_add' %}" class="btn btn-success">New person</a></p>
    {% else %}
    <p><a href="{% url 'person_add' %}" class="btn btn-success disabled">New person</a></p>
    {% endif %}
{% else %}
    <p>No persons.</p>
{% endif %}
{% endblock %}
