{% extends "workshops/_page.html" %}

{% block content %}
    <p><a href="{% url 'airport_add' %}" class="btn btn-success">New airport</a></p>
{% if all_airports %}
    <table class="table table-striped">
        <tr>
	    <th>IATA</th>
	    <th>full name</th>
	    <th>latitude</th>
	    <th>longitude</th>
	</tr>
    {% for airport in all_airports %}
        <tr>
            <td>{{ airport.iata }}</td>
            <td><a href="{% url 'airport_details' airport.iata %}">{{ airport.fullname }}</a></td>
            <td>{{ airport.latitude }}</td>
            <td>{{ airport.longitude }}</td>
	</tr>
    {% endfor %}
    </table>
    <div class="pagination">
      <span class="step-links">
         {% if all_airports.has_previous %}
             <a href="?page={{ all_airports.previous_page_number }}">previous</a>
         {% endif %}

         <span class="current">
             Page {{ all_airports.number }} of {{ all_airports.paginator.num_pages }}.
         </span>

         {% if all_airports.has_next %}
             <a href="?page={{ all_airports.next_page_number }}">next</a>
         {% endif %}
      </span>
    </div>
    <p><a href="{% url 'airport_add' %}" class="btn btn-success">New airport</a></p>
{% else %}
    <p>No airports.</p>
{% endif %}
{% endblock %}
