{% extends "workshops/_page_fluid.html" %}

{% load crispy_forms_tags %}
{% load links %}
{% load pagination %}

{% block sidebar %}
    <h3>Filter</h3>
    {% crispy filter.form form_helper %}
{% endblock %}

{% block content-fluid %}
  {% if perms.workshops.add_event %}
    <p><a href="{% url 'event_add' %}" class="btn btn-success">New event</a></p>
  {% else %}
    <p><a href="{% url 'event_add' %}" class="btn btn-success disabled">New event</a></p>
  {% endif %}
{% if all_events %}
    <table class="table table-striped">
      <tr>
        <th>assignee</th>
        <th>slug</th>
        <th>tags</th>
        <th>url</th>
        <th>instructors</th>
        <th>host</th>
        <th>dates</th>
        <th>invoice</th>
        <th>completed</th>
        <th class="additional-links"></th>
      </tr>
    {% for event in all_events %}
      {% if event.completed %}
      <tr class="bg-success">
      {% else %}
      <tr>
      {% endif %}
        <td>{% if event.assigned_to %}<a href="{{ event.assigned_to.get_absolute_url }}">{{ event.assigned_to.get_short_name }}</a>{% else %}—{% endif %}</td>
        <td {% if not event.slug %}class="warning"{% endif %}>
          {% if not event.slug %}
            —
          {% else %}
            <a href="{% url 'event_details' event.get_ident %}">
            {{ event.get_ident }}
            </a>
          {% endif %}
        </td>
        <td>{{ event.tags.all | join:", " }}</td>
        <td {% if not event.repository_url %}class="warning"{% endif %}>
          {{ event.repository_url|default:"—"|urlize_newtab }}
        </td>
        {% with num_instructors=event.task_set.instructors.count %}
        <td {% if num_instructors == 0 %}class="warning"{% endif %}>{{ num_instructors }}</td>
        {% endwith %}
        <td><a href="{% url 'host_details' event.host.domain %}">{{ event.host }}</a></td>
        <td>{{ event.start }} &ndash; {{ event.end }}</td>
        <td>{{ event.get_invoice_status_display }}</td>
        <td>
          {{ event.completed|yesno }}
        </td>
        <td>
          <a href="{% url 'event_details' event.get_ident %}" title="View {{ event.get_ident }}"><span class="glyphicon glyphicon-info-sign"></span></a>
          &nbsp;
          {% if perms.workshops.edit_event %}
          <a href="{% url 'event_edit' event.get_ident %}" title="Edit {{ event.get_ident }}"><span class="glyphicon glyphicon-pencil"></span></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
    {% pagination all_events %}
    {% if perms.workshops.add_event %}
    <p><a href="{% url 'event_add' %}" class="btn btn-success">New event</a></p>
    {% else %}
    <p><a href="{% url 'event_add' %}" class="btn btn-success disabled">New event</a></p>
    {% endif %}
{% else %}
    <p>No events.</p>
{% endif %}
{% endblock %}
