{% extends "base_nav_sidebar.html" %}

{% load pagination %}
{% load tags %}

{% block content %}
  {% if perms.workshops.add_person %}
    <p><a href="{% url 'person_add' %}" class="btn btn-success">New person</a></p>
    {% else %}
    <p><a href="{% url 'person_add' %}" class="btn btn-success disabled">New person</a></p>
  {% endif %}
{% if all_persons %}
    <table class="table table-striped">
      <tr>
        <th width="25">Badges</th>
        <th>Name</th>
        <th>Email</th>
        <th class="additional-links"></th>
      </tr>
    {% for person in all_persons %}
      <tr>
        <td class="text-center">{% if person.is_dc_instructor %}{% bootstrap_tag "DC" %}{% endif %}{% if person.is_swc_instructor %}{% bootstrap_tag "SWC" %}{% endif %}</td>
        <td><a href="{% url 'person_details' person.id %}">{{ person.full_name }}</a></td>
        <td>{% if person.email %}<a href="mailto:{{ person.email }}">{{ person.email }}</a>{% else %}—{% endif %}</td>
        <td>
          <a href="{% url 'person_details' person.pk %}" title="View {{ person.full_name }}"><span class="glyphicon glyphicon-info-sign"></span></a>
          &nbsp;
          {% if perms.workshops.change_person %}
          <a href="{% url 'person_edit' person.pk %}" title="Edit {{ person.full_name }}"><span class="glyphicon glyphicon-pencil"></span></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
    {% pagination all_persons %}
    {% if perms.workshops.add_person %}
    <p><a href="{% url 'person_add' %}" class="btn btn-success">New person</a></p>
    {% else %}
    <p><a href="{% url 'person_add' %}" class="btn btn-success disabled">New person</a></p>
    {% endif %}
{% else %}
    <p>No persons.</p>
{% endif %}
{% endblock %}
