{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_url 'Amy' 'index'  %}
    {% breadcrumb_active 'All cohorts'  %}
{% endblock %}

{% block content %}
{% if all_cohorts %}
    <table class="table table-striped">
        <tr>
	    <th>name</th>
	    <th>start date</th>
	</tr>
    {% for cohort in all_cohorts %}
        <tr>
	  <td><a href="{% url 'cohort_details' cohort.name %}">{{ cohort.name }}</a></td>
	  <td>{{ cohort.start }}</td>
	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No cohorts.</p>
{% endif %}
<p class="add-new"><a href="{% url 'cohort_add' %}">Add a new cohort</a></p>
{% endblock %}
