{% extends "base_nav_sidebar.html" %}

{% load crispy_forms_tags %}
{% load pagination %}
{% load tags %}
{% load training_request %}

{% block content %}
  {% if requests %}
    <form role="form" class="form-horizontal" method="post">
    {% if form.errors.requests or match_form.errors.requests %}
      <div class="alert alert-danger" role="alert">You didn't select any request.</div>
    {% elif form.errors or match_form.errors %}
      <div class="alert alert-danger" role="alert">Fix errors below and try again.</div>
    {% endif %}
    <table class="table table-striped">
      <tr>
        <th width="10px">
          <input type="checkbox" select-all-checkbox />
        </th>
        <th>Submitter</th>
        {% if request.GET.affiliation or request.GET.location %}
          <th>
            Affiliation
            <i class="fas fa-question-circle"
               data-toggle="popover" data-html="true"
               data-content="<p>If two lines are presented:
                             <ul><li>the first line shows affiliation from training request,</li>
                             <li>and the second line shows affiliation from trainee's profile</li></ul></p>
                             "></i>
          </th>
          <th>Location</th>
        {% endif %}
        {% if request.GET.group_name %}
          <th>Group</th>
        {% endif %}
        <th>Created at</th>
        <th>Matched Trainee</th>
        <th>Matched Training</th>
        <th width="50px">
          State
          <i class="fas fa-question-circle"
             data-toggle="popover" data-html="true"
             data-content="<p>
                           <span class='badge badge-warning'>Pending</span>
                           <span class='badge badge-success'>Accepted</span>
                           <span class='badge badge-danger'>Discarded</span>
                           </p>
                           <p>Click one of
                           <a href='#'><i class='fas fa-info-circle'></i></a>
                           icons below to start accepting request.</p>
                          "></i>
        </th>
        <th class="additional-links"></th>
      </tr>
      {% for req in requests %}
        <tr>
          <td>
            <input type="checkbox" name="requests" value="{{ req.pk }}"
                   respond-to-select-all-checkbox
                   email="{% if req.person %}{{ req.person.email }}{% endif %}"
                   {% if req in form.cleaned_data.requests or req in match_form.cleaned_data.requests %}checked {% endif %}
            />
          </td>
          <td>
            {{ req.personal }} {{ req.middle }} {{ req.family }}<br />
            &lt;{{ req.email|urlize }}&gt;
          </td>
          {% if request.GET.affiliation or request.GET.location %}
            <td>
              {{ req.affiliation }}
              {% if req.person %}
                 <br />
                {{ req.person.affiliation }}
              {% endif %}
            </td>
            <td>{{ req.location }}</td>
          {% endif %}
          {% if request.GET.group_name %}
            <td>{{ req.group_name }}</td>
          {% endif %}
          <td>{{ req.created_at|date:'Y-m-d H:i' }}</td>
          <td>
            {% if req.person %}
              <a href="{% url 'person_details' req.person.pk %}">
                {{ req.person.full_name }}
              </a>
              {% if req.person.email %}
                <br />&lt;{{ req.person.email|urlize }}&gt;
              {% endif %}
            {% else %}—{% endif %}
          </td>
          <td>
            {% if req.person %}
              {% for task in req.person.training_tasks %}
                <a href="{% url 'event_details' task.event.slug %}">{{ task.event }}</a><br />
              {% empty %}
                —
              {% endfor %}
            {% else %}
              —
            {% endif %}
          </td>
          <td>
            {% if req.state == 'p' %}
              <span class="{% training_request_label req %}"
                    data-toggle="popover" data-html="true"
                    data-content='
                      Click
                      <a href="#"><i class="fas fa-info-circle"></i></a>
                      icon on the right side to start accepting this request.
                    '>
                {{ req.get_state_display }}
              </span>
            {% else %}
              <span class="{% training_request_label req %}">
                {{ req.get_state_display }}
              </span>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'trainingrequest_details' req.id %}?next={{ request.get_full_path|urlencode }}" title="View"><i class="fas fa-info-circle"></i></a>
            &nbsp;
            <a href="{% url 'trainingrequest_edit' req.id %}?next={{ request.get_full_path|urlencode }}" title="Edit"><i class="fas fa-edit"></i></a>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% pagination requests %}

    <div class="btn-group" role="group">
      <a class="btn btn-success" href="{% url 'training_request' %}">Create new request</a>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Download
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="{% url 'api:training-requests' %}?format=csv&" id="download_selected">Selected requests as CSV</a></li>
          <li><a href="{% url 'api:training-requests' %}?format=csv&{{ request.GET.urlencode }}">Filtered requests as CSV</a></li>
          <li><a href="{% url 'api:training-requests' %}?format=csv">All requests as CSV</a></li>
        </ul>
      </div>
    </div>

    <h2>Actions</h2>
    {% crispy form %}
    {% crispy match_form %}
    </form>
{% else %}
    <p>No training requests.</p>
{% endif %}
{% endblock %}
