{% extends "base_nav_fixed.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <p>
      <a href="{{ api_endpoint }}">API link</a>.
    </p>

    {% crispy form %}

    {% if data %}
      <h3>Results</h3>

      <dl>
        <dt>Number of SWC workshops:</dt>
        <dd>{{ data.workshops.SWC }}</dd>
        <dt>Number of DC workshops:</dt>
        <dd>{{ data.workshops.DC }}</dd>
        <dt>Number of SWC or DC workshops:</dt>
        <dd>{{ data.workshops.SWC_or_DC }}</dd>
        <dt>Number of TTT workshops:</dt>
        <dd>{{ data.workshops.TTT }}</dd>
        <dt>Number of WiSE workshops:</dt>
        <dd>{{ data.workshops.WiSE }}</dd>
        <dt>Number of self-organized workshops:</dt>
        <dd>{{ data.workshops.self_organized }}</dd>

        <dt>Total number of instructors in SWC workshops:</dt>
        <dd>{{ data.instructors.SWC.total }}</dd>
        <dt>Number of unique instructors in SWC workshops:</dt>
        <dd>{{ data.instructors.SWC.unique }}</dd>

        <dt>Total number of instructors in DC workshops:</dt>
        <dd>{{ data.instructors.DC.total }}</dd>
        <dt>Number of unique instructors in DC workshops:</dt>
        <dd>{{ data.instructors.DC.unique }}</dd>

        <dt>Total number of learners in SWC workshops:</dt>
        <dd>{{ data.learners.SWC }}</dd>
        <dt>Total number of learners in DC workshops:</dt>
        <dd>{{ data.learners.DC }}</dd>

        <dt>Workshops with missing instructors:</dt>
        <dd>
          {% for slug in data.missing.instructors %}
            <a href="{% url 'event_details' slug %}">{{ slug }}</a>,
          {% endfor %}
        </dd>
        <dt>Workshops with missing attendance:</dt>
        <dd>
          {% for slug in data.missing.attendance %}
            <a href="{% url 'event_details' slug %}">{{ slug }}</a>,
          {% endfor %}
        </dd>
      </dl>

    {% endif %}
  </div>
</div>
{% endblock %}
