{% extends "workshops/_page_fluid.html" %}

{% load crispy_forms_tags %}
{% load pagination %}

{% block sidebar %}
    <h3>Filter</h3>
    {% crispy filter.form form_helper %}
{% endblock %}

{% block content-fluid %}
    <p><a href="{% url 'host_add' %}" class="btn btn-success">New host</a></p>
{% if all_hosts %}
    <table class="table table-striped">
        <tr>
            <th>full name</th>
            <th>domain</th>
            <th>notes</th>
            <th class="additional-links"></th>
        </tr>
    {% for host in all_hosts %}
        <tr>
            <td><a href="{% url 'host_details' host.domain %}">{{ host.fullname }}</a></td>
            <td><a href="http://{{ host.domain }}">{{ host.domain }}</a></td>
            <td>{{ host.notes|truncatechars:40 }}</td>
            <td>
                <a href="{% url 'host_details' host.domain %}" title="View {{ host.fullname }}"><span class="glyphicon glyphicon-info-sign"></span></a>
                &nbsp;
                <a href="{% url 'host_edit' host.domain %}" title="Edit {{ host.fullname }}"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    {% endfor %}
    </table>
    {% pagination all_hosts %}
    <p><a href="{% url 'host_add' %}" class="btn btn-success">New host</a></p>
{% else %}
    <p>No hosts.</p>
{% endif %}
{% endblock %}
