{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_index_all_objects award %}
    {% breadcrumb_active award %}
{% endblock %}

{% block content %}

<table class="table table-striped">
  <tr><td>person:</td><td>{{ award.person }}</td></tr>
  <tr><td>badge:</td><td>{{ award.badge }}</td></tr>
  <tr><td>awarded:</td><td>{{ award.awarded }}</td></tr>
  <tr><td>event:</td><td>{{ award.event }}</td></tr>
</table>

{% endblock %}
