{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_index_all_objects badge %}
    {% breadcrumb_active badge %}
{% endblock %}

{% block content %}
{% if all_awards %}
  <table class="table table-striped">
    <tr>
	<th>person</th>
	<th>awarded</th>
	<th>event</th>
    </tr>
    {% for a in all_awards %}
    <tr>
      <td><a href="{% url 'person_details' a.person.id %}">{{ a.person }}</a></td>
      <td>{{ a.awarded }}</td>
      <td>{{ a.event }}</td>
    </tr>
    {% endfor %}
  </table>
  <div class="pagination">
    <span class="step-links">
      {% if all_awards.has_previous %}
      <a href="?page={{ all_awards.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ all_awards.number }} of {{ all_awards.paginator.num_pages }}.
      </span>
      {% if all_awards.has_next %}
      <a href="?page={{ all_awards.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
{% else %}
  <p>No awards.</p>
{% endif %}
{% endblock %}
