{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_url 'Index' 'index'  %}
    {% breadcrumb_url 'All cohorts' 'all_cohorts' %}
    {% breadcrumb_active cohort.name  %}
{% endblock %}

{% block content %}

<table class="table table-striped">
  <tr><td>name:</td><td>{{ cohort.name }}</td></tr>
  <tr><td>start:</td><td>{{ cohort.start }}</td></tr>
  <tr><td>active:</td><td>{{ cohort.active }}</td></tr>
  <tr><td>venue:</td><td>{{ cohort.venue }}</td></tr>
  <tr><td>qualifies:</td><td>{{ cohort.qualifies }}</td></tr>
</table>

<p>Participants</p>

{% if trainees %}
    <table class="table table-striped">
        <tr>
	    <th>status</th>
	    <th>personal</th>
	    <th>middle</th>
	    <th>family</th>
	    <th>email</th>
	    <th></th>
	</tr>
    {% for t in trainees %}
        <tr>
	    <td>{{ t.status }}</td>
	    <td>{{ t.person.personal }}</td>
	    <td>{{ t.person.middle }}</td>
	    <td>{{ t.person.family }}</td>
	    <td>{{ t.person.email }}</td>
	    <td><a href="{% url 'person_details' t.person.id %}">...</a></td>
	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No persons.</p>
{% endif %}

<p class="edit-object"><a href="{% url 'cohort_edit' cohort.name %}">Edit this cohort</a></p>
{% endblock %}
