{% extends "workshops/_page_fluid_nosidebar.html" %}

{% block content-fluid %}
{% include "amy-logo.html" %}

<div class="row">
  <div class="col-xs-3">
    <h3>Current</h3>
    <table class="table table-striped">
      {% for event in upcoming_ongoing_events %}
      <tr>
        <td><a href="{{ event.get_absolute_url }}">{{ event.get_ident }}</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-xs-3">
    <h3>Uninvoiced</h3>
    <table class="table table-striped">
      {% for event in uninvoiced_events %}
      <tr>
        <td><a href="{{ event.get_absolute_url }}">{{ event.get_ident }}</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-xs-6">
    <h3>Unpublished</h3>
    <table class="table table-striped">
      <tr>
        <th>#I</th>
        <th>dates</th>
        <th>ID</th>
        <th>domain</th>
        <th>slug</th>
      </tr>
      {% for event in unpublished_events %}
      <tr>
        {% with num_instructors=event.task_set.instructors.count %}
        <td {% if num_instructors == 0 %}class="warning"{% endif %}>
          {{ num_instructors }}
        </td>
        {% endwith %}
        <td>
          {% if event.start %}✓{% endif %}
        </td>
        <td>
          <a href="{{ event.get_absolute_url }}">
            {{ event.id }}
          </a>
        </td>
        <td>
          <a href="{% url 'host_details' event.host.domain %}">
            {{ event.host }}
          </a>
        </td>
        <td {% if not event.slug %}class="warning"{% endif %}>
          {% if not event.slug %}
          —
          {% else %}
          <a href="{% url 'event_details' event.get_ident %}">
            {{ event.get_ident }}
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Recently changed</h3>
    <table class="table table-striped">
      {% for change in recently_changed %}
      <tr>
        <td>{{ change.date_created|date:'M j, P' }}</td>
        <td>{% if change.user %}{{ change.user.personal }}{%else%}Unknown user{%endif%} changed <a href="{% url 'object_changes' change.pk %}">{{ change.version_set.all|first }}</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
