{% extends "base_nav.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  <div class="col-md-6 offset-md-6 text-right">
    {% include "includes/assigned_to.html" with object=object user=user assign_url='dcselforganizedeventrequest_assign' %}
  </div>
</div>

{% include "mailing/dc_self_organized.html" %}

{% if object.active %}
<div class="clearfix">
  <p class="edit-object float-right">
    {% if perms.workshops.change_dcselforganizedeventrequest %}
    <a href="{% url 'dcselforganizedeventrequest_edit' object.pk %}" class="btn btn-primary">Edit</a>
    {% else %}
    <a href="#" class="btn btn-primary disabled">Edit</a>
    {% endif %}
  </p>
</div>
{% endif %}

{% include "includes/assignment_modal.html" with form=person_lookup_form %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $('#change_assignment').click(function() {
    $('#assignment_modal').modal();
    return false;
  });
</script>
{% endblock %}
