{% extends "base_nav.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  <div class="col-md-6 offset-md-6 text-right">
    {% include "includes/assigned_to.html" with object=object user=user assign_url='dcselforganizedeventrequest_assign' %}
  </div>
</div>

{% include "mailing/dc_self_organized.html" %}

{% include "includes/requests_bottom_action_btns.html" with object=object obj_name='request' change_permission=perms.perms.workshops.change_dcselforganizedeventrequest add_event_permission=perms.workshops.add_event accept_event_URL='dcselforganizedeventrequest_accept_event' set_state_URL='dcselforganizedeventrequest_set_state' edit_URL='dcselforganizedeventrequest_edit' %}


{% include "includes/assignment_modal.html" with form=person_lookup_form %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $('#change_assignment').click(function() {
    $('#assignment_modal').modal();
    return false;
  });
</script>
{% endblock %}
