{% extends "base_nav.html" %}

{% load assignments %}

{% block content %}
  <h3>Persons with switched names</h3>
  {% if switched_persons %}
  <ul>
    {% for person in switched_persons %}
    <li><a href="{{ person.get_absolute_url }}">{{ person }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>None.</p>
  {% endif %}

  <h3>Persons with the same names</h3>
  {% if duplicate_persons %}
  <ul>
    {% for person in duplicate_persons %}
    <li>
      <a href="{{ person.get_absolute_url }}">{{ person }}</a>
      {% if not forloop.first %}
      <a href="{% url 'persons_merge' %}?person_b={{ person.pk }}&person_a={{ prev_person_pk }}" target="_blank">(merge up)</a>
      {% endif %}
      {% assign person.pk as prev_person_pk %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>None.</p>
  {% endif %}
{% endblock %}
