{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_active title %}
{% endblock %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function() {
        $("#id_task-0-person").combobox();
    });
</script>

<form action="" method="post">
    {% csrf_token %}
    {{ event_form }}
    {% if tasks %}
    <table class="table table-striped">
    <tr>
        <th>person</th>
        <th>role</th>
        <th>actions</th>
    </tr>
    {% for t in tasks %}
    <tr>
        <td><a href="{% url 'person_details' t.person.id %}">{{ t.person }}</a></td>
        <td>{{ t.role.name }}</td>
        <td><a onclick='return confirm("Are you sure you wish to remove \"{{ t.person.get_full_name }}\" from {{ t.event.get_ident }}?")' href="{% url 'task_delete' t.id %}" class='btn btn-danger'>Delete</a></td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No tasks.</p>
    {% endif %}
    {{ task_form }}
    <br/><br/><br/>
    <input type="submit" value="Submit" />
</form>

<br/><br/>

{% endblock %}
