{% extends "workshops/_page.html" %}

{% load crispy_forms_tags %}
{% load selectable_tags %}

{% block content %}
  <button type="button" class="btn btn-default" id="update_url_button">Update from URL</button>
  {% crispy event_form %}

  <!-- Event update from URL modal -->
  <div class="modal fade" id="update_url_modal" tabindex="-1" role="dialog" aria-labelledby="update_url_modal_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="update_url_modal_label">Update event data from URL</h4>
        </div>
        <div class="modal-body">
          <form id="update_url_form">
            {% csrf_token %}
            <div class="form-group">
              <label for="event_update_url" class="control-label">Event URL:</label>
              <input type="url" id="event_update_url" name="url" required="required" class="form-control" value="{{ object.url }}" />
              <p class="help-block">Either URL to the event's website or to it's repository <code>index.html</code> will work.</p>
            </div>
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="event_update_action" value="skip" checked="checked" />
                  Skip non-empty fields.
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="event_update_action" value="overwrite" />
                  Overwrite existing values.
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" data-loading-text="Loading..." autocomplete="off">Update</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <h2 id="associated-tasks">Associated tasks</h2>
  {% crispy task_form form_helper_with_add %}
  {% if tasks %}
  <table class="table table-striped">
  <tr>
    <th>person</th>
    <th>role</th>
    <th>actions</th>
  </tr>
  {% for t in tasks %}
  <tr>
    <td><a href="{{ t.person.get_absolute_url }}">{{ t.person.get_full_name }}</a>{% if t.person.email and t.person.may_contact %} &lt;{{ t.person.email|urlize }}&gt;{% endif %}</td>
    <td>{{ t.role.name }}</td>
    <td><a onclick='return confirm("Are you sure you wish to remove \"{{ t.person.get_full_name }}\" from {{ object.get_ident }}?")' href="{% url 'task_delete' object.get_ident t.id %}" class='btn btn-danger'>Delete</a></td>
  </tr>
  {% endfor %}
  </table>
  {% else %}
  <p>No tasks.</p>
  {% endif %}

{% endblock %}

{% block extrajs %}
{{event_form.media}}
{{task_form.media}}
<script type="text/javascript">
  $('#update_url_button').click(function() {
    $('#update_url_modal').modal();
  });
  $('#update_url_form').submit(function(e) {
    e.preventDefault();

    // indicate loading data
    var btn = $(this).find('button[type=submit]');
    btn.attr('disabled', true);

    // load data from URL
    $.post("{% url 'event_import' %}", $(this).find(":input"), function(data) {
      var action = $('#update_url_form input[type=radio]:checked').val();

      $("#event_update_url").parent().removeClass('has-error');
      $('#update_url_modal').modal('hide');

      switch (action) {
        case 'overwrite':
          console.log('overwrite');
          $("#id_event-slug").val(data.slug);
          $("#id_event-start").val(data.start);
          $("#id_event-end").val(data.end);
          $("#id_event-reg_key").val(data.reg_key);
          $("#id_event-url").val(data.url);
          $("#id_event-contact").val(data.contact);
          $("#id_event-notes").val(data.notes);
          $('#id_event-venue').val(data.venue);
          $('#id_event-address').val(data.address);
          $('#id_event-country').val(data.country);
          $('#id_event-latitude').val(data.latitude);
          $('#id_event-longitude').val(data.longitude);
          break;

        case 'skip':
        default:
          console.log('skip');
          if ($("#id_event-slug").val() == "") {
            $("#id_event-slug").val(data.slug);
          }
          if ($("#id_event-start").val() == "") {
            $("#id_event-start").val(data.start);
          }
          if ($("#id_event-end").val() == "") {
            $("#id_event-end").val(data.end);
          }
          if ($("#id_event-reg_key").val() == "") {
            $("#id_event-reg_key").val(data.reg_key);
          }
          if ($("#id_event-url").val() == "") {
            $("#id_event-url").val(data.url);
          }
          if ($("#id_event-contact").val() == "") {
            $("#id_event-contact").val(data.contact);
          }
          // append notes
          var today = new Date();
          var today_str = "\nUPDATE " + today.getFullYear() + "-" + today.getMonth() + "-" + today.getDay() + ":\n";
          $("#id_event-notes").val($("#id_event-notes").val() + today_str + data.notes);
          if ($("#id_event-venue").val() == "") {
            $("#id_event-venue").val(data.venue);
          }
          if ($("#id_event-address").val() == "") {
            $("#id_event-address").val(data.address);
          }
          if ($("#id_event-country").val() == "") {
            $("#id_event-country").val(data.country);
          }
          if ($("#id_event-latitude").val() == "") {
            $("#id_event-latitude").val(data.latitude);
          }
          if ($("#id_event-longitude").val() == "") {
            $("#id_event-longitude").val(data.longitude);
          }

          break;
      }
    })
    .fail(function(data) {
      // something went wrong, let's indicate it
      $("#event_update_url").parent().addClass('has-error');
    })
    .always(function(data) {
      // let's always reenable the form's submit when the request finishes
      btn.attr('disabled', false);
    });
  });
</script>
{% endblock extrajs %}
