{% extends "base_nav.html" %}

{% load crispy_forms_tags %}
{% load links %}
{% load revisions %}
{% load tags %}

{% block content %}

{% if event.metadata_changed %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="alert-heading">Event's website updated</h4>
  <p>This event's repository was updated by the repository owner. Changes detected:</p>
  <p>{{ event.metadata_all_changes |linebreaksbr }}</p>
  <p><a class="btn btn-warning" href="{% url 'event_review_metadata_changes' event.slug %}">Review changes</a></p>
</div>
{% endif %}

{% if event.completed %}
<div class="alert alert-success" role="alert">
  <strong>Well done!</strong> This event is completed, you don't have to work on it.
</div>
{% endif %}

<div class="row">
  <div class="col-md-6">
    {% last_modified event %}
  </div>
  <div class="col-md-6 text-right">
    <p>
      <a href="#assignment_modal" id="change_assignment" data-toggle="modal" data-target="#assignment_modal"><i class="fas fa-user-cog"></i></a>
      Assignee:
      {% if event.assigned_to %}
        <a href="{{ event.assigned_to.get_absolute_url }}">{{ event.assigned_to.full_name }}</a> (<a href="{% url 'event_assign' event.slug %}" id="clear-assignment">clear</a>).
      {% else %}
        no one (<a href="{% url 'event_assign' event.slug user.pk %}" id="assign-yourself">assign yourself</a>).
      {% endif %}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {% block edit-actions %}
    <p class="edit-object pull-left">
      {% if perms.workshops.change_event %}
      <a href="{% url 'event_edit' event.slug %}" class="btn btn-primary">Edit</a>
      {% else %}
      <a href="{% url 'event_edit' event.slug %}" class="btn btn-primary disabled">Edit</a>
      {% endif %}
      <a href="#preview_modal" class="btn btn-secondary float-right" id="preview_event" data-toggle="modal" data-target="#preview_modal">Show preview</a>
    </p>
    {% endblock edit-actions %}
  </div>
</div>

{% include "workshops/event_details_table.html" with event=event %}

<!-- selecting assignment modal -->
{# this modal doesn't have 'tabindex="-1"', because this parameter breaks Select2 widget #}
<div class="modal" role="dialog" id="assignment_modal" aria-labelledby="assignment_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assignment_modal_label">Assignment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {% crispy admin_lookup_form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- preview modal -->
<div class="modal" role="dialog" id="preview_modal" tabindex="-1" aria-labelledby="preview_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="preview_modal_label">Preview on Software-Carpentry website</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div id="map_canvas" style="width: 100%; height: 500px; margin-left:auto; margin-right: auto; margin-bottom: 15px"></div>

        <h2>Future workshops</h2>
        <table class="table table-striped">
          <tr>
            <td>{% if event.country %}<img src="{{ event.country.flag }}" alt="{{ event.country }}" class="country-flag" />{% else %}—{% endif %}</td>
            <td>
            {% if event.url %}
              <a href="{{ event.url }}">{{ event.venue|default:"—" }}</a>
            {% else %}
              {{ event.venue|default:"—" }}
            {% endif %}
            </td>
            <td>{{ event.human_readable_date }}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% if event.url %}
<!-- Validation modal -->
<div class="modal" role="dialog" id="validation_modal" tabindex="-1" aria-labelledby="validation_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="validation_modal_label">Validation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- invoice modal -->
<div class="modal" role="dialog" id="invoice_modal" tabindex="-1" aria-labelledby="invoice_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invoice_modal_label">Invoice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Please contact <a href="mailto:team@carpentries.org">team@carpentries.org</a> if you need to submit an invoice. Include the following information in your email:</p>

        <ul>
          <li>Link to workshop page in AMY</li>
          <li>Purpose of invoice</li>
          <li>Amount of invoice in US Dollars</li>
          <li>Name, email, phone, and mailing address of person who should receive the invoice</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<hr>

{% if tasks %}
<h3>Tasks</h3>
{% if all_emails %}<p><a href="mailto:?bcc={{ all_emails|join:',' }}" class="btn btn-primary">Mail everyone</a></p>{% endif %}
<table class="table table-striped">
  <tr>
    <th width="25">DC?</th>
    <th width="25">SWC?</th>
    <th>Person</th>
    <th>Title</th>
    <th>URL</th>
    <th>Role</th>
  </tr>
  {% for t in tasks %}
  <tr>
    <td class="text-center">{% if t.person_is_dc_instructor %}{% bootstrap_tag "DC" %}{% endif %}</td>
    <td class="text-center">{% if t.person_is_swc_instructor %}{% bootstrap_tag "SWC" %}{% endif %}</td>
    <td><a href="{{ t.person.get_absolute_url }}">{{ t.person.full_name }}</a>{% if t.person.email and t.person.may_contact %} &lt;{{ t.person.email|urlize }}&gt;{% endif %}</td>
    <td><a href="{% url 'task_details' t.pk %}">{{ t.title|default:"—" }}</a></td>
    <td>{{ t.url|default:"—"|urlize_newtab }}</td>
    <td>{{ t.role.name }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No tasks.</p>
{% endif %}

<hr>

{% block sponsorships %}
{% with sponsorships=event.sponsorship_set.all %}
{% if sponsorships %}
<h3>Sponsors</h3>
<table class="table table-striped">
  <tr>
    <th>Organization</th>
    <th>Amount</th>
    <th>Contact</th>
  </tr>
  {% for sponsorship in sponsorships %}
  <tr>
    <td><a href="{{ sponsorship.organization.get_absolute_url }}">{{ sponsorship.organization }}</a></td>
    <td>{{ sponsorship.amount|default:"—" }}</td>
    <td>
    {% if sponsorship.contact %}
        <a href="{{ sponsorship.contact.get_absolute_url }}">{{ sponsorship.contact }}</a>
    {% else %}—{% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No sponsors.</p>
{% endif %}
{% endwith %}
{% endblock sponsorships %}

<div class="clearfix">
  <div class="edit-object float-left">
    {% if perms.workshops.change_event %}
    <a href="{% url 'event_edit' event.slug %}" class="btn btn-primary">Edit</a>
    {% else %}
    <a href="{% url 'event_edit' event.slug %}" class="btn btn-primary disabled">Edit</a>
    {% endif %}
  </div>
  <div class="delete-object float-right">
    {% if perms.workshops.change_event %}
    <form action="{% url 'event_delete' slug=event.slug %}" onsubmit='return confirm("Are you sure you wish to remove  \"{{ event }}\"?")' method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete event</button>
    </form>
    {% else %}
    <button class="btn btn-danger disabled">Delete event</button>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block extrajs %}
{{ todo_form.media }}
{{ admin_lookup_form.media }}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript">
  var gmap = null;

  $.fn.modal.Constructor.prototype.enforceFocus = function() {};

  // $('#preview_event').click(function() {
  //   $('#preview_modal').modal();
  //   return false;
  // });

  $('#invoice_btn').click(function() {
    $('#invoice_modal').modal();
    return false;
  });

  $(document).ready(function() {
    // validation modal loading
    $('#validation_modal').on('show.bs.modal', function() {
      $('#validation_modal .modal-body').load("{% url 'validate_event' event.slug %} #validation");
    });

    // $("#preview_modal").on("shown.bs.modal", function () {
    //   // required for the map to show something, otherwise (due to using modal)
    //   // we'd get grey area
    //   google.maps.event.trigger(gmap, "resize");
    // });

    // draw a pin on the map in website preview
    var mapOptions = {
      zoom: 1,
      // by trial and error, these values lets us see the most w/o scrolling
      center: {lat: 0, lng: 0},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    gmap = new google.maps.Map(document.getElementById("map_canvas"),
                               mapOptions);
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{ event.latitude }},
                                       {{ event.longitude }}),
      map: gmap,
      title: "{{ event.venue|escapejs }}: {{ event.humandate|escapejs }}",
      visible: true   // marker shown directly, not clustered
    });
  });
</script>
{% endblock %}
