{% extends "workshops/_page.html" %}

{% block content %}
{% include "workshops/eventrequest_email_html.html" %}

<div class="clearfix">
  <p class="edit-object pull-left"><a href="{% url 'eventrequest_accept' object.pk %}" class="btn btn-success">Accept</a></p>
  <p class="delete-object pull-right"><a href="{% url 'eventrequest_discard' object.pk %}" onclick='return confirm("Are you sure you wish to discard \"{{ object }}\"?")' class="btn btn-danger">Discard request</a></p>
</div>
{% endblock %}
