{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_index_all_objects event %}
    {% breadcrumb_active event %}
{% endblock %}

{% block content %}
<p class="edit-object"><a href="{% url 'event_edit' event.id %}" class="btn btn-primary">Edit</a></p>
<table class="table table-striped">
  <tr><td>published:</td><td>{{ event.published|yesno }}</td></tr>
  <tr><td>tags:</td><td>{{ event.tags.all | join:", " }}</td></tr>
  <tr><td>slug:</td><td>{{ event.slug|default:"—" }}</td></tr>
  <tr><td>url:</td><td>{% if event.url %}<a href="{{ event.url }}">{{ event.url }}</a>{% else %}—{% endif %}</td></tr>
  <tr><td>site:</td><td><a href="{% url 'site_details' event.site.domain %}">{{ event.site }}</a></td></tr>
  <tr><td>start date:</td><td>{{ event.start|default:"—" }}</td></tr>
  <tr><td>end date: </td><td>{{ event.end|default:"—" }}</td></tr>
  <tr><td>Eventbrite key:</td><td>{{ event.reg_key|default:"—" }}</td></tr>
  <tr><td>attendance:</td><td>{{ event.attendance|default_if_none:"—" }}</td></tr>
  <tr><td>admin fee:</td><td>{{ event.admin_fee|default_if_none:"—" }}</td></tr>
  <tr><td>fee paid:</td><td>{{ event.fee_paid|yesno:"yes,no,unknown" }}</td></tr>
</table>
{% if tasks %}
<table class="table table-striped">
  <tr>
    <th>person</th>
    <th>role</th>
  </tr>
  {% for t in tasks %}
  <tr>
    <td><a href="{% url 'person_details' t.person.id %}">{{ t.person }}</a></td>
    <td>{{ t.role.name }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No tasks.</p>
{% endif %}
{% if event.notes %}
<p>Notes:</p>
<pre>
{{ event.notes }}
</pre>
{% else %}
<p>No notes.</p>
{% endif %}
<div class="clearfix">
  <p class="edit-object pull-left"><a href="{% url 'event_edit' event.id %}" class="btn btn-primary">Edit</a></p>
  <p class="delete-object pull-right"><a href="{% url 'event_delete' event.id %}" onclick='return confirm("Are you sure you wish to remove \"{{ event }}\"?")' class="btn btn-danger">Delete event</a></p>
</div>

{% endblock %}
