{% extends "base_nav.html" %}

{% load crispy_forms_tags %}

{% block content %}
{% if not object.active %}
  <div class="alert alert-warning" role="alert">
    <p><strong>Warning:</strong> This submission was closed{% if object.event %} (see <a href="{{ object.event.get_absolute_url }}">related event</a>){% endif %}.</p>
  </div>
{% endif %}

<div class="row">
  <div class="col-md-6 offset-md-6 text-right">
    <p>
      <a href="#assignment_modal" id="change_assignment" data-toggle="modal" data-target="#assignment_modal"><i class="fas fa-user-cog"></i></a>
      Assignee:
      {% if object.assigned_to %}
        <a href="{{ object.assigned_to.get_absolute_url }}">{{ object.assigned_to.full_name }}</a> (<a href="{% url 'eventsubmission_assign' object.pk %}" id="clear-assignment">clear</a>).
      {% else %}
        no one (<a href="{% url 'eventsubmission_assign' object.pk user.pk %}" id="assign-yourself">assign yourself</a>).
      {% endif %}
    </p>
  </div>
</div>

{% include "mailing/event_submission.html" with object=object load=1 %}

<div class="hidden" id="loaded_data">
  <h3>Workshop data</h3>
  <table class="table table-striped">
    <tr><th>Slug:</th><td id="slug"></td></tr>
    <tr><th>Start:</th><td id="start"></td></tr>
    <tr><th>End:</th><td id="end"></td></tr>
    <tr><th>Language:</th><td id="language"></td></tr>
    <tr><th>Contact:</th><td id="contact"></td></tr>
    <tr><th>Country:</th><td id="country"></td></tr>
    <tr><th>Venue:</th><td id="venue"></td></tr>
    <tr><th>Address:</th><td id="address"></td></tr>
    <tr><th>Latitude:</th><td id="latitude"></td></tr>
    <tr><th>Longitude:</th><td id="longitude"></td></tr>
    <tr><th>Instructors:</th><td><ul id="instructors"></ul></td></tr>
    <tr><th>Helpers:</th><td><ul id="helpers"></ul></td></tr>
  </table>
</div>

{% if object.active %}
<div class="clearfix">
  <div class="edit-object float-left">
    {% if perms.workshops.change_eventsubmission and perms.workshops.add_event %}
    <a href="{% url 'eventsubmission_accept' object.pk %}" class="btn btn-success">Accept</a>
    {% else %}
    <a href="#" class="btn btn-success disabled">Accept</a>
    {% endif %}
  </div>
  <div class="btn-group delete-object float-right" role="group">
    {% if perms.workshops.change_eventsubmission %}
    <a href="{% url 'eventsubmission_fix' object.pk %}" role="button" class="btn btn-warning">Fix submission</a>
    <a href="{% url 'eventsubmission_discard' object.pk %}" onclick='return confirm("Are you sure you wish to discard \"{{ object }}\"?")' class="btn btn-danger">Discard submission</a>
    {% else %}
    <a href="#" role="button" class="btn btn-warning">Fix submission</a>
    <a href="#" class="btn btn-danger disabled">Discard submission</a>
    {% endif %}
  </div>
</div>
{% endif %}

{% include "includes/assignment_modal.html" with form=person_lookup_form %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#change_assignment').click(function() {
      $('#assignment_modal').modal();
      return false;
    });

    $('#load_event').click(function(e) {
      $.getJSON(e.target.href, function(data) {
        for (var name in data) {
          if (name == 'instructors' || name == 'helpers') {
            for (var subname in data[name]) {
              var li = $('<li>').text(data[name][subname]);
              $('#' + name).append(li);
            }
          } else {
            $('#' + name).text(data[name]);
          }
        }

        $('#loaded_data').removeClass('hidden');
      })
      return false;
    })
  });
</script>
{% endblock %}
