{% extends "workshops/_page_fluid_nosidebar.html" %}

{% load crispy_forms_tags %}
{% load selectable_tags %}

{% block content-fluid %}
<div class="row">
  <div class="col-sm-6">
    <h1>Workshop request #{{ object.pk }}</h1>
    <table class="table table-striped">
      <tbody>
        <tr><th>Person:</th>
            <td>{{ object.name }} &lt;{{ object.email|urlize }}&gt;</td></tr>
        <tr><th>Affiliation:</th>
            <td>{{ object.affiliation }}</td></tr>
        <tr><th>Location:</th>
            <td>{{ object.location }}</td></tr>
        <tr><th>Preferred date:</th>
            <td>{{ object.preferred_date }}</td></tr>
        <tr><th>Approx. number of attendees:</th>
            <td>{{ object.get_approx_attendees_display }}</td></tr>
        <tr><th>Attendees' fields:</th>
            <td>
              <ul>
                {% for domain in object.attendee_domains.all %}
                <li>{{ domain }}</li>
                {% endfor %}
                {% if object.attendee_domains_other %}
                <li>{{ object.attendee_domains_other }}</li>
                {% endif %}
              </ul>
            </td>
        </tr>
        <tr><th>Attendees' academic level:</th>
            <td>
              <ul>
                {% for level in object.attendee_academic_levels.all %}
                <li>{{ level }}</li>
                {% endfor %}
              </ul>
            </td>
        </tr>
        <tr><th>Attendees' level of computing experience:</th>
            <td>
              <ul>
                {% for level in object.attendee_computing_levels.all %}
                <li>{{ level }}</li>
                {% endfor %}
              </ul>
            </td>
        </tr>
        <tr><th>Travel and accomodation costs covered by institution:</th>
            <td>{{ object.cover_travel_accomodation|yesno }}</td></tr>
        <tr><th>Administrative fee understanding:</th>
        <td>{{ object.understand_admin_fee|yesno }}</td></tr>
        <tr><th>Administrative fee payment option:</th>
            <td>{{ object.get_admin_fee_payment_display }}</td></tr>
        <tr><th>Comment:</th>
            <td>{{ object.comment|default:"—"|linebreaks }}</td></tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    <h1>New event</h1>
    {% crispy form %}
  </div>
</div>
{% endblock %}

{% block extrajs %}
{{ form.media }}
{% endblock extrajs %}
