{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% load crispy_forms_tags %}
{% load selectable_tags %}

{% block extrastyle %}
  {% include_ui_theme %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_index_all_objects model %}
    {% if object %}
        {% breadcrumb_object object %}
        {% breadcrumb_edit_object object %}
    {% else %}
        {% breadcrumb_new_object model %}
    {% endif %}
{% endblock %}

{% block content %}
{% crispy form form_helper %}
{% endblock %}

{% block extrajs %}
{{ form.media }}
<script type="text/javascript">
$(document).ready(function(){
    $('#id_start,#id_end').datepicker();
});
</script>
{% endblock extrajs %}
