{% extends "workshops/_page.html" %}

{% load links %}

{% block content %}
<p class="edit-object"><a href="{% url 'event_edit' event.get_ident %}" class="btn btn-primary">Edit</a></p>
<table class="table table-striped">
  <tr><td>slug:</td><td colspan="2">{{ event.slug|default:"—" }}</td></tr>
  <tr><td>start date:</td><td colspan="2">{{ event.start|default:"—" }}</td></tr>
  <tr><td>end date: </td><td colspan="2">{{ event.end|default:"—" }}</td></tr>
  <tr><td>host:</td><td colspan="2"><a href="{% url 'host_details' event.host.domain %}">{{ event.host }}</a></td></tr>
  <tr><td>administrator:</td><td colspan="2">{% if event.administrator %}<a href="{{ event.administrator.get_absolute_url }}">{{ event.administrator }}</a>{% else %}—{% endif %}</td></tr>
  <tr><td>tags:</td><td colspan="2">{{ event.tags.all | join:", " }}</td></tr>
  {% format_link_to_repository event.url as repo_link %}
  {% format_link_to_website event.url as website_link %}
  <tr><td>Website URL:</td><td colspan="2">{{ website_link|default:"—"|urlize }}</td></tr>
  <tr><td>Repository URL:</td><td colspan="2">{{ repo_link|default:"—"|urlize }} {% if repo_link %}<a href="{% url 'validate_event' event.get_ident %}" class="btn btn-primary btn-xs pull-right" id="validate_event">validate event</a>{% else %}<a class="btn btn-danger btn-xs pull-right" id="error_event_url" href="#" data-toggle="popover" data-trigger="focus" title="Validation error" data-content="Cannot validate an event without URL pointing to the GitHub repository, e.g.: <code>https://github.com/swcarpentry/2015-05-24-training</code>">Error</a>{% endif %}</td></tr>
  <tr><td>Eventbrite key:</td><td colspan="2">{% if event.reg_key %}<a href="https://www.eventbrite.com/myevent?eid={{ event.reg_key }}" title="Go to Eventbrite's page for this event">{{ event.reg_key }}</a>{% else %}—{% endif %}</td></tr>
  <tr><td>admin fee:</td><td colspan="2">{{ event.admin_fee|default_if_none:"—" }}</td></tr>
  <tr><td>invoiced:</td><td colspan="2">{{ event.invoiced|yesno:"yes,no,unknown" }}</td></tr>
  <tr><td>attendance:</td><td colspan="2">{{ event.attendance|default_if_none:"—" }}</td></tr>
  <tr><td>contact:</td><td colspan="2">{{ event.contact|default_if_none:"—" }}</td></tr>
  <tr><td rowspan="4">site details:</td><td>Country:</td><td>{{ event.country|default:"—" }}</td></tr>
  <tr><td>Venue:</td><td>{{ event.venue|default:"—" }}</td></tr>
  <tr><td>Address:</td><td>{{ event.address|default:"—" }}</td></tr>
  <tr><td>Lat/long:</td><td>{{ event.latitude|default:"—" }} / {{ event.longitude|default:"—" }}</td></tr>
</table>

{% if event.url %}
<!-- Validation modal -->
<div class="modal fade" id="validation_modal" tabindex="-1" role="dialog" aria-labelledby="validation_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="validation_modal_label">Validation</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if tasks %}
<table class="table table-striped">
  <tr>
    <th>person</th>
    <th>role</th>
  </tr>
  {% for t in tasks %}
  <tr>
    <td><a href="{{ t.person.get_absolute_url }}">{{ t.person.get_full_name }}</a>{% if t.person.email and t.person.may_contact %} &lt;{{ t.person.email|urlize }}&gt;{% endif %}</td>
    <td>{{ t.role.name }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No tasks.</p>
{% endif %}
{% if event.notes %}
<p>Notes:</p>
<pre>
{{ event.notes }}
</pre>
{% else %}
<p>No notes.</p>
{% endif %}
<div class="clearfix">
  <p class="edit-object pull-left"><a href="{% url 'event_edit' event.get_ident %}" class="btn btn-primary">Edit</a></p>
  <p class="delete-object pull-right"><a href="{% url 'event_delete' event.get_ident %}" onclick='return confirm("Are you sure you wish to remove \"{{ event }}\"?")' class="btn btn-danger">Delete event</a></p>
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $('#error_event_url').popover({placement: "left", html: true});
  $('#validate_event').click(function() {
    $('#validation_modal').modal();
    return false;
  });
  $('#validation_modal').on('show.bs.modal', function() {
    $('#validation_modal .modal-body').load("{% url 'validate_event' event.get_ident %} #validation")
  });
</script>
{% endblock %}
