<table class="table table-striped">
  <tbody>
    <tr><th>Submission date:</th>
        <td>{{ object.created_at }}</td></tr>
    <tr><th>Workshop type:</th>
        <td>{{ object.get_workshop_type_display }}</td></tr>
    <tr><th>Person:</th>
        <td>{{ object.name }} &lt;{{ object.email|urlize }}&gt;</td></tr>
    <tr><th>Affiliation:</th>
        <td>{{ object.affiliation }}</td></tr>
    <tr><th>Location:</th>
        <td>{{ object.location }}</td></tr>
    <tr><th>Country:</th>
        <td>{{ object.country.name }} <img src="{{ object.country.flag }}" alt="{{ object.country }}" class="country-flag" /></td></tr>
    <tr><th>Alongside of a conference:</th>
        <td>{{ object.conference|default:"—" }}</td></tr>
    <tr><th>Preferred date:</th>
        <td>{{ object.preferred_date }}</td></tr>
    <tr><th>Approx. number of attendees:</th>
        <td>{{ object.get_approx_attendees_display }}</td></tr>
    <tr><th>Attendees' fields:</th>
        <td>
          <ul>
            {% for domain in object.attendee_domains.all %}
            <li>{{ domain }}</li>
            {% endfor %}
            {% if object.attendee_domains_other %}
            <li>{{ object.attendee_domains_other }}</li>
            {% endif %}
          </ul>
        </td>
    </tr>
    <tr><th>Attendees' academic level:</th>
        <td>
          <ul>
            {% for level in object.attendee_academic_levels.all %}
            <li>{{ level }}</li>
            {% endfor %}
          </ul>
        </td>
    </tr>
    {% if object.workshop_type == 'swc' %}
    <tr>
      <th>Attendees' level of computing experience:</th>
      <td>
        <ul>
          {% for level in object.attendee_computing_levels.all %}
          <li>{{ level }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
    {% if object.workshop_type == 'dc' %}
    <tr>
      <th>Workshop data types:</th>
      {% if object.data_types %}
      <td>{{ object.get_data_types_display }} {{object.data_types_other }}</td>
      {% else %}
      <td>{{object.data_types_other }}</td>
      {% endif %}
    </tr>
    {% endif %}
    {% if object.workshop_type == 'dc' %}
    <tr>
      <th>Attendees' level of data analysis:</th>
      <td>
        <ul>
          {% for level in object.attendee_data_analysis_level.all %}
          <li>{{ level }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
    <tr><th>Travel and accomodation costs covered by institution:</th>
        <td>{{ object.cover_travel_accomodation|yesno }}</td></tr>
    <tr><th>Administrative fee understanding:</th>
        <td>{{ object.understand_admin_fee|yesno }}</td></tr>
    {% if object.workshop_type == 'dc' %}
    <tr>
      <th>Fee waiver requested:</th>
      <td>{{ object.fee_waiver_request|yesno }}</td></tr>
    {% endif %}
    <tr>
      <th>Travel reimbursement:</th>
      {% if object.travel_reimbursement %}
      <td>{{ object.get_travel_reimbursement_display }} {{ object.travel_reimbursement_other }}</td>
      {% else %}
      <td>{{ object.travel_reimbursement_other }}</td>
      {% endif %}
    </tr>
    {% if object.workshop_type == 'swc' %}
    <tr>
      <th>Administrative fee payment option:</th>
      <td>{{ object.get_admin_fee_payment_display }}</td>
    </tr>
    {% endif %}
    <tr><th>Comment:</th>
        <td>{{ object.comment|default:"—"|linebreaks }}</td></tr>
  </tbody>
</table>

{% if link %}
<p>You can view the request here:
<a href="{{ link_domain }}{{ link }}">{{ link_domain }}{{ link }}</a>
</p>
{% endif %}
