{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_url 'Amy' 'index'  %}
    {% breadcrumb_url 'All events' 'all_events' %}
    {% if object %}
        {% url 'event_details' object.id as object_url %}
        {% breadcrumb object.id object_url %}
        {% breadcrumb_active 'Edit event'  %}
    {% else %}
        {% breadcrumb_active 'New cohort'  %}
    {% endif %}
{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}
