{% extends "base_nav_fixed.html" %}

{% block content %}

  <p>These changes were made by third party to the event's website and/or repository.</p>

  <table class="table table-striped">
    <tr>
      <th></th>
      <th>Current</th>
      <th>On event's website</th>
    </tr>
    <tr>
      <th>Instructors</th>
      <td>{% for t in event.task_set.instructors %}{{ t.person.full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
      <td>{{ metadata.instructors|join:', ' }}</td>
    </tr>
    <tr>
      <th>Helpers</th>
      <td>{% for t in event.task_set.helpers %}{{ t.person.full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
      <td>{{ metadata.helpers|join:', ' }}</td>
    </tr>
    <tr>
      <th>Contact</th>
      <td>{{ event.contact }}</td>
      <td>{{ metadata.contact }}</td>
    </tr>
    <tr>
      <th>Start date</th>
      <td>{{ event.start }}</td>
      <td>{{ metadata.start }}</td>
    </tr>
    <tr>
      <th>End date</th>
      <td>{{ event.end }}</td>
      <td>{{ metadata.end }}</td>
    </tr>
    <tr>
      <th>Country</th>
      <td>{{ event.country }}</td>
      <td>{{ metadata.country }}</td>
    </tr>
    <tr>
      <th>Venue</th>
      <td>{{ event.venue }}</td>
      <td>{{ metadata.venue }}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>{{ event.address }}</td>
      <td>{{ metadata.address }}</td>
    </tr>
    <tr>
      <th>Latitude</th>
      <td>{{ event.latitude }}</td>
      <td>{{ metadata.latitude }}</td>
    </tr>
    <tr>
      <th>Longitude</th>
      <td>{{ event.longitude }}</td>
      <td>{{ metadata.longitude }}</td>
    </tr>
    <tr>
      <th>Eventbrite key</th>
      <td>{{ event.reg_key }}</td>
      <td>{{ metadata.reg_key }}</td>
    </tr>
  </table>

  <p>
    {% if perms.workshops.change_event %}
    <a href="{% url 'event_accept_metadata_changes' event.slug %}" class="btn btn-success" onclick='return confirm("Do you really want to update saved values? Note: instructors and helpers cannot be updated this way, they have to be updated manually.")'>Update changes</a>
    <a href="{% url 'event_dismiss_metadata_changes' event.slug %}" class="btn btn-default">Dismiss</a>
    {% else %}
    <a href="#" class="btn btn-success">Update changes</a>
    <a href="#" class="btn btn-default">Dismiss</a>
    {% endif %}
  </p>

{% endblock %}
