{% extends "base_nav_fixed.html" %}

{% load crispy_forms_tags %}
{% load selectable_tags %}
{% load links %}

{% block content %}
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#event" aria-controls="event" role="tab" data-toggle="tab">Event</a></li>
    <li role="presentation"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">Tasks</a></li>
    <li role="presentation"><a href="#sponsors" aria-controls="sponsors" role="tab" data-toggle="tab">Sponsors</a></li>
  </ul>
</div>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="event">
    <div class="container">
      <button type="button" class="btn btn-default" id="update_url_button">Update from URL</button>
      {% crispy event_form %}
      {% include "workshops/event_import_update_from_url.html" with update=True %}
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="tasks">
    {% crispy task_form form_helper_with_add %}
    {% if tasks %}
    <table class="table table-striped">
    <tr>
      <th>person</th>
      <th>title</th>
      <th>url</th>
      <th>role</th>
      <th>actions</th>
    </tr>
    {% for t in tasks %}
    <tr>
      <td><a href="{{ t.person.get_absolute_url }}">{{ t.person.get_full_name }}</a>{% if t.person.email and t.person.may_contact %} &lt;{{ t.person.email|urlize }}&gt;{% endif %}</td>
      <td><a href="{% url 'task_details' t.pk %}">{{ t.title|default:"—" }}</a></td>
      <td>{{ t.url|default:"—"|urlize_newtab }}</td>
      <td>{{ t.role.name }}</td>
      <td><a onclick='return confirm("Are you sure you wish to remove \"{{ t.person.get_full_name }}\" from {{ object.slug }}?")' href="{% url 'task_delete' object.slug t.id %}" class='btn btn-danger'>Delete</a></td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No tasks.</p>
    {% endif %}
  </div>
  <div role="tabpanel" class="tab-pane" id="sponsors">
    {% crispy sponsor_form form_helper_with_add %}
    {% if object.sponsorship_set.all %}
    <table class="table table-striped">
    <tr>
      <th>organization</th>
      <th>amount</th>
      <th>contact</th>
      <th>actions</th>
    </tr>
    {% for sponsorship in object.sponsorship_set.all %}
    <tr>
      <td><a href="{{ sponsorship.organization.get_absolute_url }}">{{ sponsorship.organization }}</a></td>
      <td>{{ sponsorship.amount|default:"—" }}</td>
      <td>
      {% if sponsorship.contact %}
        <a href="{{ sponsorship.contact.get_absolute_url }}">{{ sponsorship.contact }}</a>
      {% else %}—{% endif %}
      </td>
      <td>
        <form action="{% url 'sponsorship_delete' pk=sponsorship.id %}" onsubmit='return confirm("Are you sure you wish to remove \"{{ sponsorship }}\" from {{ object }}?")' method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No sponsors.</p>
    {% endif %}
  </div>
{% endblock %}

{% block extrajs %}
{{ event_form.media }}
{{ task_form.media }}
{{ sponsor_form.media }}
<script type="text/javascript">
  $('.nav-tabs').stickyTabs();
</script>
{% endblock extrajs %}
