{% extends "base_nav.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  <div class="col-md-6 offset-md-6 text-right">
    {% include "includes/assigned_to.html" with object=object user=user assign_url='eventrequest_assign' %}
  </div>
</div>

{% include "mailing/eventrequest.html" %}

{% if object.active %}
<div class="clearfix">
  <p class="edit-object float-left">
    {% if perms.workshops.change_eventrequest and perms.workshops.add_event %}
    <a href="{% url 'eventrequest_accept' object.pk %}" class="btn btn-success">Accept</a>
    {% else %}
    <a href="#" class="btn btn-success disabled">Accept</a>
    {% endif %}
  </p>
  <p class="delete-object float-right">
    {% if perms.workshops.change_eventrequest %}
    <a href="{% url 'eventrequest_discard' object.pk %}" onclick='return confirm("Are you sure you wish to discard \"{{ object }}\"?")' class="btn btn-danger">Discard request</a>
    {% else %}
    <a href="#" class="btn btn-danger disabled">Discard request</a>
    {% endif %}
  </p>
</div>
{% endif %}

{% include "includes/assignment_modal.html" with form=person_lookup_form %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $('#change_assignment').click(function() {
    $('#assignment_modal').modal();
    return false;
  });
</script>
{% endblock %}
