{% extends "base_nav.html" %}

{% block content %}
<h3>Group by badge name</h3>
<a href="{{ badges_api_link }}">API link.</a>
<p>
  <a href="{{ badges_json_link }}" class="btn btn-primary btn-lg">Download JSON</a>
  <a href="{{ badges_yaml_link }}" class="btn btn-primary btn-lg">Download YAML</a>
</p>

<h3>Group by person</h3>
<a href="{{ by_person_api_link }}">API link.</a>
<p>
  <a href="{{ by_person_json_link }}" class="btn btn-primary btn-lg">Download JSON</a>
  <a href="{{ by_person_yaml_link }}" class="btn btn-primary btn-lg">Download YAML</a>
</p>
{% endblock %}
