{% extends "base_nav_fixed.html" %}

{% load links %}
{% load revisions %}

{% block content %}
{% last_modified host %}

<p class="edit-object">
  {% if perms.workshops.change_host %}
  <a href="{% url 'host_edit' host.domain %}" class="btn btn-primary">Edit</a>
  {% else %}
  <a href="{% url 'host_edit' host.domain %}" class="btn btn-primary disabled">Edit</a>
  {% endif %}
</p>
<table class="table table-striped">
  <tr><td>full name:</td><td>{{ host.fullname }}</td></tr>
  <tr><td>domain:</td><td><a href="http://{{ host.domain }}" target="_blank">{{ host.domain }}</a></td></tr>
  <tr><td>country:</td><td>{{ host.country.name|default:"—" }} <img src="{{ host.country.flag }}" alt="{{ host.country }}" class="country-flag" /></td></tr>
</table>

{% if host.notes %}
<p>Notes:</p>
<pre>
{{ host.notes }}
</pre>
{% else %}
<p>No notes.</p>
{% endif %}

{% if events %}
<table class="table table-striped">
  <tr>
    <th>tags</th>
    <th>start date</th>
    <th>end date</th>
    <th>slug</th>
    <th>url</th>
  </tr>
  {% for e in events %}
  <tr>
    <td>{{ e.tags.all | join:", " }}</td>
    <td>{{ e.start }}</td>
    <td>{{ e.end }}</td>
    <td><a href="{% url 'event_details' e.get_ident %}">{{ e.get_ident }}</a></td>
    <td>{{ e.url|urlize_newtab }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No events.</p>
{% endif %}

<div class="clearfix">
  <p class="edit-object pull-left">
    {% if perms.workshops.change_host %}
    <a href="{% url 'host_edit' host.domain %}" class="btn btn-primary">Edit</a>
    {% else %}
    <a href="{% url 'host_edit' host.domain %}" class="btn btn-primary disabled">Edit</a>
    {% endif %}
  </p>
  <p class="delete-object pull-right">
    {% if perms.workshops.delete_host %}
    <a href="{% url 'host_delete' host.domain %}" onclick='return confirm("Are you sure you wish to remove \"{{ host }}\"?")' class="btn btn-danger">Delete host</a>
    {% else %}
    <a href="{% url 'host_delete' host.domain %}" class="btn btn-danger disabled">Delete host</a>
    {% endif %}
  </p>
</div>

<h3>Memberships</h3>
{% if host.membership_set.all %}
<table class="table table-striped">
  <tr>
    <th>Variant</th>
    <th>Agreement start</th>
    <th>Agreement end</th>
    <th>Contribution type</th>
    <th colspan="3">Workshops w/o admin fee <a href="#" data-toggle="tooltip" title="Per year, counted for year of agreement start">[?]</a></th>
    <th colspan="3">Self-organized workshops <a href="#" data-toggle="tooltip" title="Per year, counted for year of agreement start">[?]</a></th>
    <th class="additional-links"></th>
  </tr>
  <tr>
    <th></th><th></th><th></th><th></th>
    <th><small>Imposed</small></th><th><small>Completed</small></th><th><small>Remaining</small></th>
    <th><small>Imposed</small></th><th><small>Completed</small></th><th><small>Remaining</small></th>
    <th></th>
  </tr>
  {% for membership in host.membership_set.all %}
  <tr>
    <td>{{ membership.get_variant_display }}</td>
    <td>{{ membership.agreement_start }}</td>
    <td>{{ membership.agreement_end }}</td>
    <td>{{ membership.get_contribution_type_display }}</td>
    <td>{{ membership.workshops_without_admin_fee_per_year }}</td>
    <td>{{ membership.workshops_without_admin_fee_per_year_completed }}</td>
    <td>{{ membership.workshops_without_admin_fee_per_year_remaining }}</td>
    <td>{{ membership.self_organized_workshops_per_year }}</td>
    <td>{{ membership.self_organized_workshops_per_year_completed }}</td>
    <td>{{ membership.self_organized_workshops_per_year_remaining }}</td>
    <td>
      {% if perms.workshops.edit_membership %}
      <a href="{% url 'membership_edit' membership.pk %}" title="Edit {{ membership }}"><span class="glyphicon glyphicon-pencil"></span></a>
      {% endif %}
      &nbsp;
      {% if perms.workshops.delete_membership %}
      <a href="{% url 'membership_delete' membership.pk %}" title="View {{ membership }}" onclick='return confirm("Are you sure you wish to remove \"{{ membership }}\"?")'><span class="glyphicon glyphicon-remove"></span></a>
      {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No memberships for this host.</p>
{% endif %}
{% if perms.workshops.add_membership and perms.workshops.change_host %}
<a href="{% url 'membership_add' host.domain %}" class="btn btn-default">Add a membership</a>
{% else %}
<a href="#" class="btn btn-default disabled">Add a membership</a>
{% endif %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
