{% extends "workshops/_page.html" %}
{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_active 'Amy'  %}
{% endblock %}

{% block content %}
{% include "amy-logo.html" %}

<div class="row">
  <div class="col-xs-4">
    <h3>Upcoming events</h3>
    <table class="table table-striped">
    {% for event in upcoming_events %}
    <tr>
      <td><a href="{{ event.get_absolute_url }}">{{ event.slug }}</a></td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <div class="col-xs-4">
    <h3>Unpublished events</h3>
    <table class="table table-striped">
    {% for event in unpublished_events %}
    <tr>
      <td>
        <a href="{{ event.get_absolute_url }}">
          {{ event.id }}
          {% if event.site %}@ {{ event.site.domain }}{% endif %}
          {% if event.slug %}: {{ event.slug }}{% endif %}
        </a>
      </td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <div class="col-sx-4">
    <h3>Unpaid events</h3>
    <table class="table table-striped">
    {% for event in unpaid_events %}
    <tr>
      <td><a href="{{ event.get_absolute_url }}">{{ event.slug }}</a></td>
    </tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
