{% extends "workshops/_page.html" %}
{% load static %}
{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_active 'Amy'  %}
{% endblock %}

{% block content %}
<table>
  <tr>
    <td valign="center">
      <img src="{% static 'amy-logo.png' %}" alt="Amy Logo" />
    </td>
    <td valign="center">
      because setting up a workshop
      <br/>
      shouldn't have to hurt
    </td>
  </tr>
</table>

<div class="row">
  <div class="col-xs-6">
    <h3>Upcoming events</h3>
    <table class="table table-striped">
    {% for event in upcoming_events %}
    <tr>
      <td><a href="{{ event.get_absolute_url }}">{{ event.slug }}</a></td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <div class="col-xs-6">
    <h3>Unpublished events</h3>
    <table class="table table-striped">
    {% for event in unpublished_events %}
    <tr>
      <td>
        <a href="{{ event.get_absolute_url }}">
          {{ event.id }}
          {% if event.site %}@ {{ event.site.domain }}{% endif %}
          {% if event.slug %}: {{ event.slug }}{% endif %}
        </a>
      </td>
    </tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
