{% extends "workshops/_page.html" %}
{% block content %}
<ul>
  <li><a href="{% url 'all_sites' %}">sites</a></li>
  <li><a href="{% url 'all_events' %}">events</a></li>
  <li><a href="{% url 'all_persons' %}">persons</a></li>
  <li><a href="{% url 'all_cohorts' %}">cohorts</a></li>
</ul>

<div class="upcoming-events">
    <h3>Upcoming Events:</h3>
    <ul class="event-list">
        {% for event in upcoming_events %}
        <li><a href="{{ event.get_absolute_url }}">{{ event.slug }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
