{% extends "workshops/_page_fluid.html" %}

{% load crispy_forms_tags %}
{% load pagination %}

{% block sidebar %}
  <h3>Filter</h3>
  {% crispy form %}
{% endblock %}

{% block content-fluid %}
  {% if persons %}
    <table class="table table-striped">
      <tr>
        <th>person</th>
        <th>taught</th>
        <th>airport</th>
        <th style="width: 150px">country</th>
        <th>lessons</th>
        <th>affiliation</th>
      </tr>
    {% for p in persons %}
      <tr>
        <td><a href="{{ p.get_absolute_url }}">{{ p.get_full_name }}</a>{% if p.email and p.may_contact %} &lt;{{ p.email|urlize }}&gt;{% endif %}</td>
        <td>{{ p.num_taught }}</td>
        <td>{% if p.airport %}<a href="{{ p.airport.get_absolute_url }}">{{ p.airport }}</a>{% else %}—{% endif %}</td>
        <td>{% if p.airport %}{{ p.airport.country.name }}{% else %}—{% endif %}</td>
        <td>
        {% for lesson in p.lessons.all %}
          {% if lesson in lessons %}<strong>{{ lesson }}</strong>{% else %}{{ lesson }}{% endif %}{% if not forloop.last%}, {% endif %}
        {% endfor %}
        </td>
        <td>{{ p.affiliation|default:"—" }}</td>
      </tr>
    {% endfor %}
    </table>
    {% pagination persons %}
  {% else %}
    <p>No matches.</p>
  {% endif %}
{% endblock %}

{% block extrajs %}
{{ form.media }}
{% endblock extrajs %}
