{% extends "base_nav_fixed.html" %}

{% block content %}
<p>
  <a href="{{ api_endpoint }}">API link</a>.
</p>
<pre id="source"></pre>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    $(document).ready(function() {
      $.getJSON('{{ api_endpoint }}?format=json', function(data) {
        var items = [];
        $.each(data, function(record, value) {
            items.push(value.person + ": " + value.num_taught);
        });
        $('#source').text(items.join("\n"));
      }, "html");
    });
  </script>
{% endblock %}
