{% extends "base_nav_fixed.html" %}

{% load crispy_forms_tags %}

{% block content %}
{% crispy form %}

{% if all_tasks %}
<h3>Events happening between {{ start_date }} and {{ end_date }}</h3>
    <table class="table table-striped">
    <tr>
        <th>event</th>
        <th>instructor</th>
        <td></td>
    </tr>
    {% for task in all_tasks %}
    <tr>
        <td><a href="{{ task.event.get_absolute_url }}">{{ task.event }}</a></td>
        <td><a href="{{ task.person.get_absolute_url }}">{{ task.person.get_full_name }}</a>{% if task.person.email and task.person.may_contact %} &lt;{{ task.person.email|urlize }}&gt;{% endif %} (taught {{ task.person.task_set.instructors.count }} times)</a></td>
        <td><a href="{% url 'task_details' task.id %}">...</a></td>
    </tr>
    {% endfor %}
    </table>
    <p><a href="{% url 'api:reports-instructors-by-time' %}?start={{ start_date|date:'Y-m-d' }}&amp;end={{ end_date|date:'Y-m-d' }}&amp;format=csv">Download as CSV</a></p>
    {% if emails %}<p><a class="btn btn-primary" href="mailto:?bcc={{ emails|join:',' }}">Send email</a></p>{% endif %}
{% else %}
    <p>No instructors for debrief section.</p>
{% endif %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_begin_date, #id_end_date").datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true
        });
    });
</script>
{% endblock %}
