{% extends "base_nav.html" %}

{% block content %}
<h2>Instructor Locations</h2>
{% if instructors %}
<p>Legend:</p>
<ul>
<li><i class="fas fa-envelope"></i> &mdash; mail instructor about problem</li>
<li><i class="fas fa-times"></i> &mdash; no email address available</li>
</ul>
<table class="table table-striped">
  <tr>
    <th>Instructor</th>
    <th>Location <i class="fas fa-question-circle" data-toggle="tooltip" title="Nearest airport is missing"></i></th>
  </tr>
  {% for person in instructors %}
  <tr>
    <td><a href="{% url 'person_details' person.id %}">{{ person.full_name }}</a></td>
    <td>
      {% if person.email %}
      <a href="mailto:{{person.email}}?subject={% filter urlencode %}Missing location information{% endfilter %}&body={% filter urlencode %}Hi,

We are trying to update the Software and Data Carpentry instructor database - can you please fill in https://amy.software-carpentry.org/workshops/update_profile/ to let us know where you are so that we can match you with workshops?

Thanks for your help.{% endfilter %}">
        <i class="fas fa-envelope"></i>
      </a>
      {% else %}
      <i class="fas fa-times"></i>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>None</p>
{% endif %}

<h2>Incomplete Trainees</h2>
{% if pending %}
  <p><i class="fas fa-envelope"></i> = mail person about problem</p>
  <p><i class="fas fa-times"></i> = no email address available</p>
  <table class="table table-striped">
    <tr>
      <th>Person</th>
      <th>Training(s) <i class="fas fa-question-circle" data-toggle="tooltip" title="Instructor Training(s) not finished"></i></th>
      <th>Email</th>
    </tr>
    {% regroup pending by person as trainings %}
    {% for person_training in trainings %}
    <tr>
      <td><a href="{% url 'person_details' person_training.grouper.id %}">{{ person_training.grouper.full_name }}</a></td>
      <td>
        {% for e in person_training.list %}
          <a href="{% url 'event_details' e.event.slug %}">{{ e.event }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>
        {% if person_training.grouper.email %}
        <a href="mailto:{{person_training.grouper.email}}?subject={% filter urlencode %}Finishing instructor training{% endfilter %}&body={% filter urlencode %}Hi,

  Can you please let us know if you intend to wrap up instructor training?  We'd still like to have you on the team.

  Thanks!{% endfilter %}">
          <i class="fas fa-envelope"></i>
        </a>
        {% else %}
        <i class="fas fa-times"></i>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p>None.</p>
{% endif %}

<h2>Stalled Trainees</h2>
{% if stalled %}
  <table class="table table-striped">
    <tr>
      <th>Person</th>
      <th>Training(s) <i class="fas fa-question-circle" data-toggle="tooltip" title="Instructor Training(s) not finished and marked as stalled"></i></th>
    </tr>
    {% regroup stalled by person as trainings %}
    {% for person_training in trainings %}
    <tr>
      <td><a href="{% url 'person_details' person_training.grouper.id %}">{{ person_training.grouper.full_name }}</a></td>
      <td>
        {% for e in person_training.list %}
          <a href="{% url 'event_details' e.event.slug %}">{{ e.event }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p>None.</p>
{% endif %}

{% endblock %}
