{% extends "base_nav_fluid_sidebar.html" %}

{% load crispy_forms_tags %}
{% load pagination %}
{% load tags %}

{% block sidebar %}
  <h3>Filter</h3>
  {% crispy form %}
{% endblock %}

{% block content %}
  {% if persons %}
    <table class="table table-striped">
      <tr>
	<th>DC?</th>
	<th>SWC?</th>
        <th>person</th>
        <th>taught</th>
        <th>airport</th>
        <th>country</th>
        <th>lessons</th>
        <th>affiliation</th>
      </tr>
    {% for p in persons %}
      <tr>
	<td class="text-center">{% if p.pk in dc_instructors %}{% bootstrap_tag "DC" %}{% endif %}</td>
	<td class="text-center">{% if p.pk in swc_instructors %}{% bootstrap_tag "SWC" %}{% endif %}</td>
        <td><a href="{{ p.get_absolute_url }}">{{ p.get_full_name }}</a>{% if p.email and p.may_contact %} &lt;{{ p.email|urlize }}&gt;{% endif %}</td>
        <td>{{ p.num_taught }}</td>
        <td>{% if p.airport %}<a href="{{ p.airport.get_absolute_url }}">{{ p.airport }}</a>{% else %}—{% endif %}</td>
        <td>{% if p.airport %}{{ p.airport.country.name }}{% else %}—{% endif %}</td>
        <td>
        {% for lesson in p.lessons.all %}
          {% if lesson in lessons %}<strong>{{ lesson }}</strong>{% else %}{{ lesson }}{% endif %}{% if not forloop.last%}, {% endif %}
        {% endfor %}
        </td>
        <td>{{ p.affiliation|default:"—" }}</td>
      </tr>
    {% endfor %}
    </table>
    {% pagination persons %}
  {% else %}
    <p>No matches.</p>
  {% endif %}
{% endblock %}

{% block extrajs %}
{{ form.media }}
{% endblock extrajs %}
