{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_active title %}
{% endblock %}

{% block content %}
<form action="{% url 'instructors' %}" method="post">
    {% csrf_token %}
    <table class="table table-striped">
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
</form>
{% if persons == None %}
{% elif persons %}
    <table class="table table-striped">
        <tr>
	    <th>taught</th>
	    <th>airport</th>
	    <th>personal</th>
	    <th>middle</th>
	    <th>family</th>
	    <th>email</th>
	    <th></th>
	</tr>
    {% for p in persons %}
        <tr class="instructor_row" id="instructor_{{forloop.counter0}}">
	    <td id="instructor_num_taught_{{forloop.counter0}}">{{ p.num_taught }}</td>
	    <td id="instructor_airport_{{forloop.counter0}}"><a href="{% url 'airport_details' p.airport.iata %}">{{ p.airport }}</a></td>
	    <td id="instructor_personal_{{forloop.counter0}}">{{ p.personal }}</td>
	    <td>{{ p.middle }}</td>
	    <td id="instructor_family_{{forloop.counter0}}">{{ p.family }}</td>
	    <td id="instructor_email_{{forloop.counter0}}">{{ p.email }}</td>
	    <td><a href="{% url 'person_details' p.id %}">...</a></td>
	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No matches.</p>
{% endif %}
{% endblock %}
