{% load revisions %}
{% last_modified membership %}
<table class="table table-striped">
  <tr>
    <th>variant:</th>
    <td colspan="3">{{ membership.get_variant_display }}</td></tr>
  <tr>
    <th>start of agreement:</th>
    <td colspan="3">{{ membership.agreement_start }}</td></tr>
  <tr>
    <th>end of agreement:</th>
    <td colspan="3">{{ membership.agreement_end }}</td></tr>
  <tr>
    <th>contribution type:</th>
    <td colspan="3">{{ membership.get_contribution_type_display|default:"—" }}</td></tr>
  <tr>
    <td></td>
    <th>Imposed</th>
    <th>Completed</th>
    <th>Remaining</th></tr>
  <tr>
    <th>workshops w/o admin fee per year:</th>
    <td>{{ membership.workshops_without_admin_fee_per_year }}</td>
    <td>{{ membership.workshops_without_admin_fee_per_year_completed }}</td>
    <td>{{ membership.workshops_without_admin_fee_per_year_remaining }}</td></tr>
  <tr>
    <th>self organized workshops per year:</th>
    <td>{{ membership.self_organized_workshops_per_year }}</td>
    <td>{{ membership.self_organized_workshops_per_year_completed }}</td>
    <td>{{ membership.self_organized_workshops_per_year_remaining }}</td></tr>
</table>

{% if membership.notes %}
<p>Notes:</p>
<pre>
{{ membership.notes }}
</pre>
{% else %}
<p>No notes.</p>
{% endif %}
