{% extends "base_nav_fixed.html" %}

{% load links %}
{% load revisions %}

{% block content %}
{% last_modified membership %}

<p class="edit-object">
  {% if perms.workshops.change_membership %}
  <a href="{% url 'membership_edit' membership.id %}" class="btn btn-primary">Edit</a>
  {% else %}
  <a href="{% url 'membership_edit' membership.id %}" class="btn btn-primary disabled">Edit</a>
  {% endif %}
</p>
<table class="table table-striped">
  <tr><td colspan="2">organization:</td>
      <td><a href="{% url 'organization_details' membership.organization.domain %}">{{ membership.organization.fullname }}</a><br />
          &lt;{{ membership.organization.domain|urlize }}&gt;</td></tr>
  <tr><td colspan="2">variant:</td><td>{{ membership.variant }}</td></tr>
  <tr><td colspan="2">start date:</td><td>{{ membership.agreement_start }}</td></tr>
  <tr><td colspan="2">end date:</td><td>{{ membership.agreement_end }}</td></tr>
  <tr><td colspan="2">contribution type:</td><td>{{ membership.contribution_type }}</td></tr>
  <tr>
    <td rowspan="3" width="30%">workshops without fee per year:</td>
    <td>Allowed</td>
    <td>{{ membership.workshops_without_admin_fee_per_year|default:"—" }}</td>
  </tr>
  <tr>
    <td>Completed</td>
    <td>{{ membership.workshops_without_admin_fee_per_year_completed|default:"—" }}</td>
  </tr>
  <tr>
    <td>Remaining</td>
    <td>{{ membership.workshops_without_admin_fee_per_year_remaining|default:"—" }}</td>
  </tr>
  <tr>
    <td rowspan="3">self-organized workshops per year:</td>
    <td>Expected</td>
    <td>{{ membership.self_organized_workshops_per_year|default:"—" }}</td>
  </tr>
  <tr>
    <td>Completed</td>
    <td>{{ membership.self_organized_workshops_per_year_completed|default:"—" }}</td>
  </tr>
  <tr>
    <td>Remaining</td>
    <td>{{ membership.self_organized_workshops_per_year_remaining|default:"—" }}</td>
  </tr>
</table>

{% if organization.notes %}
<p>Notes:</p>
<pre>
{{ organization.notes }}
</pre>
{% else %}
<p>No notes.</p>
{% endif %}

<div class="clearfix">
  <p class="edit-object pull-left">
    {% if perms.workshops.change_membership %}
    <a href="{% url 'membership_edit' membership.id %}" class="btn btn-primary">Edit</a>
    {% else %}
    <a href="{% url 'membership_edit' membership.id %}" class="btn btn-primary disabled">Edit</a>
    {% endif %}
  </p>
  <div class="delete-object pull-right">
    {% if perms.workshops.delete_membership %}
    <form action="{% url 'membership_delete' membership.id %}" onsubmit='return confirm("Are you sure you wish to remove  \"{{ membership }}\"?")' method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete membership</button>
    </form>
    {% else %}
    <button class="btn btn-danger disabled">Delete membership</button>
    {% endif %}
  </div>
</div>
{% endblock %}
