{% extends "base_nav_fixed.html" %}

{% load links %}
{% load revisions %}

{% block content %}
{% last_modified organization %}

<p class="edit-object">
  {% if perms.workshops.change_organization %}
  <a href="{% url 'organization_edit' organization.domain %}" class="btn btn-primary">Edit</a>
  {% else %}
  <a href="{% url 'organization_edit' organization.domain %}" class="btn btn-primary disabled">Edit</a>
  {% endif %}
</p>
<table class="table table-striped">
  <tr><td>full name:</td><td>{{ organization.fullname }}</td></tr>
  <tr><td>domain:</td><td><a href="http://{{ organization.domain }}" target="_blank">{{ organization.domain }}</a></td></tr>
  <tr><td>country:</td><td>{{ organization.country.name|default:"—" }} <img src="{{ organization.country.flag }}" alt="{{ organization.country }}" class="country-flag" /></td></tr>
</table>

{% if organization.notes %}
<p>Notes:</p>
<pre>
{{ organization.notes }}
</pre>
{% else %}
<p>No notes.</p>
{% endif %}

{% if events %}
<table class="table table-striped">
  <tr>
    <th>tags</th>
    <th>start date</th>
    <th>end date</th>
    <th>slug</th>
    <th>url</th>
  </tr>
  {% for e in events %}
  <tr>
    <td>{{ e.tags.all | join:", " }}</td>
    <td>{{ e.start }}</td>
    <td>{{ e.end }}</td>
    <td><a href="{% url 'event_details' e.slug %}">{{ e.slug }}</a></td>
    <td>{{ e.url|urlize_newtab }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No events.</p>
{% endif %}

<div class="clearfix">
  <p class="edit-object pull-left">
    {% if perms.workshops.change_organization %}
    <a href="{% url 'organization_edit' organization.domain %}" class="btn btn-primary">Edit</a>
    {% else %}
    <a href="{% url 'organization_edit' organization.domain %}" class="btn btn-primary disabled">Edit</a>
    {% endif %}
  </p>
  <div class="delete-object pull-right">
    {% if perms.workshops.delete_organization %}
    <form action="{% url 'organization_delete' organization.domain %}" onsubmit='return confirm("Are you sure you wish to remove  \"{{ organization }}\"?")' method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete organization</button>
    </form>
    {% else %}
    <button class="btn btn-danger disabled">Delete organization</button>
    {% endif %}
  </div>
</div>

<h3>Memberships</h3>
{% if organization.membership_set.all %}
<table class="table table-striped">
  <tr>
    <th>Variant</th>
    <th>Agreement start</th>
    <th>Agreement end</th>
    <th>Contribution type</th>
    <th colspan="3">Workshops w/o admin fee <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Per year, counted for year of agreement start"></span></th>
    <th colspan="3">Self-organized workshops <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Per year, counted for year of agreement start"></span></th>
    <th class="additional-links"></th>
  </tr>
  <tr>
    <th></th><th></th><th></th><th></th>
    <th><small>Imposed</small></th><th><small>Completed</small></th><th><small>Remaining</small></th>
    <th><small>Imposed</small></th><th><small>Completed</small></th><th><small>Remaining</small></th>
    <th></th>
  </tr>
  {% for membership in organization.membership_set.all %}
  <tr>
    <td>{{ membership.get_variant_display }}</td>
    <td>{{ membership.agreement_start }}</td>
    <td>{{ membership.agreement_end }}</td>
    <td>{{ membership.get_contribution_type_display }}</td>
    <td>{{ membership.workshops_without_admin_fee_per_year|default:"—" }}</td>
    <td>{{ membership.workshops_without_admin_fee_per_year_completed|default:"—" }}</td>
    <td>{{ membership.workshops_without_admin_fee_per_year_remaining|default:"—" }}</td>
    <td>{{ membership.self_organized_workshops_per_year|default:"—" }}</td>
    <td>{{ membership.self_organized_workshops_per_year_completed|default:"—" }}</td>
    <td>{{ membership.self_organized_workshops_per_year_remaining|default:"—" }}</td>
    <td>
      {% comment %}
      Include the other glyphicon within the form as a way of stacking them together horizontally.
      Else, the form tag is rendered below the other glyphicon.
      {% endcomment %}
      <form action="{% url 'membership_delete' membership.pk %}" onsubmit='return confirm("Are you sure you wish to remove \"{{ membership }}\"?")' method="POST">
        {% csrf_token %}
        {% if perms.workshops.edit_membership %}
        <a href="{% url 'membership_edit' membership.pk %}" title="Edit {{ membership }}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        {% if perms.workshops.delete_membership %}
        <label class="space2 glyphicon glyphicon-remove" title="Delete {{ membership }}" style="cursor:pointer">
          <input type="submit" class="hidden" />
        </label>
        {% endif %}
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No memberships for this organization.</p>
{% endif %}
{% if perms.workshops.add_membership and perms.workshops.change_organization %}
<a href="{% url 'membership_add' organization.domain %}" class="btn btn-default">Add a membership</a>
{% else %}
<a href="#" class="btn btn-default disabled">Add a membership</a>
{% endif %}
{% endblock %}
