{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_url 'Amy' 'index'  %}
    {% breadcrumb_url 'All pending' 'all_pending' %}
    {% breadcrumb_active pending  %}
{% endblock %}

{% block content %}
<table class="table table-striped">
  <tr><td>site:</td><td><a href="{% url 'site_details' pending.site.domain %}">{{ pending.site }}</a></td></tr>
  <tr><td>project:</td><td>{{ pending.project }}</td></tr>
  <tr><td>organizer:</td><td><a href="{% url 'site_details' pending.organizer.domain %}">{{ pending.organizer.domain }}</a></td></tr>
  <tr><td>notes:</td><td>{{ pending.notes }}</td></tr>
</table>

<p class="edit-object"><a href="{% url 'pending_edit' pending.id %}">Edit this pending event</a></p>
{% endblock %}
