{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_index_all_objects person %}
    {% breadcrumb_active person %}
{% endblock %}

{% block content %}
<table class="table table-striped">
  <tr><td>personal:</td><td id="personal">{{ person.personal }}</td></tr>
  <tr><td>middle:</td><td id="middle">{{ person.middle }}</td></tr>
  <tr><td>family:</td><td id="family">{{ person.family }}</td></tr>
  <tr><td>email:</td><td id="email">{{ person.email }}</td></tr>
  <tr><td>gender:</td><td id="gender">{{ person.get_gender_display }}</td></tr>
  <tr><td>may contact:</td><td id="may_contact">{{ person.may_contact }}</td></tr>
  <tr><td>airport:</td><td id="airport">{{ person.airport }}</td></tr>
  <tr><td>github:</td><td id="github">{{ person.github }}</td></tr>
  <tr><td>twitter:</td><td id="twitter">{{ person.twitter }}</td></tr>
  <tr><td>url:</td><td id="url">{{ person.url }}</td></tr>
</table>

{% if awards %}
<p>Awards</p>
<ul>
  {% for a in awards %}
  <li class="awards_item" id="awards_{{forloop.counter0}}">{{ a }}</li>
  {% endfor %}
</ul>
{% else %}
<p>No awards.</p>
{% endif %}

{% if tasks %}
<p>Tasks</p>
<ul>
  {% for t in tasks %}
  <li class="tasks_item" id="tasks_{{forloop.counter0}}"><a href="{% url 'task_details' t.id %}">{{ t }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No tasks.</p>
{% endif %}

<p class="edit-object"><a href="{% url 'person_edit' person.id %}">Edit this person</a></p>
{% endblock %}
