{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_url 'Index' 'index'  %}
    {% breadcrumb_url 'All persons' 'all_persons' %}
    {% breadcrumb_active 'Process CSV File'  %}
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<table class="table table-striped">
    <tr>
        <th>personal</th>
        <th>middle</th>
        <th>family</th>
        <th>email</th>
        <th>event</th>
        <th>role</th>
        <th>valid</th>
    </tr>
    {% for entry in persons_tasks %}
    <tr {% if not entry.valid %} class="bg-danger"{% endif %}>
        <td>{{ entry.person.personal }}</td>
        <td>{{ entry.person.middle }}</td>
        <td>{{ entry.person.family }}</td>
        <td>{{ entry.person.email }}</td>
        <td>{{ entry.task.event.slug }}</td>
        <td>{{ entry.task.role.name }}</td>
        {% if entry.valid %}
        <td>{{ entry.valid }}</td>
        {% else %}
        <td>{{ entry.valid }}, {{ entry.reason }}</td>
        {% endif %}

    </tr>
    {% endfor %}
</table>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Import People" />
    <a href="{% url 'person_bulk_add' %}">Cancel</a>
</form>

{% endblock %}
