{% extends "base_nav_fixed.html" %}

{% load crispy_forms_tags %}
{% load selectable_tags %}

{% block content %}
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#person" aria-controls="person" role="tab" data-toggle="tab">Person</a></li>
    <li role="presentation"><a href="#awards" aria-controls="awards" role="tab" data-toggle="tab">Awards</a></li>
    <li role="presentation"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">Tasks</a></li>
  </ul>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="person">
    {% crispy person_form %}
  </div>
  <div role="tabpanel" class="tab-pane" id="awards">
    {% crispy award_form %}
    {% if awards %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>badge</th>
          <th>awarded</th>
          <th>event</th>
          <th>awarded by</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        {% for award in awards %}
        <tr>
          <td><a href="{{ award.badge.get_absolute_url }}">{{ award.badge.title }}</a></td>
          <td>{{ award.awarded }}</td>
          <td>{% if award.event %}<a href="{{ award.event.get_absolute_url }}">{{ award.event }}</a>{% else %}—{% endif %}</td>
          <td>{% if award.awarded_by %}<a href="{{ award.awarded_by.get_absolute_url }}">{{ award.awarded_by.get_full_name }}</a>{% else %}—{% endif %}</td>
          <td>
            <a onclick='return confirm("Are you sure you wish to drop award \"{{ award.badge.title }}\" from \"{{ award.person }}\"?")' href="{% url 'award_delete' award_id=award.pk person_id=award.person.pk %}" class='btn btn-danger'>Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No awards</p>
    {% endif %}
  </div>
  <div role="tabpanel" class="tab-pane" id="tasks">
    {% crispy task_form %}
    {% if tasks %}
    <ul>
      {% for task in tasks %}
      <li>{{ task.role.name }} during <a href="{{ task.event.get_absolute_url }}">{{ task.event }}</a> (<a href="{{ task.get_absolute_url }}">show task</a>)</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No tasks.</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extrajs %}
{{ person_form.media }}
{{ award_form.media }}
{{ task_form.media }}
<script type="text/javascript">
  $(document).ready(function() {
    $("#id_award-awarded").datepicker({
      format: "yyyy-mm-dd",
      todayHighlight: true
    });
    $('.nav-tabs').stickyTabs();
  });
</script>
{% endblock extrajs %}
