{% extends "workshops/_page.html" %}
{% block content %}
<p>personal: {{ person.personal }}</p>
<p>middle: {{ person.middle }}</p>
<p>family: {{ person.family }}</p>
<p>email: {{ person.email }}</p>
<p>gender: {{ person.gender }}</p>
<p>active: {{ person.active }}</p>
<p>airport: {{ person.airport }}</p>
<p>github: {{ person.github }}</p>
<p>twitter: {{ person.twitter }}</p>
<p>url: {{ person.url }}</p>
<p>... <a href="{% url 'all_persons' %}">all persons</a></p>
<p>... <a href="{% url 'index' %}">index</a></p>
{% endblock %}
