{% extends "base_nav.html" %}

{% load crispy_forms_tags %}

{% block content %}
<nav class="col-12">
  <ul class="nav nav-tabs" role="tablist" id="tabs">
    <li role="presentation" class="nav-item"><a class="nav-link active" href="#person" role="tab" data-toggle="tab" aria-controls="person" aria-selected="true" id="person-tab">Person</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#awards" role="tab" data-toggle="tab" aria-controls="awards">Awards</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#tasks" role="tab" data-toggle="tab" aria-controls="tasks">Tasks</a></li>
  </ul>
</nav>

<div class="col-12 tab-content">
  <div class="tab-pane active" role="tabpanel" aria-labelledby="person-tab" id="person">
    {% crispy form %}
  </div>
  <div class="tab-pane" role="tabpanel" aria-labelledby="awards-tab" id="awards">
    {% if perms.workshops.add_awards %}
    <form class="form-horizontal" role="form" method="POST" action="{% url 'award_add' %}?next={{ request.get_full_path|urlencode }}#awards">
      {% crispy award_form %}
    </form>
    {% endif %}

    {% if awards %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>badge</th>
          <th>awarded</th>
          <th>event</th>
          <th>awarded by</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        {% for award in awards %}
        <tr>
          <td><a href="{{ award.badge.get_absolute_url }}">{{ award.badge.title }}</a></td>
          <td>{{ award.awarded }}</td>
          <td>{% if award.event %}<a href="{{ award.event.get_absolute_url }}">{{ award.event }}</a>{% else %}—{% endif %}</td>
          <td>{% if award.awarded_by %}<a href="{{ award.awarded_by.get_absolute_url }}">{{ award.awarded_by.full_name }}</a>{% else %}—{% endif %}</td>
          <td>
            {% if perms.workshops.delete_award %}
            <form action="{% url 'award_delete' pk=award.id %}?next={{ request.get_full_path|urlencode }}#awards" onsubmit='return confirm("Are you sure you wish to drop award \"{{ award.badge.title }}\" from \"{{ award.person }}\"?")' method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            {% else %}
            <button class="btn btn-danger disabled">Delete</button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No awards.</p>
    {% endif %}
  </div>
  <div class="tab-pane" role="tabpanel" aria-labelledby="tasks-tab" id="tasks">
    {% if perms.workshops.add_tasks %}
    <form class="form-horizontal" role="form" method="POST" action="{% url 'task_add' %}?next={{ request.get_full_path|urlencode }}#tasks">
      {% crispy task_form %}
    </form>
    {% endif %}

    {% if tasks %}
    <ul>
      {% for task in tasks %}
      <li>{{ task.role.name }} during <a href="{{ task.event.get_absolute_url }}">{{ task.event }}</a> (<a href="{{ task.get_absolute_url }}">show task</a>)</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No tasks.</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extrajs %}
{{ form.media }}
{{ award_form.media }}
{{ task_form.media }}
<script type="text/javascript">
  $(document).ready(function() {
    $("#id_award-awarded").datepicker({
      format: "yyyy-mm-dd",
      todayHighlight: true
    });
    $('#tabs').stickyTabs();
  });
</script>
{% endblock extrajs %}
