{% extends "base_nav_fixed.html" %}

{% load links %}
{% load revisions %}

{% block content %}
{% last_modified person %}

<div class="edit-object">
  {% if perms.workshops.change_person %}
  <a href="{% url 'person_edit' person.id %}" class="btn btn-primary">Edit</a>
  {% else %}
  <a href="{% url 'person_edit' person.id %}" class="btn btn-primary disabled">Edit</a>
  {% endif %}
  <div class="btn-group pull-right" role="group">
    {% if perms.workshops.change_person %}
    <a href="{% url 'person_permissions' person.id %}" class="btn btn-default">Change permissions</a>
    {% else %}
    <a href="{% url 'person_permissions' person.id %}" class="btn btn-default disabled">Change permissions</a>
    {% endif %}
    {% if perms.workshops.change_person or person == request.user %}
    <a href="{% url 'person_password' person.id %}" class="btn btn-default">Change password</a>
    {% else %}
    <a href="{% url 'person_password' person.id %}" class="btn btn-default disabled">Change password</a>
    {% endif %}
  </div>
</div>
<table class="table table-striped">
  <tr><td>username:</td><td id="username">{{ person.username|default:"—" }}</td></tr>
  <tr><td>personal:</td><td id="personal">{{ person.personal|default:"—" }}</td></tr>
  <tr><td>middle:</td><td id="middle">{{ person.middle|default:"—" }}</td></tr>
  <tr><td>family:</td><td id="family">{{ person.family|default:"—" }}</td></tr>
  <tr><td>may contact:</td><td id="may_contact">{{ person.may_contact|yesno }}</td></tr>
  <tr><td>email:</td><td id="email">{% if person.email %}{{ person.email|urlize }}{% else %}—{% endif %}</td></tr>
  <tr><td>gender:</td><td id="gender">{{ person.get_gender_display|default:"—" }}</td></tr>
  <tr><td>airport:</td><td id="airport">{% if person.airport %}<a href="{{ person.airport.get_absolute_url }}">{{ person.airport }}</a>{% else %}—{% endif %}</td></tr>
  <tr><td>affiliation:</td><td>{{ person.affiliation|default:"—" }}</td></tr>
  <tr><td>github:</td>
      <td>
        {% if person.github %}
          <a href="https://github.com/{{ person.github }}" target="_blank">{{ person.github }}</a>
          {% if is_usersocialauth_in_sync == 'unknown' %}
            <a id="socialauth_sync_btn" href="#" class="btn btn-warning btn-xs pull-right" data-toggle="popover" data-html="true" title="Unknown error" data-content="Cannot check if person can log in due to errors in GitHub API access">Allow logging in with GitHub</a>
          {% elif is_usersocialauth_in_sync == True %}
            <a id="socialauth_sync_btn" href="#" class="btn btn-success btn-xs pull-right" data-toggle="popover" data-html="true" title="Synchronized" data-content="Person can use their GitHub account to log in">Logging in allowed</a>
          {% else %}
            <a href="{% url 'sync_usersocialauth' person.id %}" class="btn btn-primary btn-xs pull-right">Allow logging in with GitHub</a>
          {% endif %}
        {% else %}
          —
        {% endif %}
      </td></tr>
  <tr><td>can login with:</td><td>{% for auth in person.social_auth.all %}{{ auth.provider|title }}{% if not forloop.last %}, {% endif %}{% empty %}—{% endfor %}</td></tr>
  <tr><td>twitter:</td><td id="twitter">{% if person.twitter %}<a href="https://twitter.com/{{ person.twitter }}" target="_blank">{{ person.twitter }}</a>{% else %}—{% endif %}</td></tr>
  <tr><td>url:</td><td id="url">{{ person.url|urlize_newtab|default:"—" }}</td></tr>
  <tr><td>occupation:</td><td>{{ person.occupation|default:"—" }}</td></tr>
  <tr><td>ORCID ID:</td><td>{{ person.orcid|default:"—" }}</td></tr>
</table>

{% if person.notes %}
<p>Notes:</p>
<pre>
{{ person.notes }}
</pre>
{% else %}
<p>No notes.</p>
{% endif %}

<div class="row">
  <div class="col-sm-6">
    {% if awards %}
    <h5>Awards:</h5>
    <ul>
      {% for a in awards %}
      <li>awarded {% if a.awarded_by %}by <a href="{{ a.awarded_by.get_absolute_url }}">{{ a.awarded_by.get_full_name }}</a>{% endif %} a(n) <a href="{{ a.badge.get_absolute_url }}">{{ a.badge }}</a> badge on {{ a.awarded }}{% if a.event %} for <a href="{{ a.event.get_absolute_url }}">{{ a.event }}</a>{% endif %}</li>
      {% endfor %}
    </ul>
    {% else %}
    <h5>No awards.</h5>
    {% endif %}

    {% if tasks %}
    <h5>Tasks:</h5>
    <ul>
      {% for t in tasks %}
      <li>
        {{ t.role }} during <a href="{{ t.event.get_absolute_url }}">{{ t.event.slug }}</a> (<a href="{{ t.get_absolute_url }}">show task</a>)
      </li>
      {% endfor %}
    </ul>
    <ul>
      {% if person.num_taught %}
      <li> Has taught {{ person.num_taught }} time{{ person.num_taught|pluralize }}</li>
      {% endif %}
      {% if person.num_helper %}
      <li> Has helped {{ person.num_helper }} time{{ person.num_helper|pluralize }}</li>
      {% endif %}
      {% if person.num_learner %}
      <li> Has learned {{ person.num_learner }} time{{ person.num_learner|pluralize }}</li>
      {% endif %}
    </ul>
    {% else %}
    <h5>No tasks.</h5>
    {% endif %}
  </div>

  <div class="col-sm-6">
    {% if domains %}
    <h5>Knowledge domains:</h5>
    <ul>
      {% for d in domains %}
      <li>{{ d }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <h5>No knowledge domains.</h5>
    {% endif %}

    {% if lessons %}
    <h5>Lessons:</h5>
    <ul>
      {% for l in lessons %}
      <li>{{ l }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <h5>No lessons.</h5>
    {% endif %}

    {% if languages %}
    <h5>Languages:</h5>
    <ul>
      {% for lang in languages %}
      <li>{{ lang }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <h5>No language preference.</h5>
    {% endif %}
  </div>
</div>

<div class="edit-object">
  {% if perms.workshops.change_person %}
  <a href="{% url 'person_edit' person.id %}" class="btn btn-primary">Edit</a>
  {% else %}
  <a href="{% url 'person_edit' person.id %}" class="btn btn-primary disabled">Edit</a>
  {% endif %}
  <div class="btn-group pull-right" role="group">
    {% if perms.workshops.change_person %}
    <a href="{% url 'person_permissions' person.id %}" class="btn btn-default">Change permissions</a>
    {% else %}
    <a href="{% url 'person_permissions' person.id %}" class="btn btn-default disabled">Change permissions</a>
    {% endif %}
    {% if perms.workshops.change_person or person == request.user %}
    <a href="{% url 'person_password' person.id %}" class="btn btn-default">Change password</a>
    {% else %}
    <a href="{% url 'person_password' person.id %}" class="btn btn-default disabled">Change password</a>
    {% endif %}
    {% if perms.workshops.delete_person %}
    <a href="{% url 'person_delete' person.id %}" onclick='return confirm("Are you sure you wish to remove \"{{ person }}\"?")' class="btn btn-danger">Delete person</a>
    {% else %}
    <a href="{% url 'person_delete' person.id %}" class="btn btn-danger disabled">Delete person</a>
    {% endif %}
  </div>
</div>
{% endblock %}
