{% extends "workshops/_page.html" %}

{% block content %}
{% if events %}
<p><span class="glyphicon glyphicon-envelope"></span> = mail instructors and host about problem</p>
<p><span class="glyphicon glyphicon-remove"></span> = no email addresses available</p>
<table class="table table-striped">
  <tr>
    <th>Event</th>
    <th>Attendance?</th>
    <th>Location?</th>
    <th>Dates?</th>
  </tr>
  {% for event in events %}
  <tr>
    <td>
      <a href="{% url 'event_details' event.get_ident %}">{{ event }}</a>
    </td>
    <td>
      {% if event.missing_attendance_ %}
        {% if event.mailto_ %}
          <a href="mailto:{{e.mailto_}}?subject={{'missing attendance figures for ' | urlencode}}{{event.get_ident}}&body={{'Hi, Can you please send us attendance figures for ' | urlencode}}{{event.get_ident}}{{'?  Thanks for your help.' | urlencode}}">
	  <span class="glyphicon glyphicon-envelope"></span>
	  </a>
        {% else %}
	  <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% if event.missing_location_ %}
        {% if event.mailto_ %}
          <a href="mailto:{{event.mailto_}}?subject={{'missing location for ' | urlencode}}{{event.get_ident}}&body={{'Hi, Can you please send us the location for ' | urlencode}}{{event.get_ident}}{{'?  Thanks for your help.' | urlencode}}">
	  <span class="glyphicon glyphicon-envelope"></span>
	  </a>
        {% else %}
	  <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% if event.bad_dates_ %}
        {% if event.mailto_ %}
          <a href="mailto:{{event.mailto_}}?subject={{'bad dates for ' | urlencode}}{{event.get_ident}}&body={{'Hi, Can you please confirm the start and end dates for ' | urlencode}}{{event.get_ident}}{{'?  Thanks for your help.' | urlencode}}">
	  <span class="glyphicon glyphicon-envelope"></span>
	  </a>
        {% else %}
	  <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>None</p>
{% endif %}
{% endblock %}
