{% extends "workshops/_page.html" %}

{% block content %}
{% if events %}
<table class="table table-striped">
  <tr>
    <th>Event</th>
    <th>Attendance?</th>
    <th>Location?</th>
    <th>Dates?</th>
  </tr>
  {% for event in events %}
  <tr>
    <td>
      <a href="{% url 'event_details' event.get_ident %}">{{ event }}</a>
    </td>
    <td>
      {% if not event.attendance %}
        {% if event.mailto %}
          <a href="mailto:{% for m in event.mailto %}{{ m }}{% if not forloop.last %},{% endif %}{% endfor %}?subject={{'missing attendance figures for ' | urlencode}}{{event.get_ident}}&body={{'Hi, Can you please send us attendance figures for ' | urlencode}}{{event.get_ident}}{{'?  Thanks for your help.' | urlencode}}">
	  <span class="glyphicon glyphicon-envelope"></span>
	  </a>
        {% else %}
	  <span class="glyphicon glyphicon-asterisk"></span>
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% if not event.country  %}
        {% if event.mailto %}
          <a href="mailto:{% for m in event.mailto %}{{ m }}{% if not forloop.last %},{% endif %}{% endfor %}?subject={{'missing location for ' | urlencode}}{{event.get_ident}}&body={{'Hi, Can you please send us the location for ' | urlencode}}{{event.get_ident}}{{'?  Thanks for your help.' | urlencode}}">
	  <span class="glyphicon glyphicon-envelope"></span>
	  </a>
        {% else %}
	  <span class="glyphicon glyphicon-asterisk"></span>
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% if event.start and event.end and (event.start > event.end)  %}
        {% if event.mailto %}
          <a href="mailto:{% for m in event.mailto %}{{ m }}{% if not forloop.last %},{% endif %}{% endfor %}?subject={{'bad dates for ' | urlencode}}{{event.get_ident}}&body={{'Hi, Can you please confirm the start and end dates for ' | urlencode}}{{event.get_ident}}{{'?  Thanks for your help.' | urlencode}}">
	  <span class="glyphicon glyphicon-envelope"></span>
	  </a>
        {% else %}
	  <span class="glyphicon glyphicon-asterisk"></span>
        {% endif %}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>None</p>
{% endif %}
{% endblock %}
