{% extends "base_nav_fixed.html" %}

{% load crispy_forms_tags %}
{% load links %}

{% block content %}
{% if new.active %}
  <div class="alert alert-info" role="alert">
    <p><strong>Instruction:</strong> Verify with the person from the
    database that they updated their profile with data from the 'Update
    request' column.</p>
  </div>
  {% if not old %}
  <div class="alert alert-danger" role="alert">
    <p><strong>Error:</strong> No-one matches this email ({{ new.email }}) or name ({{ new.personal }} {{ new.family }}). Look up possible match yourself using search option and then point to that person below.</p>
  </div>
  {% crispy person_form form_helper %}
  {% endif %}
  {% if person_selected %}
  <div class="alert alert-warning" role="alert">
    <p><strong>Re-select:</strong> You can change your selection below.</p>
  </div>
  {% crispy person_form form_helper %}
  {% endif %}
{% else %}
  <div class="alert alert-warning" role="alert">
    <p><strong>Warning:</strong> This request was closed.</p>
  </div>
{% endif %}
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Update request <span class="label label-primary">New</span></th>
      <th>Person in the database <span class="label label-primary">Old</span></th>
    </tr>
  </thead>
  <tbody>
    <tr><th>Personal:</th>
        <td>{{ new.personal }}</td>
        <td>{% if old %}{{ old.personal|default:"—" }}{% endif %}</td></tr>
    <tr><th>Family:</th>
        <td>{{ new.family }}</td>
        <td>{% if old %}{{ old.family|default:"—" }}{% endif %}</td></tr>
    <tr><th>Email:</th>
        <td>{{ new.email|urlize }}</td>
        <td>{% if old %}{{ old.email|default:"—"|urlize }}{% endif %}</td></tr>
    <tr><th>Affiliation:</th>
        <td>{{ new.affiliation|default:"—" }}</td>
        <td>{% if old %}{{ old.affiliation|default:"—" }}{% endif %}</td></tr>
    <tr><th>Nearest major airport:</th>
        {% if airport %}
        <td><a href="{{ airport.get_absolute_url }}">{{ airport.iata }}</a></td>
        {% else %}
        <td><a href="{% url 'airport_add' %}" title="Add airport {{ new.airport_iata }}">{{ new.airport_iata }}</a> <span class="label label-danger">Missing airport</span>  (<a href="https://www.world-airport-codes.com/search/?s={{ new.airport_iata }}" target="_blank">Lookup</a>)</td>
        {% endif %}
        <td>{% if old and old.airport %}<a href="{{ old.airport.get_absolute_url }}">{{ old.airport.iata }}</a>{% else %}—{% endif %}</td></tr>
    <tr><th>GitHub username:</th>
        <td>{{ new.github|default:"—" }}</td>
        <td>{% if old %}{{ old.github|default:"—" }}{% endif %}</td></tr>
    <tr><th>Twitter username:</th>
        <td>{{ new.twitter|default:"—" }}</td>
        <td>{% if old %}{{ old.twitter|default:"—" }}{% endif %}</td></tr>
    <tr><th>Personal website:</th>
        <td>{{ new.website|default:"—"|urlize_newtab }}</td>
        <td>{% if old %}{{ old.url|default:"—"|urlize_newtab }}{% endif %}</td></tr>
    <tr><th>Gender:</th>
        <td>{{ new.get_gender_display }} {{ new.gender_other }}</td>
        <td>{% if old %}{{ old.get_gender_display }}{% endif %}</td></tr>
    <tr><th>Occupation/Career stage:</th>
        <td>{{ new.get_occupation_display }} {{ new.occupation_other }}</td>
        <td>{% if old %}{{ old.occupation|default:"—" }}{% endif %}</td></tr>
    <tr><th>ORCID ID:</th>
        <td>{{ new.orcid|default:"—" }}</td>
        <td>{% if old %}{{ old.orcid|default:"—" }}{% endif %}</td></tr>
    <tr><th>Areas of expertise:</th>
        <td>
          <ul>
          {% for domain in new.domains.all %}
            <li>{{ domain }}</li>
          {% endfor %}
          {% if new.domains_other %}
            <li>{{ new.domains_other }}</li>
          {% endif %}
          </ul>
        </td>
        <td>
        {% if old %}
          <ul>
          {% for domain in old.domains.all %}
            <li>{{ domain }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        </td>
    </tr>
    <tr><th>Lessons:</th>
        <td>
          <ul>
          {% for lesson in new.lessons.all %}
            <li>{{ lesson }}</li>
          {% endfor %}
          {% if new.lessons_other %}
            <li>{{ new.lessons_other }}</li>
          {% endif %}
          </ul>
        </td>
        <td>
        {% if old %}
          <ul>
          {% for lesson in old.lessons.all %}
            <li>{{ lesson }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        </td>
    </tr>
    <tr><th>Has instructor badge:</th>
        <td><em>Not available since it applies to people from database only</em></td>
        <td>{% if old %}{{ old.has_instructor_badge|yesno }}{% endif %}</td></tr>
  </tbody>
</table>

{% if new.active %}
<div class="clearfix">
  <div class="edit-object pull-left">
    {% if old and airport and perms.workshops.change_profileupdaterequest and perms.workshops.change_person %}
    <a href="{% url 'profileupdaterequest_accept' new.pk old.pk %}"  onclick='return confirm("Did you verify the changes with \"{{ old }}\"? If you agree, their record will get updated.")' class="btn btn-success">Update</a>
    {% else %}
    <a href="#" class="btn btn-success disabled">Update</a>
    {% endif %}
  </div>
  <div class="btn-group delete-object pull-right" role="group">
    <a href="{% url 'profileupdaterequest_fix' new.pk %}" role="button" class="btn btn-default">Fix request</a>
    {% if perms.workshops.change_profileupdaterequest %}
    <a href="{% url 'profileupdaterequest_discard' new.pk %}" role="button" onclick='return confirm("Are you sure you wish to discard \"{{ new }}\"?")' class="btn btn-danger">Discard request</a>
    {% else %}
    <a href="#" role="button" class="btn btn-danger disabled">Discard request</a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
