{% extends "workshops/_page.html" %}

{% load crispy_forms_tags %}
{% block content %}
  {% crispy form form_helper %}

<div class="container">
  <div class="row">

    <div class="col-sm-3">
      <h2>Sites</h2>
      {% if sites %}
      <ul>
	{% for s in sites %}
	<li><a class="searchresult" href="{% url 'site_details' s.domain %}">{{ s.domain }}</a></li>
	{% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="col-sm-3">
      <h2>Events</h2>
      {% if events %}
      <ul>
	{% for e in events %}
	<li><a class="searchresult" href="{% url 'event_details' e.get_ident %}">{{ e.get_ident }}</a></li>
	{% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="col-sm-3">
      <h2>Persons</h2>
      {% if persons %}
      <ul>
	{% for p in persons %}
	<li><a class="searchresult" href="{% url 'person_details' p.id %}">{{ p }}</a></li>
	{% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="col-sm-3">
      <h2>Airports</h2>
      {% if airports %}
      <ul>
	{% for a in airports %}
	<li><a class="searchresult" href="{% url 'airport_details' a.iata %}">{{ a }}</a></li>
	{% endfor %}
      </ul>
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}
