{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_index_all_objects site %}
    {% breadcrumb_active site %}
{% endblock %}

{% block content %}

<table class="table table-striped">
  <tr><td>full name:</td><td>{{ site.fullname }}</td></tr>
  <tr><td>domain:</td><td><a href="http://{{ site.domain }}">{{ site.domain }}</a></td></tr>
  <tr><td>country:</td><td>{{ site.country }}</td></tr>
</table>

{% if site.notes %}
<p>Notes:</p>
<pre>
{{ site.notes }}
</pre>
{% else %}
<p>No notes.</p>
{% endif %}

{% if events %}
<table class="table table-striped">
  <tr>
    <th>tags</th>
    <th>start date</th>
    <th>end date</th>
    <th>slug</th>
    <th>url</th>
  </tr>
  {% for e in events %}
  <tr>
    <td>{{ e.tags.all | join:", " }}</td>
    <td>{{ e.start }}</td>
    <td>{{ e.end }}</td>
    <td><a href="{% url 'event_details' e.slug %}">{{ e.slug }}</a></td>
    <td><a href="{{ e.url }}">{{ e.url }}</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No events.</p>
{% endif %}

<p class="edit-object"><a href="{% url 'site_edit' site.domain %}">Edit this site</a></p>
{% endblock %}
