{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_index_all_objects model %}
    {% if object %}
        {% breadcrumb_object object %}
        {% breadcrumb_edit_object object %}
    {% else %}
        {% breadcrumb_new_object model %}
    {% endif %}
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}

