{% extends "base_nav_fixed.html" %}

{% load revisions %}
{% load links %}

{% block content %}
{% last_modified task %}

<table class="table table-striped">
  <tr><td>event:</td><td><a href="{{ task.event.get_absolute_url }}">{{ task.event }}</a></td></tr>
  <tr><td>person:</td><td><a href="{{ task.person.get_absolute_url }}">{{ task.person }}</a></td></tr>
  <tr><td>title:</td><td>{{ task.title }}</td></tr>
  <tr><td>role:</td><td>{{ task.role }}</td></tr>
  <tr><td>url:</td><td>{{ task.url|urlize_newtab }}</td></tr>
</table>

<div class="clearfix">
  {% if perms.workshops.change_task %}
  <p class="edit-object pull-left"><a href="{% url 'task_edit' task.id %}" class="btn btn-primary">Edit</a></p>
  {% else %}
  <p class="edit-object pull-left"><a href="{% url 'task_edit' task.id %}" class="btn btn-primary disabled">Edit</a></p>
  {% endif %}
  <div class="delete-object pull-right">
    {% if perms.workshops.delete_task %}
      <form action="{% url 'task_delete' task.id %}" onsubmit='return confirm("Are you sure you wish to remove \"{{ task }}\"?")' method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete task</button>
      </form>
    {% else %}
    <button class="btn btn-danger disabled">Delete task</button>
    {% endif %}
  </div>
</div>
{% endblock %}
