{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_index_all_objects task %}
    {% breadcrumb_active task %}
{% endblock %}

{% block content %}

<table class="table table-striped">
  <tr><td>event:</td><td>{{ task.event }}</td></tr>
  <tr><td>person:</td><td>{{ task.person }}</td></tr>
  <tr><td>role:</td><td>{{ task.role }}</td></tr>
</table>

<p class="edit-object"><a href="{% url 'task_edit' task.id %}">Edit this task</a></p>
{% endblock %}
