{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_url 'Amy' 'index'  %}
    {% breadcrumb_url 'All tasks' 'all_tasks' %}
    {% if object %}
        {% url 'task_details' object.event.slug object.person.id task.role.name as object_url %}
        {% breadcrumb "Task" object_url %}
        {% breadcrumb_active 'Edit task'  %}
    {% else %}
        {% breadcrumb_active 'New task'  %}
    {% endif %}
{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}

