{% extends "base_nonav_fixed.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% if swc_form.errors or dc_form.errors %}
  <div class="alert alert-danger" role="alert">Fix errors in your homework submission.</div>
{% endif %}

<div>

<p><a href="{% url 'logout' %}" class="btn btn-primary">Log out</a></p>

<table class="table table-striped">
  <tr><th>personal name</th><td>{{ user.personal|default:"—" }}</td></tr>
  <tr><th>middle name</th><td>{{ user.middle|default:"—" }}</td></tr>
  <tr><th>family name</th><td>{{ user.family|default:"—" }}</td></tr>
  <tr><th>email</th><td>{{ user.email|default:"—" }}</td></tr>
  <tr><th>gender</th><td>{{ user.get_gender_display }}</td></tr>
  <tr><th>can we contact you?</th><td>{{ user.may_contact|yesno }}</td></tr>
  <tr><th>airport</th><td>{{ user.airport|default:"—"  }}</td></tr>
  <tr><th>github</th><td>{{ user.github|default:"—" }}</td></tr>
  <tr><th>twitter</th><td>{{ user.twitter|default:"—" }}</td></tr>
  <tr><th>url</th><td>{{ user.url|default:"—" }}</td></tr>
  <tr><th>username</th><td>{{ user.username|default:"—" }}</td></tr>
  <tr><th>affiliation</th><td>{{ user.affiliation|default:"—" }}</td></tr>
  <tr><th>occupation</th><td>{{ user.occupation|default:"—" }}</td></tr>
  <tr><th>orcid</th><td>{{ user.orcid|default:"—" }}</td></tr>
  <tr><th>areas of expertise</th><td>
      <ul>
        {% for domain in user.domains.all %}
          <li>{{ domain }}</li>
        {% empty %}
          <li>No areas of expertise.</li>
        {% endfor %}
      </ul>
  </td></tr>
  <tr><th>lessons that you can teach</th><td>
      <ul>
        {% for lesson in user.lessons.all %}
          <li>{{ lesson }}</li>
        {% empty %}
          <li>No lesson chosen.</li>
        {% endfor %}
      </ul>
  </td></tr>
  <tr><th>languages</th><td>
      <ul>
        {% for language in user.languages.all %}
          <li>{{ language }}</li>
        {% empty %}
          <li>No languages.</li>
        {% endfor %}
      </ul>
  </td></tr>
  <tr><th>your badges</th><td>
      <ul>
        {% for badge in user.badges.all %}
          <li>{{ badge }}</li>
        {% empty %}
          <li>No badges awarded.</li>
        {% endfor %}
      </ul>
      <p>If you think that you're missing a badge, please email us at <a href="mailto:admin@software-carpentry.org">admin@software-carpentry.org</a></p>
  </td></tr>
</table>

<p><a href="{% url 'autoupdate_profile' %}" class="btn btn-primary">Update your profile</a></p>

<h2>Your progress of becoming Software Carpentry (SWC) and Data Carpentry (DC) Instructor</h2>

{% if user.is_swc_instructor and user.is_dc_instructor %}
  <p>Congratulations, you're certified both Software Carpentry and Data Carpentry Instructor!</p>
{% elif user.is_swc_instructor %}
  <p>Congratulations, you're certified Software Carpentry Instructor!</p>
{% elif user.is_dc_instructor %}
  <p>Congratulations, you're certified Data Carpentry Instructor!</p>
{% endif %}

<table class="table table-striped">
  <tr>
    <th>1. Training</th>
    <td>
      {% if user.training_passed %}
        <p><span class="label label-success">Training passed</span></p>
      {% else %}
        <p><span class="label label-default">Training not passed yet</span></p>
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>2. Homework</th>
    <td>
      {% if user.swc_homework_state == 'passed' %}
        <p><span class="label label-success">SWC Homework accepted</span></p>
      {% elif user.swc_homework_state == 'not-evaluated' %}
        <p><span class="label label-warning">SWC Homework not evaluated yet</span></p>
        <p>Please wait while we evaluate your homework.</p>
      {% elif user.swc_homework_state == 'none' %}
        <p><span class="label label-default">SWC Homework not submitted yet</span> </p>
        <p>This step is necessary only if you want to become Software Carpentry Instructor.</p>
        <p>
          Submit link to your Pull Request:
        </p>
        {% crispy swc_form %}
      {% endif %}

      <hr />

      {% if user.dc_homework_state == 'passed' %}
        <p><span class="label label-success">DC Homework accepted</span></p>
      {% elif user.dc_homework_state == 'not-evaluated' %}
        <p><span class="label label-warning">DC Homework not evaluated yet</span></p>
        <p>Please wait while we evaluate your homework.</p>
      {% elif user.dc_homework_state == 'none' %}
        <p><span class="label label-default">DC Homework not submitted yet</span></p>
        <p>This step is necessary only if you want to become Data Carpentry Instructor.</p>
        <p>
          Submit link to your Homework:
        </p>
        {% crispy dc_form %}
      {% endif %}

    </td>
  </tr>
  <tr>
    <th>3. Discussion Session</th>
    <td>
      {% if user.discussion_passed %}
        <p><span class="label label-success">Discussion Session passed</span></p>
      {% else %}
        <p><span class="label label-default">Discussion Session not passed yet</span></p>
        <p>Register for Discussion Session on <a href="http://pad.software-carpentry.org/instructor-discussion">this Etherpad</a>. Register for only one session even if you want to become both SWC and DC Instructor. </p>
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>4. Demo Session</th>
    <td>
      {% if user.swc_demo_passed %}
        <p><span class="label label-success">SWC Demo Session passed</span></p>
      {% else %}
        <p><span class="label label-default">SWC Demo Session not passed yet</span> </p>
      {% endif %}

      {% if user.dc_demo_passed %}
        <p><span class="label label-success">DC Demo Session passed</span></p>
      {% else %}
        <p><span class="label label-default">DC Demo Session not passed yet</span></p>
      {% endif %}

      {% if not user.swc_demo_passed or not user.dc_demo_passed %}
        <p> Register for Demo Session on <a href="http://pad.software-carpentry.org/teaching-demos">this Etherpad</a>. If you want to become both SWC and DC Instructor, you have to teach <b>two</b> 5-minutes sessions during one or two sessions. </p>
      {% endif %}
    </td>
  </tr>
</table>

<p>In the case of any questions, please send us email at <a href="mailto:admin@software-carpentry.org">admin@software-carpentry.org</a></p>

</div>

{% endblock %}
