{% extends "base_nonav_fixed.html" %}
{% block navbar %}
  {% include 'navigation_trainee_fixed.html' %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div>
  <table class="table table-striped">
    <tr><th>personal name</th><td>{{ user.personal|default:"—" }}</td></tr>
    <tr><th>middle name</th><td>{{ user.middle|default:"—" }}</td></tr>
    <tr><th>family name</th><td>{{ user.family|default:"—" }}</td></tr>
    <tr><th>email</th><td>{{ user.email|default:"—" }}</td></tr>
    <tr><th>gender</th><td>{{ user.get_gender_display }}</td></tr>
    <tr><th>can we contact you?</th><td>{{ user.may_contact|yesno }}</td></tr>
    <tr><th>do you consent to publish your profile<br>on The Carpentries website?</th><td>{{ user.publish_profile|yesno }}</td></tr>
    <tr><th>airport</th><td>{{ user.airport|default:"—"  }}</td></tr>
    <tr><th>github</th><td>{{ user.github|default:"—" }}</td></tr>
    <tr><th>twitter</th><td>{{ user.twitter|default:"—" }}</td></tr>
    <tr><th>url</th><td>{{ user.url|default:"—" }}</td></tr>
    <tr><th>username</th><td>{{ user.username|default:"—" }}</td></tr>
    <tr><th>affiliation</th><td>{{ user.affiliation|default:"—" }}</td></tr>
    <tr><th>occupation</th><td>{{ user.occupation|default:"—" }}</td></tr>
    <tr><th>orcid</th><td>{{ user.orcid|default:"—" }}</td></tr>
    <tr><th>areas of expertise</th><td>
        <ul>
          {% for domain in user.domains.all %}
            <li>{{ domain }}</li>
          {% empty %}
            <li>No areas of expertise.</li>
          {% endfor %}
        </ul>
    </td></tr>
    <tr><th>lessons that you can teach</th><td>
        <ul>
          {% for lesson in user.lessons.all %}
            <li>{{ lesson }}</li>
          {% empty %}
            <li>No lesson chosen.</li>
          {% endfor %}
        </ul>
    </td></tr>
    <tr><th>languages</th><td>
        <ul>
          {% for language in user.languages.all %}
            <li>{{ language }}</li>
          {% empty %}
            <li>No languages.</li>
          {% endfor %}
        </ul>
    </td></tr>
    <tr><th>your badges</th><td>
        <ul>
          {% for badge in user.badges.all %}
            <li>{{ badge }}</li>
          {% empty %}
            <li>No badges awarded.</li>
          {% endfor %}
        </ul>
        <p>If you think that you're missing a badge, please email us at <a href="mailto:team@carpentries.org">team@carpentries.org</a></p>
    </td></tr>
    <tr><th>your workshop activity</th><td>
        {% if workshops %}
        <table class="table">
          <tr>
            <th>Workshop name</th>
            <th>Dates</th>
            <th>Venue</th>
            <th>Your role</th>
          </tr>
          {% for task in workshops %}
            <tr>
            {% if task.event.website_url %}
              <td><a href="{{ task.event.website_url }}" target="_blank">{{ task.event.slug }}</a></td>
            {% else %}
              <td>{{ task.event.slug }}</td>
            {% endif %}
              <td>{{ task.event.start|date:'Y-m-d' }} &mdash; {{ task.event.end|date:'Y-m-d' }}</td>
              <td>{{ task.event.venue|default:'—' }}</td>
              <td>{{ task.role }}</td>
            </tr>
          {% endfor %}
        </table>
        {% else %}
        No workshops to show.
        {% endif %}
    </td></tr>
  </table>

  <p>
    <a href="{% url 'autoupdate_profile' %}" class="btn btn-primary">Update your profile</a>
    <a href="{% url 'api:export-person-data' %}?format=json" class="btn btn-default pull-right">Download your data</a>
  </p>

</div>

{% endblock %}
