{% extends "workshops/_page.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_main_page %}
    {% breadcrumb_index_all_objects event %}
    {% breadcrumb_active event %}
{% endblock %}

{% block content %}
{% if not page %}
<p>No valid URL in event record.</p>
{% else %}
  <p>Validating {{ page }}</p>
  {% if error_messages %}
    {% for message in error_messages %}
    <p>{{ message }}</p>
    {% endfor %}
  {% else %}
    <p>No errors</p>
  {% endif %}
{% endif %}
<p>... <a href="{% url 'event_details' event.slug %}">return to event</a></p>
<p>... <a href="{% url 'all_events' %}">all events</a></p>
<p>... <a href="{% url 'index' %}">index</a></p>
{% endblock %}
