{% extends "base_nav_fixed.html" %}

{% block content %}
<div id="validation">
  {% if not page %}
  <p>No valid URL in event record.</p>
  {% else %}
    {% if error_messages %}
      <div class="alert alert-danger" role="alert"><strong>Errors found!</strong> Fix errors below:</div>
      <ul>
        {% for message in error_messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-success" role="alert"><strong>Everythings fine</strong> No errors found.</div>
    {% endif %}
    <p>Validated file: <a href="{{ page }}">{{ page }}</a></p>
  {% endif %}
</div>
<p><a href="{% url 'event_details' event.get_ident %}" class="btn btn-primary">return to event</a></p>
{% endblock %}
