{% extends "base_nav.html" %}

{% block content %}

{% if is_admin or user.is_superuser %}
<div class="row">
  <div class="col-12">
    {% include "assignment.html" %}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-12">
    {% if events %}
    <p class="mt-4">Legend:</p>
    <ul>
      <li><i class="fas fa-envelope"></i> &mdash; mail instructors and host about problem</li>
      <li><i class="fas fa-times"></i> &mdash; no email addresses available</li>
    </ul>
    <table class="table table-striped">
      <tr>
        <th>Event</th>
        <th>Attendance <i class="fas fa-question-circle" data-toggle="tooltip" title="Number of attendees is missing"></i></th>
        <th>Instructors <i class="fas fa-question-circle" data-toggle="tooltip" title="No instructors assigned to the event"></i></th>
        <th>Location <i class="fas fa-question-circle" data-toggle="tooltip" title="Country, venue, address or lat/long are missing"></i></th>
        <th>Dates <i class="fas fa-question-circle" data-toggle="tooltip" title="Start date is in future of end date"></i></th>
      </tr>
      {% for event in events %}
      <tr>
        <td>
          <a href="{% url 'event_details' event.slug %}">{{ event }}</a>
        </td>
        <td>
          {% if event.missing_attendance %}
            {% if event.mailto or event.contacts %}
              <a href="{% include 'workshops/attendance_email_href.html' with event=event %}">
              <i class="fas fa-envelope"></i>
              </a>
            {% else %}
              <i class="fas fa-times"></i>
            {% endif %}
          {% endif %}
        </td>
        <td>
          {% if event.num_instructors <= 0 %}
            {% if event.mailto %}
              <a href="mailto:{{event.mailto}}?subject={% filter urlencode %}Missing instructors for workshop {{event.slug}}{% endfilter %}&body={% filter urlencode %}Hi,

Can you please send us list of instructors who taught at {{ event.slug }} workshop?

Thanks for your help.{% endfilter %}">
              <i class="fas fa-envelope"></i>
              </a>
            {% else %}
              <i class="fas fa-times"></i>
            {% endif %}
          {% endif %}
        </td>
        <td>
          {% if event.missing_location %}
            {% if event.mailto %}
              <a href="mailto:{{event.mailto}}?subject={% filter urlencode %}Missing location for workshop {{event.slug}}{% endfilter %}&body={% filter urlencode %}Hi,

Can you please send us the location where the {{ event.slug }} workshop took place? We need a country, address, venue, and latitude/longitude.

Thanks for your help.{% endfilter %}">
              <i class="fas fa-envelope"></i>
              </a>
            {% else %}
              <i class="fas fa-times"></i>
            {% endif %}
          {% endif %}
        </td>
        <td>
          {% if event.bad_dates %}
            {% if event.mailto %}
              <a href="mailto:{{event.mailto}}?subject={% filter urlencode %}Bad dates for workshop {{ event.slug }}{% endfilter %}&body={% filter urlencode %}Hi,

Can you please confirm the start and end dates for the workshop {{ event.slug }}?

Thanks for your help.{% endfilter %}">
              <i class="fas fa-envelope"></i>
              </a>
            {% else %}
              <i class="fas fa-times"></i>
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>None</p>
    {% endif %}
  </div>
</div>
{% endblock %}
